$passportWidth: 552px

#passport
  position: relative

.passport-wrap
  width: $passportWidth
  margin: 0 auto

.passport-logo
  height: 143px
  padding-top: 90px
  text-align: center

.passport-main
  padding-top: 40px
  background: image-url("/images/bg/passport_main.png") no-repeat

/*忘记密码
.forgot
  padding-left: 80px
  h2
    position: relative
    padding: 0 15px
    = rhombus_1
    b
      left: 100px
  .input-wrap
    +clearfix
    margin-left: 0
    padding-top: 20px
    label
      float: left
      line-height: 25px
      text-align: right
      margin-left: 0
      em
        color: #c80000
    .email-wrap
      float: left
      margin-left: 20px
      input
        width: 213px
        height: 23px
        +border-radius(3px)
        border: 1px solid #b2b2b2
      .error
        +error(215px,20px)
        margin: 10px 0

/*登录
.login
  padding-left: 115px
  h2
    position: relative
    padding: 0 15px
    +rhombus_1
    b
      left: 60px
  .allow-ways
    position: absolute
    font-size: $content-font
    color: $strong-color
    font-weight: normal
    left: 120px
    top: 3px
  .input-wrap
    padding-top: 45px
    .input-item
      +clearfix
      a
        font-size: $content-font
        color: $link-blue-color
      label
        float: left
        line-height: 25px
        text-align: right
        margin-left: 0
        em
          color: #c80000
      .email-wrap,.password-wrap
        float: left
        margin-left: 20px
        input[type="text"]
          width: 213px
          height: 23px
          +border-radius(3px)
          border: 1px solid #b2b2b2
        input[type="checkbox"]
          vertical-align: middle
        .error
          +error(215px,20px)
          margin: 10px 0
        .auto-login
          padding: 10px 0
          a
            margin-left: 60px
        .login-btn-wrap
          strong
            margin-left: 60px

/*注册
.signup
  padding-left: 95px
  h2
    position: relative
    padding: 0 15px
    +rhombus_1
    b
      left: 100px
  .input-wrap
    padding-top: 45px
    .input-item
      +clearfix
      a
        font-size: $content-font
        color: $link-blue-color
      label
        float: left
        width: 105px
        text-align: right
        line-height: 25px
        margin-left: 0
        em
          color: #c80000
      .input-item-wrap
        float: left
        margin-left: 20px
        input[type="text"]
          width: 213px
          height: 23px
          +border-radius(3px)
          border: 1px solid #b2b2b2
          margin-bottom: 0 
          padding: 0
        input[type="checkbox"]
          vertical-align: middle
        .error
          +error(215px,20px)
          margin: 10px 0

.signup-agree-item
  padding-left: 125px
  padding: 10px 0 10px 125px
  input[type="checkbox"]
    vertical-align: middle

.signup-btn-wrap
  padding-left: 125px
  strong
    margin-left: 30px
