#passport-mobile
  position: relative
  .passport-mobile-main
    margin-top: 35px
    padding: 0px 20px 0 30px
    .form-actions
      padding-left: 140px
    .controls
      margin-left: 0
      .help-inline
        margin-left: 140px
    .control-label
      margin-right: 10px
      width: 130px
    .user_remember_me
      .controls
        margin-left: 0
        margin-top: 0px
        .auto-login
          margin-left: 0
          margin-top: 13px
          height: 20px
          width: 20px
    .btn-login
      margin-left: 135px
      font-size: 20px
      color: $link-blue-color
    .btn-m-signup
      margin-left: 140px
    .login-sign
      font-size: 25px !important
    .forget-psw
      margin-left: 25px
      font-size: 20px
      color: $link-blue-color
    .meta
      height: 30px
      line-height: 30px
      margin-left: 140px
    .login-use-oauth
      margin-left: 140px
    .input-item
      +clearfix
      position: relative
      margin-bottom: 30px
      label
        float: left
        width: 200px
        height: 25px
        line-height: 35px
        padding-left: 10px
        margin-right: 0px
        margin-bottom: 0px
        font-size: 20px
        color: #4c4c4c
        abbr
          color: #c80000
      input
        width: 94%
        border-style: double
        height: 40px
        font-size: 20px
        box-shadow: none
        &:focus
          outline: none
      i
        position: absolute
        width: 100%
        height: 4px
        left: 0
        bottom: 0
        border-color: #b2b2b2
        border-style: solid
        border-width: 0 1px 1px 1px
    //.error Not worked at the moment
      //+error(140px,20px)
    button
      margin: 15px 0 30px 0
    .input-footer
      +clearfix
      padding-bottom: 25px
      .signup
        float: left
        height: 30px
        line-height: 30px
        margin-left: 165px
        font-size: 20px
      .getback
        float: right
      a
        font-size: 20px
        color: $link-blue-color
    .login-others
      h3
        height: 25px
        line-height: 25px
        font-weight: normal
      ul
        +clearfix
      li
        float: left
        margin-right: 15px

.mobile-signup
  position: relative
  .login-others
    position: absolute
    right: 0
    bottom: 70px

.identifying-code
  width: 185px
  height: 85px
  background-color: $bg-light-color

.login-others-type
  width: 140px
  height: 30px
  text-align: center
  line-height: 30px
  background-color: #747474
  color: $masthead-color
  margin-bottom: 30px

.forgot-mobile
  padding: 15px 8px 0 8px

.btn-m-passport
  height: 40px