<div class='login-use-oauth'>
  <div class='oauth-buttons'>
    <%= link_to image_tag('login-with-douban-18.png'), user_omniauth_authorize_path(:douban) %>
    <%= link_to image_tag('login-with-weibo-18.png'), user_omniauth_authorize_path(:weibo) %>
    <%= link_to image_tag('login-with-qq-16.png', size: '118x18'), user_omniauth_authorize_path(:qq_connect) %>
  </div>
</div>
