.gouhualan
  background-color: $block-bg-color
  +global-box-shadow
  border: 1px solid #eeeeee
  padding: 10px
  &.no-border
    border: none
.gouhualan-title
  position: relative
  font-size: $title-font-large
  color: $strong-color
  padding-bottom: 10px
  i
    margin-right: 10px
    font-size: 20px
