.process
  +clearfix
  padding-top: 35px
  padding-bottom: 35px
  font-size: $content-font
  color: $strong-color
  li
    float: left
    width: 313px
    height: 25px
    line-height: 25px
    text-align: center
    border-bottom: 3px solid $border-light-color
    margin-right: -30px
    &.cur
      border-color: $border-separate-color
