.buy-result
  line-height: 25px
  margin-bottom: 110px
  h1
    padding-bottom: 20px
  a
    color: $price-color
    text-decoration: none
  & > div
    position: relative
    padding-left: 80px
  i
    position: absolute
    left: 25px
    top: -2px
    width: 33px
    height: 33px
  .buy-success
    i
      background: image-url("bg/success.png") no-repeat
  .buy-failure
    i
      background: image-url("bg/failure.png") no-repeat
  p
    font-size: $content-font
  .via-service-tel
    color: #cc6633
