.gouhualan
  border: 1px solid #eeeeee
  padding: 10px
  &.no-border
    border: none
  .gouhualan-title
    position: relative
    font-size: $title-font-large
    color: $strong-color
    padding-left: 35px
    padding-bottom: 10px
    i
      position: absolute
      width: 30px
      height: 24px
      left: 0
      top: 0
      background: image-url("bg/gouhualan.png") no-repeat
