<p class='span4 meta'> <%= t('devise.oauth_services.views.sign_in_use_oauth') %>>> </p>
<div class='span7 login-use-oauth'>
  <%= link_to image_tag('login-with-douban.jpg'), user_omniauth_authorize_path(:douban), class: 'douban-oauth'%>
  <%= link_to image_tag('login-with-weibo.jpg'), user_omniauth_authorize_path(:weibo), class: 'weibo-oauth' %>
  <%= link_to image_tag('login-with-qq.jpg'), user_omniauth_authorize_path(:qq_connect), class: 'qq-oauth' %>
</div>
