<p class='span4 meta'> <%= t('devise.oauth_services.views.sign_in_use_oauth') %>>> </p>
<div class='login-use-oauth'>
  <%= link_to image_tag('login-with-douban.png'), user_omniauth_authorize_path(:douban) %><br><br>
  <%= link_to image_tag('login-with-weibo.png'), user_omniauth_authorize_path(:weibo) %><br><br>
  <%= link_to image_tag('login-with-qq.png'), user_omniauth_authorize_path(:qq_connect) %>
</div>
