@mixin meta_content()
  font-size: 90%
  color: $grayLight
  text-align: justify
  margin-top: 0

@mixin background_transparent($color, $alpha)
  $rgba: rgba($color, $alpha)
  $ie-hex-str: ie-hex-str($rgba)
  background-color: transparent
  background-color: $rgba
  -ms-filter: "filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str})"
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str})
  //TODO: chk if this ms-filter thing fit for IE

@mixin shadow($color: #333333, $alpha: 0.5)
  -webkit-box-shadow: 2px 2px 3px 1px rgba($color, $alpha)
  box-shadow: 2px 2px 3px 1px rgba($color, $alpha)
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')"
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')
  //seems -ms-filter- looks different with others
  //TODO: chk if this ms-filter thing fit for IE