.a-product
  float: left
  width: 220px
  height: 440px
  box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9)
  .share
    margin-top: 23px
    padding: 10px 10px 1px 10px
    border-color: $global-border-color
    border-style: solid
    border-width: 1px 0 1px 0
    .share-to
      float: right
    li
      margin-right: 7px
  .information
    +clearfix
    height: 30px
    padding: 10px
    .name
      float: left
    p
      float: right
      color: $global-text-color
      font-size: $price-font
