.a-product
  float: left
  width: 220px
  height: 440px
  margin-left: 20px
  margin-bottom: 20px
  background-color: $block-bg-color
  +global-box-shadow
  &.first
    margin-left: 0
  .share
    margin-top: 0px
    padding: 10px 10px 1px 10px
    border-bottom: 1px solid $global-border-color
    .share-to
      float: right
    li
      margin-right: 7px
  .information
    +clearfix
    position: relative
    height: 30px
    padding: 10px
    em
      display: block
    a
      color: $normal-text-color
      font-size: 16px
      display: inline-block
      width: 100px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    span
      font-size: 14px
    .name
      float: left
    p
      position: absolute
      right: 5px
      top: 10px
      color: $global-text-color
      font-size: $price-font
