.breadcrumb-wrap
  +clearfix
  padding-left: 30px
  padding-right: 5px
  height: 50px
  line-height: 50px
  .breadcrumb
    float: left
    a
      color: $strong-color
      &.cur
        color: $content-normal-color
  .service-num
    float: right
    font-size: $content-font
    color: $price-color
