.error-tips
  position: relative
  height: 55px
  line-height: 55px
  background: image-url("/images/bg/error_tips.png") repeat-x
  text-align: center
  font-size: $content-font
  color: $link-dark-color
  b
    position: absolute
    width: 21px
    height: 21px
    top: 15px
    right: 25px
    background: image-url("/images/bg/error_tips_close.png")