.pager
  position: relative
  padding: 30px 
  text-align: center
  ul
    display: inline-block
    li
      float: left
      width: 20px
      height: 20px
      margin-right: 10px
      line-height: 22px
      background: image-url("bg/pager.png") no-repeat 5px 1px
      text-align: center
      color: lightgray
      &.num,&.more
        background-position: -75px 1px
      &.next
        margin-right: 0
        background-position: -122px 1px
      &.cur
        background-position: -39px 1px
      a
        display: inline-block
        width: 20px
        height: 20px
        text-align: center
        color: black
        cursor: pointer
