.inputarea
  padding-left: 60px
  .control-label
    display: block
  .leftinput
    display: inline-block
    vertical-align: top
  .input
    width: 260px
    height: 21px
    border: 1px solid #E5E5E5
  .chosen-container
    border: 1px solid #E5E5E5
    -webkit-appearance: none
    border-radius: 0
    height: 19px
    text-align: center
    padding-left: 0
    vertical-align: top !important
    margin-right: 10px
    display: inline-block !important
  .order_form_address_province_id,.order_form_address_city_id,order_form_address_area_id
    .help-inline
      display: none
  .chosen-single
    border: none !important
    height: 19px !important
    box-shadow: none !important
    background: none !important
    line-height: 24px !important
  .help-block
    margin-top: 6px
    color: #FDA949
  .control-label
    margin-bottom: 5px
    margin-top: 21px
    color: black
  .order_form_instant_delivery
    .help-block
      display: inline-block
      font-weight: bold
      color: black !important
  .order_form_address_province_id,.order_form_address_city_id,.order_form_address_area_id
    display: inline-block
    width: 78px
    margin-right: 12px
  .chosen
    width: 78px !important
    border: 1px solid #E5E5E5
    -webkit-appearance: none
    border-radius: 0
    height: 21px
    text-align: center
  .tel
    width: 177px
  textarea
    width: 260px
    height: 80px
    resize: none
    border: 1px solid #E5E5E5
  .order_form_address_address
    margin-top: 15px
  .fast
    font-weight: bold
    margin-top: 28px
    margin-bottom: 35px
    .fastdeliver
      width: 25px
      height: inherit
  .acard
    font-weight: bold
  .card
    display: none
  .submit
    margin-top: 37px
    padding-top: 20px
    padding-bottom: 40px
    border-top: 1px rgba(0,0,0,0.1) solid
    border-top-style: dotted
    margin-left: -60px
    padding-left: 60px
  .form-actions
    margin-top: 25px
    margin-bottom: 25px
    .btn-submit
      margin-right: 15px
  .errormessage
    display: inline-block
    vertical-align: top
    margin-left: -35px
    div
      visibility: hidden
    p
      color: #A02828
      font-weight: bold
      line-height: 0
    .tel-error
      margin-top: 53px
    .recname-error
      margin-top: 64px
    .rectel-error
      margin-top: 64px
    .address-error
      margin-top: 132px
    .post-error
      margin-top: 72px
    .date-error
      margin-top: 63px
#gift-card-info-trigger
  margin-top: 30px
.error
  .chosen-container,.inputarea,.input,textarea
    border: 1px #a02828 solid
  .help-inline
    color: #a02828
    margin-left: 6px
.order_form_address_area_id
  .help-inline
    position: absolute
    margin-left: 0
    width: 85px