body
  font-size: 12px
  font-family: \51AC\9752\9ED1\4F53\7B80\4F53\4E2D\6587,Helvetica,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,Arial,sans-serif
  color: #434A54
  margin: 0 
  padding: 0
  background-image: image-url('bg/bg.jpg')
  background-repeat: repeat-x
  background-position: bottom
  background-color: rgb(249,249,249)
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary 
  display: block
h1,h2,h3,h4,h5,h6
  font-size: 100%
ul,ol
  list-style: none
img
  border: 0
  vertical-align: top
  -ms-interpolation-mode: bicubic
button
  padding: 5px 12px
  border: none
  background-color: black
  font-size: 12px
  color: white
  border-radius: 3px
  cursor: pointer
.btn-submit
  padding: 5px 12px
  border: none
  background-color: black
  font-size: 12px
  color: white!important
  border-radius: 3px
  cursor: pointer
a
  text-decoration: none
  color: #333
  outline: none
h3
  font-size: 13px
  font-weight: bold
  margin-top: 0px
  margin-bottom: 10px
.header
  .logo
    margin-top: 35px
    text-align: center
    img
      width: 135px
  .create
    margin-top: 85px
    text-align: center
    h3
      font-size: 14px
    p
      font-size: 10px
      margin-top: -10px
.orderspace
  width: 840px
  background-color: white
  margin: 30 auto
.footer
  color: white
  margin-bottom: 80px
  margin-top: 57px
  .line2
    text-align: center
  .line3
    text-align: center
    a
      margin-right: 20px
      margin-left: 20px
      color: white
  .line4
    margin-top: 20px
    text-align: center

#gift-card-info
  display: none
