.recim
  padding-top: 55px
  .left
    margin-left: 107px
    margin-top: 7px
    margin-right: 10px
    vertical-align: top
    display: inline-block
  .right
    display: inline-block
    line-height: 5px
.eachtittle
  padding-top: 6px
  height: 20px
  width: 686px
  margin: 0 auto
  background-color: #F9F9F9
  margin-top: 35px
  span
    width: 35px
    font-weight: bold
  .span1
    margin-left: 60px
  .span2
    margin-left: 107px
  .span3
    margin-left: 109px
  .span4
    margin-left: 75px
  .span5
    margin-left: 76px
  .span6
    margin-left: 82px
.eachorder
  width: 686px
  height: 110px
  margin: 0 auto
  border-bottom: 1px #E4E4E4 solid
  padding-top: 10px
  div
    display: inline-block
    vertical-align: top
    width: 80px
    text-align: center
  .product
    margin-left: 17px
    width: 103px
    img
      width: 103px
      height: 103px
  .name
    padding-top: 20px
    margin-left: 45px
    .en 
      margin-top: -12px
      font-size: 10px
  .sprice
    margin-left: 50px
    padding-top: 25px
  .qu
    padding-top: 20px
    margin-left: 17px
  .dis
    padding-top: 20px
    margin-left: 25px
  .total
    padding-top: 20px
    margin-left: 25px
.shi
  padding-left: 617px
  padding-top: 21px
  padding-bottom: 32px
  border-bottom: 1px black solid
  p
    font-weight: bold
    font-size: 14px
.howtopay
  margin-left: 107px
  margin-top: 27px
  h2
    font-size: 14px
    padding-bottom: 10px
  .hd
    font-weight: bold
    padding-bottom: 30px
  img
    height: 35px
  div
    margin-top: 20px
  .pp
    p
      margin-left: 15px
  .ed
    margin-top: 40px
    padding-bottom: 30px
    .huali-btn
      padding: 5px 12px
      border: none
      background-color: black
      font-size: 12px
      color: white
      border-radius: 3px
      cursor: pointer
    a
      margin-left: 10px