.mail
  padding: 20px 60px
  border-bottom: 1px rgba(0,0,0,0.1) solid
  border-bottom-style: dotted
  .reg
    margin-right: 12px
  a
    color: #9B9B9B
.warning
  padding: 26px 0 
  border-bottom: 1px rgba(0,0,0,0.1) solid
  border-bottom-style: dotted
  text-align: center
  font-size: 12px
  font-weight: bold
  color: #A02828
  a
    margin: 0 10px
    color: #4F4F4F
    text-decoration: underline
.list
  border-bottom: 1px rgba(0,0,0,0.1) solid
  border-bottom-style: dotted
  padding-bottom: 40px
  .left
    width: 640px
    display: inline-block
  .right
    width: 200px
    padding-top: 48px
    display: inline-block
    vertical-align: top
    h1
      font-weight: normal
      font-size: 12px
    h2
      font-size: 28px
      font-family: sans-serif
.success
  height: 261px
  width: 100%
  background: white
  margin-top: 150px
  .in
    width: 135px
    margin: 0 auto
    padding-top: 95px
    h3
      margin-bottom: 23px
    a 
      margin-right: 25px