<table class='side-table table'>
  <thead>
    <tr>
      <th colspan='3'><%= title %></th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product|%>
      <tr>
        <td class="image"><%= image_tag product.img(:thumb) %></td>
        <td class="content">
          <p>
            <%= link_to product.name, product_path(product) %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
