<fieldset class="image_field">
  <ol>
    <li class="input optional">
    <%= f.input :product %>
    <%= f.input :quantity %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove Product", "#", class: "remove_fields" %>
    </li>
  </ol>
</fieldset>
