javascript:
  $(function () {
      $('#order_amount').highcharts({
          chart: {
              type: 'area'
          },
          title: {
            text: '前30天 B2C 订单销售额 #{@daily_order_report.total_amount} 元'
          },
          subtitle: {
              text: ''
          },
          xAxis: {
            categories: [#{@daily_order_report.short_dates.join(',').html_safe}],
              tickmarkPlacement: 'on',
              title: {
                  enabled: false
              }
          },
          yAxis: {
              title: {
                  text: '金额'
              },
              labels: {
                  formatter: function() {
                      return this.value;
                  }
              }
          },
          tooltip: {
              shared: true,
              valueSuffix: ' 元'
          },
          plotOptions: {
              area: {
                  stacking: 'normal',
                  lineColor: '#666666',
                  lineWidth: 1,
                  marker: {
                      lineWidth: 1,
                      lineColor: '#666666'
                  }
              }
          },
          series: [{
              name: '官网',
              data: [#{@daily_order_report.order_amounts_by_date('normal').join(',').html_safe}]
          }, {
              name: '淘宝',
              data: [#{@daily_order_report.order_amounts_by_date('taobao').join(',').html_safe}]
          }, {
              name: '天猫',
              data: [#{@daily_order_report.order_amounts_by_date('tmall').join(',').html_safe}]
          }, {
              name: '京东',
              data: [#{@daily_order_report.order_amounts_by_date('jd').join(',').html_safe}]
          }, {
              name: '一号店',
              data: [#{@daily_order_report.order_amounts_by_date('yhd').join(',').html_safe}]
          }, {
              name: '亚马逊',
              data: [#{@daily_order_report.order_amounts_by_date('amazon').join(',').html_safe}]
          }, {
              name: '当当网',
              data: [#{@daily_order_report.order_amounts_by_date('dangdang').join(',').html_safe}]
          }, {
              name: '寺库',
              data: [#{@daily_order_report.order_amounts_by_date('secoo').join(',').html_safe}]
          }, {
              name: '嘿客',
              data: [#{@daily_order_report.order_amounts_by_date('heike').join(',').html_safe}]
          }, {
              name: '大众点评',
              data: [#{@daily_order_report.order_amounts_by_date('dianping').join(',').html_safe}]
          }, {
              name: '线下店',
              data: [#{@daily_order_report.order_amounts_by_date('offline').join(',').html_safe}]
          }, {
              name: 'B2B',
              data: [#{@daily_order_report.order_amounts_by_date('b2b').join(',').html_safe}]
          }]
      });

      $('#order_count').highcharts({
          chart: {
              type: 'area'
          },
          title: {
            text: '前30天 B2C 订单数量 #{@daily_order_report.total_count} 单'
          },
          subtitle: {
              text: ''
          },
          xAxis: {
            categories: [#{@daily_order_report.short_dates.join(',').html_safe}],
              tickmarkPlacement: 'on',
              title: {
                  enabled: false
              }
          },
          yAxis: {
              title: {
                  text: '单'
              },
              labels: {
                  formatter: function() {
                      return this.value;
                  }
              }
          },
          tooltip: {
              shared: true,
              valueSuffix: ' 单'
          },
          plotOptions: {
              area: {
                  stacking: 'normal',
                  lineColor: '#666666',
                  lineWidth: 1,
                  marker: {
                      lineWidth: 1,
                      lineColor: '#666666'
                  }
              }
          },
          series: [{
              name: '官网',
              data: [#{@daily_order_report.order_counts_by_date('normal').join(',').html_safe}]
          }, {
              name: '淘宝',
              data: [#{@daily_order_report.order_counts_by_date('taobao').join(',').html_safe}]
          }, {
              name: '天猫',
              data: [#{@daily_order_report.order_counts_by_date('tmall').join(',').html_safe}]
          }, {
              name: '京东',
              data: [#{@daily_order_report.order_counts_by_date('jd').join(',').html_safe}]
          }, {
              name: '一号店',
              data: [#{@daily_order_report.order_counts_by_date('yhd').join(',').html_safe}]
          }, {
              name: '亚马逊',
              data: [#{@daily_order_report.order_counts_by_date('amazon').join(',').html_safe}]
          }, {
              name: '当当网',
              data: [#{@daily_order_report.order_counts_by_date('dangdang').join(',').html_safe}]
          }, {
              name: '寺库',
              data: [#{@daily_order_report.order_counts_by_date('secoo').join(',').html_safe}]
          }, {
              name: '嘿客',
              data: [#{@daily_order_report.order_counts_by_date('heike').join(',').html_safe}]
          }, {
              name: '大众点评',
              data: [#{@daily_order_report.order_counts_by_date('dianping').join(',').html_safe}]
          }, {
              name: '线下店',
              data: [#{@daily_order_report.order_counts_by_date('offline').join(',').html_safe}]
          }, {
              name: 'B2B',
              data: [#{@daily_order_report.order_counts_by_date('b2b').join(',').html_safe}]
          }]
      });
  });
