$passportWidth: 552px

#passport
  position: relative
  padding-bottom: 100px

.passport-wrap
  width: $passportWidth
  margin: 0 auto

.passport-logo
  height: 143px
  padding-top: 90px
  text-align: center

.passport-main
  padding-top: 40px
  background: image-url("bg/passport_main.png") no-repeat

/*第三方登录
.authentication
  .meta
    text-align: left
  input.sign-in,
  input.sign-up
    width: 80px !important
  .name-via-oauth
    label
      text-align: left
  .loading
    display: inline
    +opacity(0)

/*忘记密码
.forgot
  padding-left: 80px
  h2
    position: relative
    padding: 0 15px
    margin-bottom: 10px
    +rhombus_1
    b
      left: 100px
  abbr
    color: #c80000
  .input-wrap
    +clearfix
    margin-left: 0
    padding-top: 20px
    label
      float: left
      line-height: 25px
      text-align: right
      margin-left: 0
    .email-wrap
      float: left
      margin-left: 20px
      input
        width: 213px
        height: 23px
        +border-radius(0px)
        border: 1px solid #b2b2b2
      .error
        +error(215px,20px)
        margin: 10px 0

/*登录
.login
  h2
    text-align: center
    position: relative
    padding: 0 15px
    margin-bottom: 50px
    +rhombus_1
    b
      left: 60px
  .allow-ways
    position: absolute
    font-size: $content-font
    color: $strong-color
    font-weight: normal
    right: 37px
    top: 3px
  .auto-login
    margin-top: 9px
  .form-actions
    a
      margin-left: 20px
  abbr
    color: #c80000
  .input-wrap
    padding-top: 45px
    .input-item
      +clearfix
      a
        font-size: $content-font
        color: $link-blue-color
      label
        float: left
        line-height: 25px
        text-align: right
        margin-left: 0
      .email-wrap,.password-wrap
        float: left
        margin-left: 20px
        input[type="text"]
          width: 213px
          height: 23px
          +border-radius(0px)
          border: 1px solid #b2b2b2
        input[type="checkbox"]
          vertical-align: middle
        .error
          +error(215px,20px)
          margin: 10px 0
        .auto-login
          padding: 10px 0
          a
            margin-left: 60px
        .login-btn-wrap
          strong
            margin-left: 60px

/*注册
.signup
  h2
    text-align: center
    position: relative
    padding: 0 15px
    +rhombus_1
    b
      left: 100px
  #user_phone
    margin-left: 5px
  .user_email
    margin-top: 10px
  strong
    margin-left: 20px
    font-size: 14px
    margin-top: 10px
    a
      color: $link-blue-color
  abbr
    color: #c80000
  .input-wrap
    padding-top: 45px
    .input-item
      +clearfix
      a
        font-size: $content-font
        color: $link-blue-color
      label
        float: left
        width: 105px
        text-align: right
        line-height: 25px
        margin-left: 0
      .input-item-wrap
        float: left
        margin-left: 20px
        input[type="text"]
          width: 213px
          height: 23px
          +border-radius(0px)
          border: 1px solid #b2b2b2
          margin-bottom: 0
          padding: 0
        input[type="checkbox"]
          vertical-align: middle
        .error
          +error(215px,20px)
          margin: 10px 0

.signup-agree-item
  padding-left: 125px
  padding: 10px 0 10px 125px
  input[type="checkbox"]
    vertical-align: middle

.signup-btn-wrap
  padding-left: 125px
  strong
    margin-left: 30px

#error_explanation
  h2
    padding: 5px 0

  ul
    padding-left: 2px
    color: red

/*passport common style*/
.meta
  font-size: 14px
  font-weight: normal
  line-height: 35px
.login-use-oauth
  padding-left: 150px
  a
    margin-right: 10px
