body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td
  padding: 0
  margin: 0
  
table
  border-collapse: collapse
  border-spacing: 0

em,strong
  font-weight: normal
  font-style: normal

ol,ul
  list-style: none

body
  font: #{$default-font}/#{$default-lineHeight} "Microsoft-Yahei",Arial,sans-serif

a
  text-decoration: none

a:hover
  text-decoration: none

img
  border: 0
  vertical-align: middle

p,strong,i,a,b
  background-repeat: no-repeat

body
  background: image-url("bg/body.png") repeat
