<ul id='account-nav' class='info-nav span8'>
  <li class='<%= current_if_controller('orders') %>'>
    所有订单
  </li>
  <li class='<%= current_if_controller('addresses') %>'>
    地址信息
  </li>
  <li class='<%= current_if_controller('users') %>'>
    账户信息
  </li>
</ul>
