<div class="best-products">
  <h3 class="title">
    <i></i>合作品牌<b></b>
  </h3>
  <div class="brands">
    <a target="_blank" class="hermes brands">Hermes</a>
    <a target="_blank" class="acqua brands">Acqua DI Parma</a>
    <a target="_blank" class="chole brands" href="http://hua.li/collections/chloe">chole</a>
    <a target="_blank" class="valentine-perfume brands">Valentino perfume</a>

    <a target="_blank" class="swarovski-elements brands" href="http://hua.li/collections/swarovski-elements">Swarovski</a>
    <a target="_blank" class="marc-jacobs brands" href="http://hua.li/collections/marc-jacobs">Marc Jacobs</a>
    <a target="_blank" class="givenchy brands" href="http://hua.li/collections/givenchy">Givenchy</a>
    <a target="_blank" class="zegna brands" href="http://hua.li/collections/ermenegildo-zegna">Zegna</a>

    <a target="_blank" class="shanghai-beach brands">shanghai beach</a>
    <a target="_blank" class="HR brands" href="http://hua.li/collections/helena-rubinstein">HR</a>
    <a target="_blank" class="Ritz-Carlton brands">Ritz-Carlton</a>
    <a target="_blank" class="sally-hansen brands" href="http://hua.li/collections/sally-hansen">Sally Hansen</a>

    <a target="_blank" class="godiva-chocolatier brands">Godiva Chocolatier</a>
    <a target="_blank" class="davidoff brands" href="http://hua.li/collections/davidoff">Davidoff perfume</a>
    <a target="_blank" class="sonoko brands">Sonoko</a>
    <a target="_blank" class="leo-diamond brands">Leo Diamond</a>
  </div>
</div>
