<div class="best-products">
  <h3 class="title">
    <i></i>合作品牌<b></b>
  </h3>
  <div class="brands">
    <a href="http://www.hermes.com/" target="_blank" class="hermes">Hermes</a>
    <a href="http://www.acquadiparma.cn/cn/" target="_blank" class="acqua">Acqua DI Parma</a>
    <a href="/products/green-breath" target="_blank" class="chole">chole</a>
    <a href="http://www.parfums.valentino.com/" target="_blank" class="valentine-perfume">Valentino perfume</a>
    <a href="http://www.shanghaitang.com/" target="_blank" class="shanghai-beach">shanghai beach</a>
    <a href="http://www.helenarubinstein.cn/helena-rubinstein/_zh/_cn/home/index.aspx" target="_blank" class="HR">HR</a>
    <a href="http://www.ritzcarlton.com/" target="_blank" class="Ritz-Carlton">Ritz-Carlton</a>
    <a href="http://www.leodiamond.com.hk/sc/index.html" target="_blank" class="leo-diamond">Leo Diamond</a>

    <a href="http://www.godiva.cn/" target="_blank" class="godiva-chocolatier">Godiva Chocolatier</a>
    <a href="http://www.zinodavidoff.com/fragrances/" target="_blank" class="davidoff">Davidoff perfume</a>
    <a href="http://www.sonoko-ginza.com/" target="_blank" class="sonoko">Sonoko</a>
    <a href="http://www.yhouse.com/" target="_blank" class="yhouse">YHouse</a>
  </div>
</div>
