<div class="best-products">
  <h3 class="title">
    <i></i>合作品牌<b></b>
  </h3>
  <div class="brands">
    <a target="_blank" class="hermes">Hermes</a>
    <a target="_blank" class="acqua">Acqua DI Parma</a>
    <a target="_blank" class="chole" href="http://hua.li/collections/chloe">chole</a>
    <a target="_blank" class="valentine-perfume">Valentino perfume</a>
    <a target="_blank" class="shanghai-beach">shanghai beach</a>
    <a target="_blank" class="HR">HR</a>
    <a target="_blank" class="Ritz-Carlton">Ritz-Carlton</a>
    <a target="_blank" class="leo-diamond">Leo Diamond</a>

    <a target="_blank" class="godiva-chocolatier">Godiva Chocolatier</a>
    <a target="_blank" class="davidoff" href="http://hua.li/collections/davidoff">Davidoff perfume</a>
    <a target="_blank" class="sonoko">Sonoko</a>
    <a target="_blank" class="yhouse">YHouse</a>
  </div>
</div>
