<div class="form-block">
  <p class="form-title">选择递送区域</p>
  <label>
    <%= radio_button_tag(:area, "SH", :checked => "checked") %>
    <span>江浙沪</span>
  </label>
  <label>
    <%= radio_button_tag(:area, "Other") %>
    <span>全国其他城市</span>
  </label>
</div>

