<div class="form-block">
  <p class="form-title">选择递送区域</p>
  <label class="area-icon">
    <%= radio_button_tag(:area, "local", :checked => "checked") %>
    <span>江浙沪</span>
    <span>全国其他地区</span>
    <br/>
    <small>(免运费)</small>
  </label>
  <label class="area-icon">
    <%= radio_button_tag(:area, "remote") %>
    <span>全国其他地区</span>
    <br/>
    <small>运费50元(按联邦快递计费)</small>
  </label>
</div>

