suggestion
<div class="suggestion">
	<ul>
		<% @suggest_products.each do |product| %>
			<li>
				<div class="unit-image">
				  <%= link_to image_tag(product.img(:medium), width: '120'), product_path(product), title: product.name %>
				</div>
				<h3 class="unit-title"> <%= link_to product.name, product_path(product), title: 'Fashion Demo Flowers' %> </h3>
			</li>
		<% end %>
	</ul>	
</div>