<div class="suggestion">
	<hr>
	<p>您可能还喜欢：</p>
	<ul class="suggestion-list">
		<% @suggest_products.each do |product| %>
				<li class="suggestion-cell">
			  		<%= link_to image_tag(product.img(:medium), width: '100'), product_path(product), title: product.name %>
			  		<br>
				  	<div class='suggestion-link'>
				  		<%= link_to product.name, product_path(product) %>
				  	</div>
				</li>
		<% end %>
	</ul>
</div>