<div class="showcase">
		<div class = 'iosSlider'>
			<div class = 'slider'>
        <% 4.times do |index| %>
          <div class = 'slide'>
          <%= image_tag "slide#{index}.png" %>
          <div class = 'bg'></div>
          <div class = 'text1'>
						<div class = 'title'>
							<span>Touch Me.</span>
						</div>
						<div class = 'desc'>
							<span>Hardware accelerated using CSS3 for supported iOS, Android and WebKit</span>
						</div>
          </div>

					<div class = 'text2'>
						<div>
              <%= link_to 'Add To Cart', '#', class: 'tintButton' %>
						</div>
					</div>
				</div>
        <% end %>
			</div>
      <div class="sliderNavi">
        <span class="naviItem">1</span> 
        <span class="naviItem">2</span> 
        <span class="naviItem">3</span> 
        <span class="naviItem">4</span>
      </div>
			<div class = 'prev sliderArrow'></div>
			<div class = 'next sliderArrow'></div>
		</div>
</div>

<div class="row">
  <% 3.times do |index| %>
    <div class="home-banner span4">
      <%= image_tag "banner#{index}.png" %>
      <%= link_to '购买', '/order', class: 'readmore' %>
    </div>
  <% end %>
 </div>
</div>
<div class="clear"></div>
