<div class="std">
                <div class = 'iosSlider'>
                        <div class = 'slider'>
        <% 4.times do |index| %>
          <div class = 'slide'>
          <%= image_tag "slide#{index}.png" %>
          <div class = 'bg'></div>
          <div class = 'text1'>
                                                <div class = 'title'>
                                                        <span>Touch Me.</span>
                                                </div>
                                                <div class = 'desc'>
                                                        <span>Hardware accelerated using CSS3 for supported iOS, Android and WebKit</span>
                                                </div>
          </div>

                                        <div class = 'text2'>
                                                <div>
              <a class="tintButton" href="">Button Example</a>
                                                </div>
                                        </div>
                                </div>
        <% end %>
                        </div>
      <div class="sliderNavi">
        <span class="naviItem">1</span>
        <span class="naviItem">2</span>
        <span class="naviItem">3</span>
        <span class="naviItem">4</span>
      </div>
                        <div class = 'prev sliderArrow'></div>
                        <div class = 'next sliderArrow'></div>
                </div>
</div>

<div class="row">
  <div class="home-text span6"><img src="http://8theme.com/demo/blanco/media/wysiwyg/blanco/b1.jpg" alt=""><a class="readmore" href="/demo/blanco/man.html" style="background-color: rgb(76, 198, 255); ">Shop Now</a></div>
  <div class="home-text span6 last"><img src="http://8theme.com/demo/blanco/media/wysiwyg/blanco/b2.jpg" alt=""><a class="readmore" href="/demo/blanco/accessories.html" style="background-color: rgb(76, 198, 255); ">Shop Now</a></div>
</div>
<div class="clear">

<h5 style="float: left; border: 1px solid #EFEFEF; padding: 4px 15px; margin: 13px 0 0 20px; border-bottom: 0;">NEW PRODUCTS</h5>
<div class="clear" style="border-top: 1px solid #EFEFEF; height: 13px;">&nbsp;</div>
    <div class="newproducts">
        <div class="carousel" style="position: relative; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 960px; height: 318px; ">
            <div class="slider" style="-webkit-perspective: 1000px; -webkit-backface-visibility: hidden; position: relative; cursor: -webkit-grab; width: 5108px; overflow: hidden; -webkit-transform: translateX(-1220px); ">
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/320/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-fashion-jacket.html" title="Nice Fashion Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/5/_/5.2_2_1_1_1_1.jpg" width="210" height="210" alt="Nice Fashion Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-fashion-jacket.html" title="Nice Fashion Jacket">Nice Fashion Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-320">
                    $3,900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-320" style="color: rgb(76, 198, 255); ">
                    $3,770.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-fashion-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/nice-demo-shoes.html" title="Nice Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/4/14.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-shoes.html" title="Nice Demo Shoes">Nice Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-305">
                    $1,215.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-305" style="color: rgb(76, 198, 255); ">
                    $1,099.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:57%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/329/'; return false;">2 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-demo-jacket-410.html" title="Nice Demo Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/4/14.1_3.jpg" width="210" height="210" alt="Nice Demo Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-jacket-410.html" title="Nice Demo Jacket">Nice Demo Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-329">
                    $4,400.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-329" style="color: rgb(76, 198, 255); ">
                    $4,299.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-jacket-410.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/243/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/akio-dresser-493.html" title="Akio Watch" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/3/0/30.jpg" width="210" height="210" alt="Akio Watch"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/akio-dresser-493.html" title="Akio Watch">Akio Watch</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-243">
                                            <span class="price">$465.99</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/243/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-dress-504.html" title="Fashion Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/4/_/4.1_3_1_1_1_1_1_2_1_1_1_1.jpg" width="210" height="210" alt="Fashion Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-dress-504.html" title="Fashion Dress">Fashion Dress</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-341">
                    $4,500.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-341" style="color: rgb(76, 198, 255); ">
                    $4,299.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-dress-504.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/235/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/akio-dresser-485.html" title="Akio Dresser" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/1/21.jpg" width="210" height="210" alt="Akio Dresser"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/akio-dresser-485.html" title="Akio Dresser">Akio Dresser</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-235">
                                            <span class="price">$541.99</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/235/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/237/'; return false;">2 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/akio-dresser-487.html" title="Dresser Akio " class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/3/23.jpg" width="210" height="210" alt="Dresser Akio "></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/akio-dresser-487.html" title="Dresser Akio ">Dresser Akio </a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-237">
                                            <span class="price">$384.99</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/237/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-jacket.html" title="Fashion Demo Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/2/12.1_3_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-jacket.html" title="Fashion Demo Jacket">Fashion Demo Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-327">
                    $4,100.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-327" style="color: rgb(76, 198, 255); ">
                    $3,999.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/342/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-demo-dress-424.html" title="Fashion Demo Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/3/_/3.1_3_1_1_1_1_1_2_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-dress-424.html" title="Fashion Demo Dress">Fashion Demo Dress</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-342">
                                            <span class="price">$4,399.00</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-dress-424.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-dress.html" title="Fashion Demo Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/9/_/9.2_4_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-dress.html" title="Fashion Demo Dress">Fashion Demo Dress</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-334">
                                            <span class="price">$2,990.00</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-dress.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-shoes-541.html" title="Fashion Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/_/1.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1.jpg" width="210" height="210" alt="Fashion Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-shoes-541.html" title="Fashion Demo Shoes">Fashion Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-311">
                    $1,190.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-311" style="color: rgb(76, 198, 255); ">
                    $999.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-shoes-541.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/301/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/simple-fashion-shoes.html" title="Simple Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/4/_/4.1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-fashion-shoes.html" title="Simple Fashion Shoes">Simple Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-301">
                    $915.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-301" style="color: rgb(76, 198, 255); ">
                    $790.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:47%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/328/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-t-shirts.html" title="Nice T-shirts" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/3/13.1_3.jpg" width="210" height="210" alt="Nice T-shirts"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-t-shirts.html" title="Nice T-shirts">Nice T-shirts</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-328">
                    $1,800.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-328" style="color: rgb(76, 198, 255); ">
                    $1,499.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-t-shirts.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:40%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/296/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/demo-fashion-shoes.html" title="Demo Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/9/_/9.1_2_1_1_1_1_1_1.jpg" width="210" height="210" alt="Demo Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/demo-fashion-shoes.html" title="Demo Fashion Shoes">Demo Fashion Shoes</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-296">
                                            <span class="price">$1,019.90</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/demo-fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/simple-t-shirt.html" title="Simple T-shirt" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/8/_/8.1_2_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple T-shirt"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-t-shirt.html" title="Simple T-shirt">Simple T-shirt</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-323">
                    $1,900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-323" style="color: rgb(76, 198, 255); ">
                    $1,799.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-t-shirt.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/316/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-jacket.html" title="Fashion Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/_/1.1_2.jpg" width="210" height="210" alt="Fashion Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-jacket.html" title="Fashion Jacket">Fashion Jacket</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-316">
                                            <span class="price">$3,790.00</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:73%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/333/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/demo-dress.html" title="Demo Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/0/10.1_4_1_1_1_1.jpg" width="210" height="210" alt="Demo Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/demo-dress.html" title="Demo Dress">Demo Dress</a></h3>



    <div class="price-box">
                                                            <span class="regular-price" id="product-price-333">
                                            <span class="price">$3,100.00</span>                                    </span>

        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/333/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/315/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-shoes-544.html" title="Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/0/10.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-shoes-544.html" title="Fashion Shoes">Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-315">
                    $900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-315" style="color: rgb(76, 198, 255); ">
                    $849.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-shoes-544.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/nice-simple-shoes.html" title="Nice Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/9/19.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2.jpg" width="210" height="210" alt="Nice Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-simple-shoes.html" title="Nice Simple Shoes">Nice Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-310">
                    $719.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-310" style="color: rgb(76, 198, 255); ">
                    $599.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-simple-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/302/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-fashion-shoes.html" title="Nice Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/1/21.1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-fashion-shoes.html" title="Nice Fashion Shoes">Nice Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-302">
                    $1,350.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-302" style="color: rgb(76, 198, 255); ">
                    $1,199.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="item slide last" style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/297/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/simple-shoes-768.html" title="Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/3/23.1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-shoes-768.html" title="Simple Shoes">Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-297">
                    $855.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-297" style="color: rgb(76, 198, 255); ">
                    $799.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/297/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                            </div>
        </div>
                    <div class="prev new-arrow" style="cursor: pointer; ">&nbsp;</div>
            <div class="next new-arrow" style="cursor: pointer; ">&nbsp;</div>
            </div>
    <div style="clear: both;"></div>
            <script type="text/javascript">
        </script>
    </div>
<div class="clear">
<h5 style="float: left; border: 1px solid #EFEFEF; padding: 4px 15px; margin: 13px 0 0 20px; border-bottom: 0;">SALE PRODUCTS</h5>
<div class="clear" style="border-top: 1px solid #EFEFEF; height: 13px;">&nbsp;</div>
    <div class="saleproducts">
        <div class="carousel" style="position: relative; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 960px; height: 318px; ">
            <div class="slider" style="-webkit-perspective: 1000px; -webkit-backface-visibility: hidden; position: relative; cursor: -webkit-grab; width: 6084px; overflow: hidden; -webkit-transform: translateX(0px); ">
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-shoes.html" title="Fashion Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/8/18.1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-shoes.html" title="Fashion Demo Shoes">Fashion Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-298">
                    $559.90                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-298" style="color: rgb(76, 198, 255); ">
                    $530.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/nice-dress.html" title="Nice Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/_/1.1_3_1_1_1_1_1_2_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-dress.html" title="Nice Dress">Nice Dress</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-344">
                    $4,000.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-344" style="color: rgb(76, 198, 255); ">
                    $3,799.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-dress.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/339/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-demo-dress-421.html" title="Nice Demo Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/6/_/6.2_3_1_1_1_1_1_2_1_1.jpg" width="210" height="210" alt="Nice Demo Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-dress-421.html" title="Nice Demo Dress">Nice Demo Dress</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-339">
                    $4,059.90                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-339" style="color: rgb(76, 198, 255); ">
                    $3,999.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-dress-421.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:57%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/329/'; return false;">2 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-demo-jacket-410.html" title="Nice Demo Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/4/14.1_3.jpg" width="210" height="210" alt="Nice Demo Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-jacket-410.html" title="Nice Demo Jacket">Nice Demo Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-329">
                    $4,400.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-329" style="color: rgb(76, 198, 255); ">
                    $4,299.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-jacket-410.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/313/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-demo-shoes-542.html" title="Fashion Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/7/_/7.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-shoes-542.html" title="Fashion Demo Shoes">Fashion Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-313">
                    $1,400.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-313" style="color: rgb(76, 198, 255); ">
                    $1,299.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-shoes-542.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/nice-simple-shoes.html" title="Nice Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/9/19.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2.jpg" width="210" height="210" alt="Nice Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-simple-shoes.html" title="Nice Simple Shoes">Nice Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-310">
                    $719.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-310" style="color: rgb(76, 198, 255); ">
                    $599.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-simple-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/simple-shoes-769.html" title="Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/2/12.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-shoes-769.html" title="Simple Shoes">Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-306">
                    $779.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-306" style="color: rgb(76, 198, 255); ">
                    $719.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-shoes-769.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-jacket.html" title="Fashion Demo Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/2/12.1_3_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Demo Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-jacket.html" title="Fashion Demo Jacket">Fashion Demo Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-327">
                    $4,100.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-327" style="color: rgb(76, 198, 255); ">
                    $3,999.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/304/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-simple-shoes.html" title="Fashion Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/4/24.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-simple-shoes.html" title="Fashion Simple Shoes">Fashion Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-304">
                    $790.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-304" style="color: rgb(76, 198, 255); ">
                    $719.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-simple-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/simple-t-shirt.html" title="Simple T-shirt" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/8/_/8.1_2_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple T-shirt"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-t-shirt.html" title="Simple T-shirt">Simple T-shirt</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-323">
                    $1,900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-323" style="color: rgb(76, 198, 255); ">
                    $1,799.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-t-shirt.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/301/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/simple-fashion-shoes.html" title="Simple Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/4/_/4.1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-fashion-shoes.html" title="Simple Fashion Shoes">Simple Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-301">
                    $915.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-301" style="color: rgb(76, 198, 255); ">
                    $790.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/320/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-fashion-jacket.html" title="Nice Fashion Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/5/_/5.2_2_1_1_1_1.jpg" width="210" height="210" alt="Nice Fashion Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-fashion-jacket.html" title="Nice Fashion Jacket">Nice Fashion Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-320">
                    $3,900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-320" style="color: rgb(76, 198, 255); ">
                    $3,770.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-fashion-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:73%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/299/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/demo-shoes-531.html" title="Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/5/15.1_2_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/demo-shoes-531.html" title="Demo Shoes">Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-299">
                    $800.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-299" style="color: rgb(76, 198, 255); ">
                    $719.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/demo-shoes-531.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-dress-504.html" title="Fashion Dress" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/4/_/4.1_3_1_1_1_1_1_2_1_1_1_1.jpg" width="210" height="210" alt="Fashion Dress"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-dress-504.html" title="Fashion Dress">Fashion Dress</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-341">
                    $4,500.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-341" style="color: rgb(76, 198, 255); ">
                    $4,299.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-dress-504.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/297/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/simple-shoes-768.html" title="Simple Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/3/23.1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-shoes-768.html" title="Simple Shoes">Simple Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-297">
                    $855.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-297" style="color: rgb(76, 198, 255); ">
                    $799.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/checkout/cart/add/uenc/aHR0cDovLzh0aGVtZS5jb20vZGVtby9ibGFuY28v/product/297/')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/simple-jacket.html" title="Simple Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/1/11.1_4_1_1_1.jpg" width="210" height="210" alt="Simple Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-jacket.html" title="Simple Jacket">Simple Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-332">
                    $2,799.90                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-332" style="color: rgb(76, 198, 255); ">
                    $2,499.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/315/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/fashion-shoes-544.html" title="Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/0/10.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-shoes-544.html" title="Fashion Shoes">Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-315">
                    $900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-315" style="color: rgb(76, 198, 255); ">
                    $849.90                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-shoes-544.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-demo-shoes-541.html" title="Fashion Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/_/1.1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1.jpg" width="210" height="210" alt="Fashion Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-demo-shoes-541.html" title="Fashion Demo Shoes">Fashion Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-311">
                    $1,190.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-311" style="color: rgb(76, 198, 255); ">
                    $999.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-demo-shoes-541.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/simple-fashion-shoes-424.html" title="Simple Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/1/11.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-fashion-shoes-424.html" title="Simple Fashion Shoes">Simple Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-308">
                    $900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-308" style="color: rgb(76, 198, 255); ">
                    $799.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-fashion-shoes-424.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:47%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/328/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-t-shirts.html" title="Nice T-shirts" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/3/13.1_3.jpg" width="210" height="210" alt="Nice T-shirts"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-t-shirts.html" title="Nice T-shirts">Nice T-shirts</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-328">
                    $1,800.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-328" style="color: rgb(76, 198, 255); ">
                    $1,499.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-t-shirts.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/nice-demo-shoes.html" title="Nice Demo Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/4/14.1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Demo Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-shoes.html" title="Nice Demo Shoes">Nice Demo Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-305">
                    $1,215.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-305" style="color: rgb(76, 198, 255); ">
                    $1,099.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/326/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/simple-nice-suit.html" title="Simple Nice Suit" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/1/11.1_3_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Simple Nice Suit"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/simple-nice-suit.html" title="Simple Nice Suit">Simple Nice Suit</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-326">
                    $3,900.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-326" style="color: rgb(76, 198, 255); ">
                    $3,650.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/simple-nice-suit.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="newproduct_grid">New</div>
                    <div class="saleproduct " style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/302/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-fashion-shoes.html" title="Nice Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/2/1/21.1_1_1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-fashion-shoes.html" title="Nice Fashion Shoes">Nice Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-302">
                    $1,350.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-302" style="color: rgb(76, 198, 255); ">
                    $1,199.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide " style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>

                            <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:40%"></div>
            </div>
                <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://8theme.com/demo/blanco/review/product/list/id/322/'; return false;">1 Review(s)</a></span>
    </div>

                        <a href="http://8theme.com/demo/blanco/nice-demo-jacket.html" title="Nice Demo Jacket" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/7/_/7.1_2_1_1_1_1_1_1.jpg" width="210" height="210" alt="Nice Demo Jacket"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/nice-demo-jacket.html" title="Nice Demo Jacket">Nice Demo Jacket</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-322">
                    $3,800.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-322" style="color: rgb(76, 198, 255); ">
                    $3,699.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/nice-demo-jacket.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                                    <div class="slide last" style="float: left; width: 228px; ">
                                    <div class="saleproduct once" style="color: rgb(76, 198, 255); ">Sale</div>


                        <a href="http://8theme.com/demo/blanco/fashion-shoes.html" title="Fashion Shoes" class="product-image"><img src="http://8theme.com/demo/blanco/media/catalog/product/cache/1/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/3/_/3.1_1_1_1_1_1_1_1_1_1_1.jpg" width="210" height="210" alt="Fashion Shoes"></a>
                        <div class="new-description">
                            <h3><a href="http://8theme.com/demo/blanco/fashion-shoes.html" title="Fashion Shoes">Fashion Shoes</a></h3>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-300">
                    $599.00                </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Special Price:</span>
                <span class="price" id="product-price-300" style="color: rgb(76, 198, 255); ">
                    $560.00                </span>
            </p>


        </div>



                                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://8theme.com/demo/blanco/fashion-shoes.html?options=cart')"><span><span>Add to Cart</span></span></button>
                                                        <div style="clear: both;"></div>
                        </div>
                    </div>
                            </div>
        </div>
                    <div class="prev sale-arrow disabled" style="cursor: pointer; ">&nbsp;</div>
            <div class="next sale-arrow" style="cursor: pointer; ">&nbsp;</div>
            </div>
    <div style="clear: both;"></div>
            <script type="text/javascript">
        </script>
    </div></div>
