.account-info-container
  .huali-point-container
    p
      font-size: $content-font
      margin: 20px 0px 20px 0px
      line-height: 2.4 
    .btn
      display: inline-block
      width: 80px
    .point-transactions
      .table-header
        font-size: $content-font
        color: #ffffff
        background-color: #000000
        padding-top: 7px
        padding-left: 36px
        height: 28px
      table
        margin-top: 5px
        border: 1px solid #eee
        width: 100%
        tr:first-child
          height: 20px
        tr
          height: 40px
          border: 1px solid #eee
        td
          text-align: center
          vertical-align: middle
          border-right: 1px dotted #eeeeee
        .income
          color: $price-color 
        .col1
          width: 20%
        .col2
          width: 20%
        .col3
          width: 20%
        .col4
          width: 25%
        .col5
          width: 15%
    .pagination
      float: right
      margin-top: 10px
      margin-right: 3px
      ul
        float: left
      .next-page, .previous-page
        float: left
        margin-left: 5px
        margin-right: 5px
        a
          text-decoration: none
          color: grey
          border: 1px solid grey
      .num
        display: block
        width: 12px
        height: 14px
        float: left
        margin-right: 3px
        text-align: center
        vertical-align: middle
        a
          text-decoration: none
          display: block
          width: 12px
          height: 14px
          color: grey
          border: 1px solid grey
      .cur
        color: $price-color
        border: 1px solid $price-color
        

