.logistics-detail-mobile
  padding: 25px 10px
  .stage
    border-top: 1px #f2f2f2 solid
    height: 34px
    padding: 10px 0 10px 60px
    font-size: $content-font
    color: $global-text-color
    .time
      color: $content-normal-color
