.mobile-profile
  margin: 8px
  table
    width: 95%
    tr
      line-height: 3
      td
        width: 50%

  .binding-account-btn, .my-orders-btn
    margin: 10px 0px
    .huali-btn
      width: 100% !important
      font-size: 30px
      padding: 10px 0px
