.account-info-container
  .order-detail
    position: relative
    +clearfix
    .order-detail-inner
      width: $global-width
      margin: 0 auto 35px
      .order-table
        border-collapse: collapse
        & > div
          padding: 0 5px 0 30px
          border: 1px solid #f4f4f4
        .order-state
          +clearfix
          height: 46px
          line-height: 46px
          strong
            float: left
            font-size: $title-font-large
          span
            float: right
            font-size: $content-font
        .logistics
          padding-bottom: 25px
          .items
            +clearfix
            &.captain
              height: 60px
              line-height: 60px
            span
              float: left
              &.date
                width: 135px
              &.time
                width: 160px
              &.address
                width: 160px
              &.contact
                width: 160px
              &.log
                width: 288px
              &.success
                color: $price-color
        .product-detail
          +clearfix
          height: 245px
          .products
            float: left
            width: 405px
            border-right: 1px solid #f4f4f4
            .products-captain
              height: 30px
              line-height: 30px
            .product-list
              li
                +clearfix
                img
                  float: left
                  width: 105px
                  height: 105px
                  margin-right: 30px
                .product-info
                  float: left
                  width: 160px
                  span,strong
                    display: block
                  p
                    padding-top: 10px
                    padding-bottom: 30px
                  b
                    font-weight: normal
                .price
                  float: left
                  width: 100px
            .summary
              padding: 30px 0 30px 135px
              span
                display: block
          .attach
            float: left
            width: 140px
            height: 100%
            padding: 25px
          .info
            float: left
            width: 270px
            padding: 25px 15px
