.qixijie
  margin-top: 15px
  min-height: 560px
  display: inline-block
  position: relative
  +global-box-shadow

  .product_tag, .product_link, .title
    position: absolute
    a
      text-decoration: none
      display: inline-block
      background-color: rgba(204,204,204,0.01)
    .product-name
      line-height: 1.4
    .cn-name
      font-size: 15px
      color: black
    .en-name
      font-size: 12px
      color: grey
    .product-price
      line-height: 2.0
    .price-yellow
      font-size: 17px
      color: #FBB40E
    .price-red
      font-size: 17px
      color: #FC7272
  .scroll-anchor
    position: absolute
    top: 10%

  @media (min-width: 992px)
    #label1
      left: 54%
      top: 30.9%
      font-size: 120%
      width: 35%

    #label2
      left: 4%
      top: 72%
      width: 28%
      font-size: 120%

  @media (max-width: 991px)
    #label1
      left: 54%
      top: 28.9%
      font-size: 120%
      width: 45%

    #label2
      left: 1%
      top: 70%
      width: 38%
      font-size: 120%

  #product_link_1
    left: 8%
    top: 16.5%
    width: 42%
    height: 5.7%

  #product_link_2
    left: 51.5%
    top: 16.5%
    width: 42%
    height: 5.7%

  #product_link_3
    left: 8%
    top: 22.2%
    width: 42%
    height: 5%

  #product_link_4
    left: 51.5%
    top: 22.2%
    width: 42%
    height: 5%

  #product_link_5
    left: 8%
    top: 27.2%
    width: 42%
    height: 5%

  #product_link_6
    left: 9.5%
    top: 37.9%
    width: 40.5%
    height: 7%

  #product_link_7
    left: 50.3%
    top: 37.9%
    width: 40.5%
    height: 7%

  #product_link_8
    left: 9.5%
    top: 44.8%
    width: 40.5%
    height: 7%

  #product_link_9
    left: 50.3%
    top: 44.8%
    width: 40.5%
    height: 7%

  #product_link_10
    left: 50.3%
    top: 54.2%
    width: 42.5%
    height: 7.3%

  #product_link_11
    left: 50.3%
    top: 61.5%
    width: 42.5%
    height: 7.3%

  #product_link_12
    left: 31.3%
    top: 69.3%
    width: 41.5%
    height: 7%
  .more
    .text-center
      text-align: center
    #product_link_1
      left: 4%
      top: 78.4%
      width: 22%
      height: 3.7%

    #product_link_2
      left: 28%
      top: 78.4%
      width: 22%
      height: 3.7%

    #product_link_3
      left: 51%
      top: 78.4%
      width: 22%
      height: 3.7%

    #product_link_4
      left: 74%
      top: 78.4%
      width: 22%
      height: 3.7%

    #product_link_5
      left: 4%
      top: 82.7%
      width: 22%
      height: 3.7%

    #product_link_6
      left: 28%
      top: 82.7%
      width: 22%
      height: 3.7%

    #product_link_7
      left: 51%
      top: 82.7%
      width: 22%
      height: 3.7%

    #product_link_8
      left: 74%
      top: 82.7%
      width: 22%
      height: 3.7%

