<div class="order-actions">
 <%= link_to t('views.order.show.pay_now'), checkout_order_path(@order), class: 'button' %>
 <%= link_to t('views.order.show.cancel_now'), checkout_order_path(@order), class: 'button-alt' %>
</div>
