<ul id='checkout-nav' class='info-nav span8'>
  <li class='<%= current_if_action('new') %>'>
    地址与信息
  </li>
  <li class='<%= current_if_action('checkout') %>'>
    选择支付方式
  </li>
  <li class='<%= current_if_action('return') %>'>
    支付完成
  </li>
</ul>
