.inputarea
  h2 订单信息
  .leftinput
    = simple_form_for @order_form, url: '/orders', html: { class: 'form-horizontal', id: 'new-order'} do |f|
      = simple_form_error_messages_for(@order_form.line_items)

      /*- if @cart.limited_promotion_today*/
      /*  <div style="color: #3a87ad;background-color:#d9edf7;border-color:#bce8f1;padding:5px;">*/
      /*    <%= "正在进行0元抢购"  %>*/
      /*  </div>*/
      /*<% end %>*/

      #product_ids(style="visibility: hidden")
        = @cart.cart_line_items.map(&:product_id).join(",")


      = f.input :coupon_code, as: (@order_form.errors[:coupon_code].present? ? :string : :hidden)
      = f.fields_for :sender, @order_form.sender do |builder|
        = builder.input :name, required:true, placeholder: '您的姓名', as: :hidden
        = builder.input :email, required:true, placeholder: '以便及时收到订单更新', as: :hidden
        = builder.input :phone, as: :simple_form_phone, required:true, placeholder: '以便我们和您核对信息', input_html: { class: "input tel" }

      = f.fields_for :address, @order_form.address do |builder|
        = builder.input :fullname, required: true, input_html: { class: "input recname" }
        = builder.input :phone, as: :simple_form_phone, required: true, input_html: { class: "input tel" }
        = builder.input :province_id, collection: [], prompt: "请选择", required:true, input_html: { 'data-placeholder' => '请选择', class: 'chosen' }
        = builder.input :city_id do
          = builder.input_field :city_id , collection: [], 'data-placeholder' => '请选择', class: 'chosen'
        = builder.input :area_id do
          = builder.input_field :area_id , collection: [], 'data-placeholder' => '请选择', class: 'chosen'
        = builder.input :address, as: 'text', required:true, input_html: { rows: 3 }, placeholder: '详细地址', hint: "若地址无法选择，请联系客服：400-087-8899"
        = f.input :instant_delivery, as: :boolean, hint: '90分钟送达（此项服务需要收取额外费用）', label: false, class: 'ninty-min'
        = builder.input :post_code, hint: %(<a id='query-postcode' href="#" target='_blank'>查询邮编</a>).html_safe, input_html: { class: "input post-code" }

      = f.input :expected_date, as: :string, required:true, input_html: { class: 'datepicker input expected-date' }, placeholder: '寄给TA的时间', hint: Setting.expected_date_notice || ("0元花盒将在2月8日后发货" if @cart.limited_promotion_today)

      button#gift-card-info-trigger.btn-submit
        = "添加贺卡内容"
      #gift-card-info
        = f.input :gift_card_text, as: :text, input_html: { rows: 3, maxlength: 80 }, placeholder: '我们可以代您书写给TA的话，请注明落款!', hint: '80字以内哦'
        = f.input :special_instructions, as: :text, input_html: { rows: 3 }, placeholder: '您可将一些特殊要求罗列与此，我们将尽力满足您的要求。'

      .form-actions
        = f.button :submit, class: 'btn-submit'
        = link_to t('cancel'), current_order_path

/*<% content_for :body_js do %>*/
/*  <script>*/
/*    var checkInstantDelivery = function () {*/
/*      var city_id = $("#order_form_address_city_id").val();*/
/*      var address = $("#order_form_address_address").val();*/
/*      if (city_id.length == 0 || address.length == 0) {*/
/*        $(".order_form_instant_delivery").hide('slow');*/
/*        return;*/
/*      }*/
/**/
/*      $.get('/orders/instant_delivery_status', { city_id: city_id, address: address }, function (data) {*/
/*        if (data.instant_delivery_available)*/
/*          $(".order_form_instant_delivery").show('slow');*/
/*        else*/
/*          $(".order_form_instant_delivery").hide('slow');*/
/*      });*/
/*    };*/
/**/
/*    $(function () {*/
/*      if ($("#order_form_instant_delivery").is(":checked"))*/
/*        $(".order_form_instant_delivery").show();*/
/**/
/*      $("#order_form_instant_delivery").change(function() {*/
/*        if(this.checked) {*/
/*          var myDate = new Date();*/
/*          var prettyDate = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate();*/
/*          $("#order_form_expected_date").val(prettyDate);*/
/*        } else {*/
/*          $("#order_form_expected_date").val("");*/
/*        }*/
/*      });*/
/**/
/*      $("#order_form_address_address").blur(checkInstantDelivery);*/
/*      $("#order_form_address_province_id").change(checkInstantDelivery);*/
/*      $("#order_form_address_city_id").change(checkInstantDelivery);*/
/**/
/*    });*/
/*  </script>*/
/*<% end %>*/
