<% unless current_user %>
  <div id='guest-orders'>
    <%= link_to t('views.order.order_list'), orders_path %>
  </div>
<% end %>
<div id="basket">
  <%= link_to t('views.order.basket'), current_order_path %>
  <div id='cart_amount'>
    <%= image_tag 'icon-tri.png' %><span></span>
  </div>
</div>