<div id='order-group'>
  <%= link_to t(:order_list), orders_path %>
</div>
<div id="basket">
  <%= link_to t(:basket), current_order_path %>
  <div id='cart_amount'>
    <%= image_tag 'icon-tri.png' %><span></span>
  </div>
</div>
