<div id="notice-info">
  <h2>购买注意</h2>
  <p> <strong>配送物流: </strong> 我们采用联邦快递及顺丰快递“次日达”服务，在您选定的收货日期前24小时内制作并发出，以确保您能够收到花是保持最佳状态。</p>
  <p> <strong>递送时间：</strong>为了保证您收到产品时的质量，鲜花类产品仅在联邦快递“次日达”服务范围内配送。永生花类产品可以全国订购，在联邦快递“次日达”服务区以外不保证收货时间。</p>
  <p> <strong>损坏赔偿：</strong>如果在运送过程中花盒出现了例如被翻转等损坏，请您在第一时间拍照后联系我们的客服。在客服确认为鲜花产品在运输过程中受到了因运输不当而产生的损坏，我们愿意进行全额的赔偿。 但是由于鲜花产品的特殊性，在运输过程中一定会对于新鲜程度的部分影响，我们仅能够针对运输不当造成的损坏来对您进行赔偿，请您务必谅解。我们将会尽我们的可能减少鲜花产品在运输途中的时间。 </p>
  <p> <strong>产品保鲜：</strong>请您在收到产品后务必打开盒盖给鲜花透气，并向鲜花根部适当注水，如果您家中有喷壶的话，可以适当给鲜花表面喷洒适量的清水。 </p>
  <p> <strong>特别说明: </strong>由于花材及季节原因，我们将在不影响花艺整体效果的情况下，用等值或高于原花材价格的新花材进行创作。</p>
</div>
