javascript: 
  alert("init");
  $(function() {
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      $('#getBrandWCPayRequest').click(function(e){
        alert("yes");
        WeixinJSBridge.invoke('getBrandWCPayRequest',{
          "appId" : "#{j(appid)}", 
          "timeStamp" : "#{j(sanitize timestamp)}", 
          "nonceStr" : "#{j(sanitize nonce_str)}", 
          "package" : "#{j(sanitize package)}",
          "signType" : "#{j(sanitize sign_type)}", 
          "paySign" : "#{j(sanitize sign)}" 
        },function(res){
          alert(res.err_msg);
          alert(res.err_code + res.err_desc);
          if(res.err_msg == "get_brand_wcpay_request:ok") {
            window.location = "#{j(orders_path)}";
          }
          else {
            alert("Sorry! The payment is failed");
          }
        }); 
      });
    }, false);
  });
