<% if @orders.empty? %>
  <p>You have no Order</p>
<% else %>
  <div>
    <% @orders.each do |order| %>
      <p>
      <%= order.identifier %>
      <%= order.delivery_date %>
      <%= order.total %>
      <%= link_to order.identifier, order_path(order) %>
      </p>
    <% end %>
  </div>
<% end %>
