<% content_for(:title_img) do %>
  <%= image_tag('title-account.png') %>
<% end %>

<% if @orders.empty? %>
  <p>You have no Order</p>
<% else %>
  <div class='row'>
    <div class='span4'>
    </div>
    <%= render 'shared/account_nav' %>
  </div>

  <div id="order-summary" class='row'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>订单号</th>
          <th>下单时间</th>
          <th>订单状态</th>
          <th>金额</th>
          <th>内容</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'order', collection: @orders %>
      </tbody>
    </table>
  </div>
<% end %>

