<% content_for(:title_img) do %>
  <%= image_tag('title-checkout.png') %>
<% end %>

<div class='row'>
  <div class="span4">
    <%= render 'side_item_table' %>
  </div>

  <div class="span8">
    <ul id='checkout-nav'>
      
    </ul>

    <div id='checkout-form'>
      <%= render 'form' %>
    </div>
  </div>
</div>
