<div class="best-products row">
  <%# 色彩系列 %>
  <div class="square">
    <a href="/collections/colorful-life">
        <img alt="色彩系列" src="http://hua.li/system/assets/images/000/000/656/original/%E6%8C%87%E7%94%B2%E6%B2%B9.jpg?1381307650"  width="460" height="440">
    </a>
  </div>

  
</div>
