<div class="best-products row">
  <% product_row_1 = [22, 200, 237, 236]  %>
  <% product_row_2 = [204, 246, 220, 216]  %>
  <% product_row_3 = [248, 209, 83, 148]  %>
  <%# <% product_row_4 = [85, 133, 80, 181]  %>
  <% products =  Product.find(product_row_1 + product_row_2 + product_row_3) %>
  <%= render partial: 'products/product', collection: products.select { |p| product_row_1.include?(p.id) }.sort_by { |p| product_row_1.index(p.id) } %>
  <%= render partial: 'products/product', collection: products.select { |p| product_row_2.include?(p.id) }.sort_by { |p| product_row_2.index(p.id) } %>
  <%= render partial: 'products/product', collection: products.select { |p| product_row_3.include?(p.id) }.sort_by { |p| product_row_3.index(p.id) } %>
  <%# <%= render partial: 'products/product', collection: products.select { |p| product_row_4.include?(p.id) }.sort_by { |p| product_row_4.index(p.id) } %>
</div>
