<div id="slide" class="swipe">
  <ul class="container swipe-wrap">
    <% @slides.each do |slide| %>
      <li><a href='<%= slide.href %>' onClick="analytics.track('Click Banner', { category: 'Slider', label: '<%= slide.name %>' });"><%=image_tag slide.img(:mobile) %></a></li>
    <% end %>
  </ul>
  <ul class="slide-dot">
    <% @slides.each do |slide| %>
      <% if slide.equal? @slides.first %>
        <li><a class="cur"></a></li>
      <% elsif slide.equal? @slides.last %>
        <li class="last"><a></a></li>
      <% else %>
        <li><a></a></li>
      <% end %>
    <% end %>
  </ul>
</div>
