<div id="slide">
  <a class="btn-left"></a>
  <a class="btn-right"></a>
  <ul class="container">
    <li><a href="/collections/impression-collection-flower-in-photo-frame"><%= image_tag "slide/flower-in-photo-frame.jpg" %></a></li>
    <li><a href="/products/surprise"><%= image_tag "slide/tailored-surprise.jpg" %></a></li>
    <li><a href="/products/stolen-pink-dream"><%= image_tag "slide/stolen-pink-dream.jpg" %></a></li>
    <li><a href="/products/ruby"><%= image_tag "slide/ruby.jpg" %></a></li>
  </ul>
  <ul class="slide-dot">
    <li><a class="cur"></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li class="last"><a></a></li>
  </ul>
</div>
