<div id="slide">
  <a class="btn-left"></a>
  <a class="btn-right"></a>
  <ul class="container">
    <li><a href="/products/surprise"><img height="500" src="http://hua.li/system/assets/images/000/000/657/original/%E9%A6%96%E9%A1%B5%E6%BB%9A%E5%8A%A8%E5%9B%BE-01.jpg?1381311278" /></a></li>
    <li><a href="/products/stolen-pink-dream"><img height="500" src="http://hua.li/system/assets/images/000/000/658/original/%E9%A6%96%E9%A1%B5%E6%BB%9A%E5%8A%A8%E5%9B%BE-2.jpg?1381311310" /></a></li>
    <li><a href="/products/ruby"><img height="500" src="http://hua.li/system/assets/images/000/000/659/original/%E9%A6%96%E9%A1%B5%E6%BB%9A%E5%8A%A8%E5%9B%BE-03.jpg?1381311329" /></a></li>
    <li><a href="/products/paris"><img height="500" src="http://hua.li/system/assets/images/000/000/654/original/%E9%A6%96%E9%A1%B5%E6%BB%9A%E5%8A%A8%E5%9B%BE-04.jpg?1381304162" /></a></li>
    <li><a href="/products/moonlit-night"><img height="500" src="http://hua.li/system/assets/images/000/000/655/original/%E9%A6%96%E9%A1%B5%E6%BB%9A%E5%8A%A8%E5%9B%BE-05.jpg?1381304183" /></a></li>
  </ul>
  <ul class="slide-dot">
    <li><a class="cur"></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li class="last"><a></a></li>
  </ul>
</div>
