<div class="best-products">
  <h3 class="title">
    <i></i>最新活动<b></b>
  </h3>
  <div class="celebrities">
    <%= image_tag 'celebrities/cocoli.jpg' %>
    <%= image_tag 'celebrities/caoshaofeng.jpg' %>
  </div>
</div>
