div.chirstmas
  div.chirstmasframe
    = image_tag "christmas/christmas2014.jpg", width: '940', height: '3285', usemap: '#Map'
    map name="Map" id="Map"
       area shape="rect" coords="102,661,441,1020" href="http://hua.li/products/little-christmas" 
       area shape="rect" coords="456,724,793,1134" href="http://hua.li/products/walking-in-the-forest" 
       area shape="rect" coords="55,1314,449,1768" href="http://hua.li/products/white-christmas"
       area shape="rect" coords="463,1457,921,1936" href="http://hua.li/products/warm-winter" 
       area shape="rect" coords="142,2253,436,2710" href="http://hua.li/products/warm-red-bean" 
       area shape="rect" coords="439,2579,803,2978" href="http://hua.li/products/sweet-christmas" 
	   area shape="rect" coords="0,3040,948,3295" href="http://hua.li/collections/christmas-day"
