<% content_for :sidebar do %>
  <div id="home-side" class="row">
  	<p id="home-intro" class="offset2 span2">
  	</p>

  </div>
<% end %>

<div id="home-wrapper">
	<div id="showcase">
      <%= image_tag('home-yongsheng.jpg') %>
	</div>
</div>
