<% content_for :sidebar do %>
  <div id="home-side" class="row">
  	<p id="home-intro" class="offset2 span2">
翩若惊鸿，<br/>
婉若游龙，<br/>
荣曜秋菊，<br/>
华茂春松。<br/>
—《洛神赋》</br>
繁枝千叶，爱在<a href='#'>花里</a>
  	</p>

  </div>
<% end %>

<div id="home-wrapper">
	<div id="showcase">
      <%= image_tag('home-yongsheng.jpg') %>
	</div>
</div>
