<% content_for :title do %>
花里Huali Store – 定制惊喜 Tailored Surprises
<% end %>

<% content_for :description do %>
花里花店是目前中国领先的在线精品花艺品牌，通过在线渠道向全国消费者提供高质量的花艺消费品。花里，用心定制惊喜，用优雅的法式美学为您的生活增色。
<% end %>

<%= render 'slide' %>
<%= render 'best_products' %>
<div class="best-products">
  <h3 class="title"><i></i>合作品牌<b></b></h3>
  <div class="brands">
    <a href="http://www.makeupforever.com/" target="_blank" class="make-up-forever">make up forever</a>
    <a href="http://www.shanghaitang.com/" target="_blank" class="shanghai-beach">shanghai beach</a>
    <a href="http://www.chloe.com/" target="_blank" class="chole">chole</a>
    <a href="http://www.helenarubinstein.cn/helena-rubinstein/_zh/_cn/home/index.aspx" target="_blank" class="HR">HR</a>
    <a href="http://www.ctrip.com/" target="_blank" class="ctrip">ctrip</a>
    <a href="http://www.ritzcarlton.com/" target="_blank" class="Ritz-Carlton">Ritz-Carlton</a>
    <a href="http://www.mabelle.com.cn/" target="_blank" class="MaBelle">MaBelle</a>
  </div>
</div>
<div class="best-products">
  <h3 class="title"><i></i>花里·明星<b></b></h3>
  <div class="huali-brief">
    <div class="intro">
      <div class="intro-text">
        <h3>花里</h3>
        <p>不同时间，不同场合，</p>
        <p>花里遇见大明星，</p>
        <p>都必然是一幅最美丽动人的画面。</p>
      </div>
    </div>
    <a href="<%= celebrities_path %>" class="celebrities"></a>
  </div>
</div>
