<% content_for :sidebar do %>
  <div id="home-side" class="row">
  	<p id="home-intro" class="offset1 span3">
  		在这，我们这样生活:  惦念你的我/才不会去想那些甜腻的句子/而是别一枝桃花在你窗棂/让我流泪的情诗/也不过是在我们邂逅的站台/你手中的那一抹栀子香气/做个慵懒的城市诗人/是有多么快活/在脚步匆忙的一天之后/听她们说些温软的话/繁枝千叶/爱在 <a href='#'>花里</a>
  	</p>

  </div>
<% end %>

<div id="home-wrapper">
	<div id="showcase">
      <%= image_tag('home-thanks-giving.jpg') %>
	</div>
</div>
