.huagirl
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')
  =render('pages/each')