<div class="best-products">
  <h3 class="title">
    <i></i>PRESS RELEASE<b></b>
    <p>Huali, as a premier online flower brand, has a good reputation among medium</p>
  </h3>
  <div class="medias">
    <a href="http://lifestyle.rayli.com.cn/0P11/2013-07-04/L0P11007_1076759.html" target="_blank">
      <%= image_tag 'medias/rayli-report.jpg' %>
    </a>
    <a href="http://eladies.sina.com.cn/nx/2013/0808/20531231268.shtml" target="_blank">
      <%= image_tag 'medias/sina-report.jpg' %>
    </a>
    <a href="http://www.itravelqq.com/2013/0925/177190.html" target="_blank">
      <%= image_tag 'medias/qq-report.jpg' %>
    </a>
  </div>
</div>

<div class="best-products">
  <h3 class="title">
    <i></i>其他媒体<b></b>
  </h3>
  <div class="other-medias">
    <a href="#" target="_blank" class="media-sohu">搜狐</a>
    <a href="#" target="_blank" class="media-vogue">Vogue</a>
    <a href="#" target="_blank" class="media-sina-women">新浪女性</a>
    <a href="#" target="_blank" class="media-21-cn">21CN</a>
  </div>
</div>

