<%= content_for :title do %>
  <%= "母亲节还送康乃馨？妈妈的心愿单让母亲节不一样 - 花里花店 Huali Store" %>  
<% end %>
<div class="best-products">
  <div class="mother-day">
    <div class="main">
      <%= image_tag "mother-day/products.jpg" %>
      <a id="title_1_link" class="title" href="#swarovski"></a>
      <a id="title_2_link" class="title" href="#marc_jacobs"></a>
      <a id="title_3_link" class="title" href="#missed_flowers"></a>
      <a id="title_4_link" class="title" href="#more"></a>

      <a id="title_1" class="title" name="swarovski"></a>
      <a id="title_2" class="title" name="marc_jacobs"></a>
      <a id="title_3" class="title" name="missed_flowers"></a>
      <a id="title_4" class="title" name="more"></a>

      <div id="product_1" class="product_tag">
        <a class="cn-name" href="/products/mother" target="_blank">Mother</a>
        <br>
        <a class="en-name" href="/products/mother" target="_blank">SWAROVSKI 全球限量字母密镶</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_1" class="product_link" href="/products/mother" target="_blank"></a>

      <div id="product_2" class="product_tag">
        <a class="cn-name" href="/products/charming-dna" target="_blank">迷你基因</a>
        <br>
        <a class="en-name" href="/products/charming-dna" target="_blank">SWAROVSKI 母女款水钻</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_2" class="product_link" href="/products/charming-dna" target="_blank"></a>

      <div id="product_3" class="product_tag">
        <a class="cn-name" href="/products/the-key-of-the-forest" target="_blank">森林之匙</a>
        <br>
        <a class="en-name" href="/products/the-key-of-the-forest" target="_blank">SWAROVSKI 大野洋子设计款水晶钥匙</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_3" class="product_link" href="/products/the-key-of-the-forest" target="_blank"></a>

      <div id="product_4" class="product_tag">
        <a class="cn-name" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5" target="_blank">波卡波卡</a>
        <br>
        <a class="en-name" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5" target="_blank">DOT EDT (50ml)</a>
        <br>
        <a class="price-red">￥1299</a>
      </div>

      <a id="product_link_4" class="product_link" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5" target="_blank"></a>

      <div id="product_5" class="product_tag">
        <a class="cn-name" href="/products/travel-back-in-time" target="_blank">时光深处的旅行</a>
        <br>
        <a class="en-name" href="/products/travel-back-in-time" target="_blank">Daisy Eau So Fresh EDT (75ml)</a>
        <br>
        <a class="price-red">￥1299</a>
      </div>

      <a id="product_link_5" class="product_link" href="/products/travel-back-in-time" target="_blank"></a>

      <div id="product_6" class="product_tag">
        <a class="cn-name" href="#" target="_blank">黑桃皇后</a>
        <br>
        <a class="en-name" href="#" target="_blank">Queen of spades</a>
        <br>
        <a class="price-yellow">￥999</a>
      </div>

      <a id="product_link_6" class="product_link" href="#" target="_blank"></a>

      <div id="product_7" class="product_tag">
        <a class="cn-name" href="/products/caring" target="_blank">馨香</a>
        <br>
        <a class="en-name" href="/products/caring" target="_blank">Caring</a>
        <br>
        <a class="price-yellow">￥439</a>
      </div>

      <a id="product_link_7" class="product_link" href="/products/caring" target="_blank"></a>

      <div id="product_8" class="product_tag">
        <a class="cn-name" href="/products/planet-mars" target="_blank">行星系列之火星</a>
        <br>
        <a class="en-name" href="/products/planet-mars" target="_blank">Star series - Mars</a>
        <br>
        <a class="price-yellow">￥399</a>
      </div>

      <a id="product_link_8" class="product_link" href="/products/planet-mars" target="_blank"></a>

      <div id="product_9" class="product_tag">
        <a class="cn-name" href="products/dreaming-in-spring" target="_blank">做一个春梦</a>
        <br>
        <a class="en-name" href="products/dreaming-in-spring" target="_blank">Dreaming in spring</a>
        <br>
        <a class="price-yellow">￥999</a>
      </div>

      <a id="product_link_9" class="product_link" href="products/dreaming-in-spring" target="_blank"></a>

      <div class="more">
        <div id="product_1" class="product_tag text-center">
          <a class="cn-name" href="/products/heart-of-the-ocean" target="_blank">海洋之心</a>
          <br>
          <a class="en-name" href="/products/heart-of-the-ocean" target="_blank">heart of the ocean</a>
          <br>
          <a class="price-red">￥439</a>
        </div>

        <a id="product_link_1" class="product_link" href="products/heart-of-the-ocean" target="_blank"></a>

        <div id="product_2" class="product_tag text-center">
          <a class="cn-name" href="/products/purple-dance" target="_blank">紫舞</a>
          <br>
          <a class="en-name" href="/products/purple-dance" target="_blank">purple dance</a>
          <br>
          <a class="price-red">￥399</a>
        </div>

        <a id="product_link_2" class="product_link" href="products/purple-dance" target="_blank"></a>

        <div id="product_3" class="product_tag text-center">
          <a class="cn-name" href="/products/amber" target="_blank">琥珀</a>
          <br>
          <a class="en-name" href="/products/amber" target="_blank">amber</a>
          <br>
          <a class="price-red">￥499</a>
        </div>
        
        <a id="product_link_3" class="product_link" href="products/amber" target="_blank"></a>

        <div id="product_4" class="product_tag text-center">
          <a class="cn-name" href="/products/a-year-in-provence" target="_blank">普罗旺斯的一年</a>
          <br>
          <a class="en-name" href="/products/a-year-in-provence" target="_blank">a year in provence</a>
          <br>
          <a class="price-red">￥1999</a>
        </div>

        <a id="product_link_4" class="product_link" href="products/a-year-in-provence" target="_blank"></a>
        
        <div id="product_5" class="product_tag text-center">
          <a class="cn-name" href="/products/the-one" target="_blank">THE ONE</a>
          <br>
          <a class="en-name" href="/products/the-one" target="_blank">the one</a>
          <br>
          <a class="price-red">￥799</a>
        </div>
        
        <a id="product_link_5" class="product_link" href="products/the-one" target="_blank"></a>

        <div id="product_6" class="product_tag text-center">
          <a class="cn-name" href="/products/stolen-pink-dream" target="_blank">软妹子</a>
          <br>
          <a class="en-name" href="/products/stolen-pink-dream" target="_blank">stolen pink dream</a>
          <br>
          <a class="price-red">￥1099</a>
        </div>
        
        <a id="product_link_6" class="product_link" href="/products/stolen-pink-dream" target="_blank"></a>

        <div id="product_7" class="product_tag text-center">
          <a class="cn-name" href="/products/you-are-my-love-forever" target="_blank">你是我毕生的追求</a>
          <br>
          <a class="en-name" href="/products/you-are-my-love-forever" target="_blank">you are my love forever</a>
          <br>
          <a class="price-red">￥10000</a>
        </div>
        
        <a id="product_link_7" class="product_link" href="/products/you-are-my-love-forever" target="_blank"></a>
        
        <div id="product_8" class="product_tag text-center">
          <a class="cn-name" href="/products/tourmaline" target="_blank">碧玺</a>
          <br>
          <a class="en-name" href="/products/tourmaline" target="_blank">tourmaline</a>
          <br>
          <a class="price-red">￥499</a>
        </div>

        <a id="product_link_8" class="product_link" href="/products/tourmaline" target="_blank"></a>

        <div id="product_9" class="product_tag text-center">
          <a class="cn-name" href="/products/forever-heart" target="_blank">永生海洋之心</a>
          <br>
          <a class="en-name" href="/products/forever-heart" target="_blank">forever heart</a>
          <br>
          <a class="price-red">￥1099</a>
        </div>

        <a id="product_link_9" class="product_link" href="/products/forever-heart" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

