<%= content_for :title do %>
  <%= "母亲节还送康乃馨？妈妈的心愿单让母亲节不一样 - 花里花店 Huali Store" %>  
<% end %>
<div class="best-products">
  <div class="mother-day">
    <div class="main">
      <%= image_tag "mother-day/products.jpg" %>

      <div id="product_1" class="product_tag">
        <div class="cn-name">Mother</div>
        <div class="en-name">SWAROVSKI 全球限量字母密镶</div>
        <div class="price-yellow">￥499</div>
      </div>

      <div id="product_2" class="product_tag">
        <div class="cn-name">迷你基因</div>
        <div class="en-name">SWAROVSKI 母女款水钻</div>
        <div class="price-yellow">￥499</div>
      </div>

      <div id="product_3" class="product_tag">
        <div class="cn-name">森林之匙</div>
        <div class="en-name">SWAROVSKI 大野洋子设计款水晶钥匙</div>
        <div class="price-yellow">￥499</div>
      </div>

      <div id="product_4" class="product_tag">
        <div class="cn-name">波卡波卡</div>
        <div class="en-name">DOT EDT (50ml)</div>
        <div class="price-red">￥1299</div>
      </div>

      <div id="product_5" class="product_tag">
        <div class="cn-name">时光深处的旅行</div>
        <div class="en-name">Daisy Eau So Fresh EDT (75ml)</div>
        <div class="price-red">￥1299</div>
      </div>

      <div id="product_6" class="product_tag">
        <div class="cn-name">黑桃皇后</div>
        <div class="en-name">Queen of spades</div>
        <div class="price-yellow">￥999</div>
      </div>

      <div id="product_7" class="product_tag">
        <div class="cn-name">馨香</div>
        <div class="en-name">Caring</div>
        <div class="price-yellow">￥439</div>
      </div>

      <div id="product_8" class="product_tag">
        <div class="cn-name">行星系列之火星</div>
        <div class="en-name">Star series - Mars</div>
        <div class="price-yellow">￥999</div>
      </div>

      <div id="product_9" class="product_tag">
        <div class="cn-name">做一个春梦</div>
        <div class="en-name">Dreaming in spring</div>
        <div class="price-yellow">￥999</div>
      </div>

      <div class="more">
        <div id="product_1" class="product_tag text-center">
          <div class="cn-name">海洋之心</div>
          <div class="en-name">heart of the ocean</div>
          <div class="price-yellow">￥439</div>
        </div>

        <div id="product_2" class="product_tag text-center">
          <div class="cn-name">紫舞</div>
          <div class="en-name">purple dance</div>
          <div class="price-yellow">￥399</div>
        </div>

        <div id="product_3" class="product_tag text-center">
          <div class="cn-name">琥珀</div>
          <div class="en-name">amber</div>
          <div class="price-yellow">￥499</div>
        </div>

        <div id="product_4" class="product_tag text-center">
          <div class="cn-name">普罗旺斯的一年</div>
          <div class="en-name">a year in provence</div>
          <div class="price-yellow">￥1999</div>
        </div>
        
        <div id="product_5" class="product_tag text-center">
          <div class="cn-name">THE ONE</div>
          <div class="en-name">the one</div>
          <div class="price-yellow">￥799</div>
        </div>

        <div id="product_6" class="product_tag text-center">
          <div class="cn-name">软妹子</div>
          <div class="en-name">stolen pink dream</div>
          <div class="price-yellow">￥1099</div>
        </div>

        <div id="product_7" class="product_tag text-center">
          <div class="cn-name">你是我毕生的追求</div>
          <div class="en-name">you are my love forever</div>
          <div class="price-yellow">￥10000</div>
        </div>
        
        <div id="product_8" class="product_tag text-center">
          <div class="cn-name">碧玺</div>
          <div class="en-name">tourmaline</div>
          <div class="price-yellow">￥499</div>
        </div>

        <div id="product_9" class="product_tag text-center">
          <div class="cn-name">永生海洋之心</div>
          <div class="en-name">forever heart</div>
          <div class="price-yellow">￥1099</div>
        </div>
      </div>
    </div>
  </div>
</div>

