<%= content_for :title do %>
  <%= "母亲节还送康乃馨？妈妈的心愿单让母亲节不一样 - 花里花店 Huali Store" %>  
<% end %>
<div class="best-products">
  <div class="mother-day">
    <div class="main">
      <%= image_tag "mother-day/products.jpg" %>

      <div id="product_1" class="product_tag">
        <a class="cn-name" href="#">Mother</a>
        <br>
        <a class="en-name" href="#">SWAROVSKI 全球限量字母密镶</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_1" class="product_link" href="#"></a>

      <div id="product_2" class="product_tag">
        <a class="cn-name" href="#">迷你基因</a>
        <br>
        <a class="en-name" href="#">SWAROVSKI 母女款水钻</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_2" class="product_link" href="#"></a>

      <div id="product_3" class="product_tag">
        <a class="cn-name" href="#">森林之匙</a>
        <br>
        <a class="en-name" href="#">SWAROVSKI 大野洋子设计款水晶钥匙</a>
        <br>
        <a class="price-yellow">￥499</a>
      </div>

      <a id="product_link_3" class="product_link" href="#"></a>

      <div id="product_4" class="product_tag">
        <a class="cn-name" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5">波卡波卡</a>
        <br>
        <a class="en-name" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5">DOT EDT (50ml)</a>
        <br>
        <a class="price-red">￥1299</a>
      </div>

      <a id="product_link_4" class="product_link" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5"></a>

      <div id="product_5" class="product_tag">
        <a class="cn-name" href="/products/travel-back-in-time">时光深处的旅行</a>
        <br>
        <a class="en-name" href="/products/travel-back-in-time">Daisy Eau So Fresh EDT (75ml)</a>
        <br>
        <a class="price-red">￥1299</a>
      </div>

      <a id="product_link_5" class="product_link" href="/products/travel-back-in-time"></a>

      <div id="product_6" class="product_tag">
        <a class="cn-name" href="#">黑桃皇后</a>
        <br>
        <a class="en-name" href="#">Queen of spades</a>
        <br>
        <a class="price-yellow">￥999</a>
      </div>

      <a id="product_link_6" class="product_link" href="#"></a>

      <div id="product_7" class="product_tag">
        <a class="cn-name" href="/products/caring">馨香</a>
        <br>
        <a class="en-name" href="/products/caring">Caring</a>
        <br>
        <a class="price-yellow">￥439</a>
      </div>

      <a id="product_link_7" class="product_link" href="/products/caring"></a>

      <div id="product_8" class="product_tag">
        <a class="cn-name" href="#">行星系列之火星</a>
        <br>
        <a class="en-name" href="#">Star series - Mars</a>
        <br>
        <a class="price-yellow">￥399</a>
      </div>

      <a id="product_link_8" class="product_link" href="#"></a>

      <div id="product_9" class="product_tag">
        <a class="cn-name" href="products/dreaming-in-spring">做一个春梦</a>
        <br>
        <a class="en-name" href="products/dreaming-in-spring">Dreaming in spring</a>
        <br>
        <a class="price-yellow">￥999</a>
      </div>

      <a id="product_link_9" class="product_link" href="products/dreaming-in-spring"></a>

      <div class="more">
        <div id="product_1" class="product_tag text-center">
          <a class="cn-name" href="/products/heart-of-the-ocean">海洋之心</a>
          <br>
          <a class="en-name" href="/products/heart-of-the-ocean">heart of the ocean</a>
          <br>
          <a class="price-red">￥439</a>
        </div>

        <a id="product_link_1" class="product_link" href="products/heart-of-the-ocean"></a>

        <div id="product_2" class="product_tag text-center">
          <a class="cn-name" href="/products/purple-dance">紫舞</a>
          <br>
          <a class="en-name" href="/products/purple-dance">purple dance</a>
          <br>
          <a class="price-red">￥399</a>
        </div>

        <a id="product_link_2" class="product_link" href="products/purple-dance"></a>

        <div id="product_3" class="product_tag text-center">
          <a class="cn-name" href="/products/amber">琥珀</a>
          <br>
          <a class="en-name" href="/products/amber">amber</a>
          <br>
          <a class="price-red">￥499</a>
        </div>
        
        <a id="product_link_3" class="product_link" href="products/purple-dance"></a>

        <div id="product_4" class="product_tag text-center">
          <a class="cn-name" href="/products/a-year-in-provence">普罗旺斯的一年</a>
          <br>
          <a class="en-name" href="/products/a-year-in-provence">a year in provence</a>
          <br>
          <a class="price-red">￥1999</a>
        </div>

        <a id="product_link_4" class="product_link" href="products/a-year-in-provence"></a>
        
        <div id="product_5" class="product_tag text-center">
          <a class="cn-name" href="/products/the-one">THE ONE</a>
          <br>
          <a class="en-name" href="/products/the-one">the one</a>
          <br>
          <a class="price-red">￥799</a>
        </div>
        
        <a id="product_link_5" class="product_link" href="products/the-one"></a>

        <div id="product_6" class="product_tag text-center">
          <a class="cn-name" href="/products/stolen-pink-dream">软妹子</a>
          <br>
          <a class="en-name" href="/products/stolen-pink-dream">stolen pink dream</a>
          <br>
          <a class="price-red">￥1099</a>
        </div>
        
        <a id="product_link_6" class="product_link" href="/products/stolen-pink-dream"></a>

        <div id="product_7" class="product_tag text-center">
          <a class="cn-name" href="/products/you-are-my-love-forever">你是我毕生的追求</a>
          <br>
          <a class="en-name" href="/products/you-are-my-love-forever">you are my love forever</a>
          <br>
          <a class="price-red">￥10000</a>
        </div>
        
        <a id="product_link_7" class="product_link" href="/products/you-are-my-love-forever"></a>
        
        <div id="product_8" class="product_tag text-center">
          <a class="cn-name" href="/products/tourmaline">碧玺</a>
          <br>
          <a class="en-name" href="/products/tourmaline">tourmaline</a>
          <br>
          <a class="price-red">￥499</a>
        </div>

        <a id="product_link_8" class="product_link" href="/products/tourmaline"></a>

        <div id="product_9" class="product_tag text-center">
          <a class="cn-name" href="/products/forever-heart">永生海洋之心</a>
          <br>
          <a class="en-name" href="/products/forever-heart">forever heart</a>
          <br>
          <a class="price-red">￥1099</a>
        </div>

        <a id="product_link_9" class="product_link" href="/products/forever-heart"></a>
      </div>
    </div>
  </div>
</div>

