<%= content_for :title do %>
  <%= "2014七夕情人节，为ta许下一万年爱的承诺 - 花里花店 Huali Store" %>  
<% end %>
<div class="best-products">
  <div class="qixijie">
    <div class="main">
      <%= image_tag "qixijie/qixijie.jpg" %>

      <div id="label1" class="product_link">
        <p>曾经有一份真挚的感情放在我面前，我却没有珍惜，直到失去之后才追悔莫及。如果上天能给我一个再来一次的机会，我会对ta说三个字：我爱你！如果非要在这份爱上加一个期限，我希望是一万年！</p>
        <br>
        <p>这个<a href="/qixijie">七夕节</a>，让我给ta一个一万年的承诺！</p>
      </div>

      <div id="label2" class="product_link">
        <p>我觉得我们还是做朋友吧。</p>
        <p>开玩笑！老夫老妻了还搞烛光晚餐？</p>
        <p>哈尼，你的心里怎么就容不下一个男人？</p>
        <br>
        <p>2014七夕情人节，找回我们的爱！</p>
      </div>

      <div class="scroll-anchor"></div>
      <a id="product_link_1" class="product_link" href="/products/grace" target="_blank"></a>

      <a id="product_link_2" class="product_link" href="/products/charming-dna" target="_blank"></a>

      <a id="product_link_3" class="product_link" href="/products/breathing-love" target="_blank"></a>

      <a id="product_link_4" class="product_link" href="/products/meliting-in-love" target="_blank"></a>

      <a id="product_link_5" class="product_link" href="/products/light-valley" target="_blank"></a>

      <a id="product_link_6" class="product_link" href="/products/pink-boom" target="_blank"></a>

      <a id="product_link_7" class="product_link" href="/products/secret-island" target="_blank"></a>

      <a id="product_link_8" class="product_link" href="/products/cocteau-twin" target="_blank"></a>

      <a id="product_link_9" class="product_link" href="/products/lemonade" target="_blank"></a>

      <a id="product_link_10" class="product_link" href="/products/hug" target="_blank"></a>

      <a id="product_link_11" class="product_link" href="/products/cute" target="_blank"></a>

      <a id="product_link_12" class="product_link" href="/products/planet-mars" target="_blank"></a>
      <div class="more">

        <a id="product_link_1" class="product_link" href="/products/you-are-my-love-forever" target="_blank"></a>

        <a id="product_link_2" class="product_link" href="/products/polka-dot--ab8e8fa1-0538-40a0-8955-8f9644ab4cf5" target="_blank"></a>
        
        <a id="product_link_3" class="product_link" href="/products/dream-defender" target="_blank"></a>

        <a id="product_link_4" class="product_link" href="/products/the-girl-appreciation" target="_blank"></a>

        <a id="product_link_5" class="product_link" href="/products/ode-to-cloud" target="_blank"></a>

        <a id="product_link_6" class="product_link" href="/products/forever-heart" target="_blank"></a>

        <a id="product_link_7" class="product_link" href="/products/ruby" target="_blank"></a>
        
        <a id="product_link_8" class="product_link" href="/products/the-queen-of-spades" target="_blank"></a>
        
      </div>
    </div>
  </div>
</div>
<a id="scrollTop" class="scroll-object" href="#l-fixed-area-container"><%=image_tag "qixijie/scroll_top.png" %></a>
