<div id="share-wrapper">
  <div class="row">
    <%= image_tag('success-title.png') %>
  </div>
  <div id="share-list">
    <a id='post-share' class="button">分享</a>
  </div>
  <div>
    <%= image_tag('share-img.png') %>
  </div>
</div>
