<div id="share-wrapper">
  <div class="row">
    <%= image_tag('share-title.png') %>
  </div>
  <div id="share-list">
    <p> 感谢您，让花里代您传递这一张小小的明信片，我们为之感到荣幸。 </p>
    <p> 我们希望您能将这个活动分享到新浪微博，让更多的朋友来讲述和传达自己的感情。 </p>
    <p> 做一个温暖而有感情的人，是件美好的事。 </p>
    <p> <a id='post-share' class="button">分享到微博</a> </p>
  </div>
  <div>
    <%= image_tag 'share-img.jpg', width: '400' %>
  </div>
</div>
