<div id="success-wrapper">
  <div class="row">
    <%= image_tag('success-title.png') %>
  </div>
  <div id="success-list">
    <p>
      多谢惠顾。
      <span class="product-name"><%= @product.name_cn %></span> 已经购买成功。
    </p>
    <p> 我们会尽快为您发货。 </p>
  </div>
  <div id="notice-info">
    <h3>售后注意</h3>
    <p> <strong>订单查询：</strong>我们将会在联邦快递发出后通过短信的方式给您发送订单号码，您可以通过登录联邦快递的官网查询递送的情况。在未来您将可以在我们网站的后台中完成所有的查询工作。 </p>
    <p> <strong>如果有任何疑问请拨打我们的服务热线: 150-000-58458</strong></p>
  </div>
  <div>
    <%= image_tag('success-img.png') %>
  </div>
</div>
