<%= content_for :title do %>
  <%= "2015年情人节，寻找你的xoxo moment - 花里花店 Huali Store" %>  
<% end %>
<div class="best-products">
  <div class="valentine-2015">
    <div class="main">
      <%= image_tag "valentine/background.jpg" %>

      <a id="product_link_1" class="product_link" href="/products/love-forever" target="_blank"></a>

      <a id="product_link_2" class="product_link" href="/products/the-first-sight-of-you" target="_blank"></a>

      <a id="product_link_3" class="product_link" href="/products/hug" target="_blank"></a>

      <div class="more">

        <a id="product_link_1" class="product_link" href="/products/memories" target="_blank"></a>

        <a id="product_link_2" class="product_link" href="/products/la-vie-en-rose" target="_blank"></a>

        <a id="product_link_3" class="product_link" href="/products/fall-in-love" target="_blank"></a>

        <a id="product_link_4" class="product_link" href="/products/love-of-my-life" target="_blank"></a>
        
        <a id="product_link_5" class="product_link" href="/products/innocent-love" target="_blank"></a>

        <a id="product_link_6" class="product_link" href="/products/cute" target="_blank"></a>

        <a id="product_link_7" class="product_link" href="/products/hold-hand-xoxo" target="_blank"></a>
        
        <a id="product_link_8" class="product_link" href="/products/hug-xoxo" target="_blank"></a>

        <a id="product_link_9" class="product_link" href="/products/kiss-xoxo" target="_blank"></a>

        <a id="product_link_10" class="product_link" href="/products/heart-of-the-ocean" target="_blank"></a>
        
        <a id="product_link_11" class="product_link" href="products/a-year-in-provence" target="_blank"></a>

        <a id="product_link_12" class="product_link" href="/products/magnificence" target="_blank"></a>

        <a id="product_link_13" class="product_link" href="/products/time-flow" target="_blank"></a>
        
        <a id="product_link_14" class="product_link" href="/products/gentle-love" target="_blank"></a>

        <a id="product_link_15" class="product_link" href="/products/love-story" target="_blank"></a>

        <a id="more-option" class="product_link" href="/collections/preserved" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
<a id="scrollTop" class="scroll-object" href="#l-fixed-area-container"><%=image_tag "mother-day/scroll_top.png" %></a>
