<div class="best-products">
  <div id="loader">
    <div id="loaderCircle"><%= image_tag 'loading.gif', class: 'loading' %></div>
  </div>
  <h3 class="title">
    <i></i>微博故事<b></b>
  </h3>
  <div class="weibo-stories">
    <div id="tiles">
      <!-- These is where we place content loaded from the Wookmark API -->
    </div>
  </div>
</div>
