.error-page-main.e404
  background-image: image-url("bg/404_main.jpg")
  .help
    width: 184px
    height: 137px
    letter-spacing: 3px
    left: 52px
    top: 200px
    background-image: image-url("bg/tips_border2.png")