#l-fixed-area-container
  width: 100%
  background-color: #fdfdfd
#l-header
  position: relative
  margin: 0 auto
  height: 100px
  width: $global-width
  padding: 0 5px
  text-align: center
  z-index: 99999
  background: image-url("bg/body.png") repeat
  a
    display: inline-block
    margin-top: 10px
    img
      height: 80px
  strong
    position: absolute
    display: block
    height: 18px
    line-height: 18px
    right: 5px
    top: 10px
    color: $global-text-color
    padding-left: 25px
    background-image: image-url("bg/tel.png")
    font-size: 20px
  #bookmark
    position: absolute
    right: 6px
    top: 30px
    a
      margin: 0
      color: #a9643c
      text-decoration: none
      font-size: 18px !important
  #search
    position: absolute
    right: 5px
    height: 25px
    line-height: 15px
    font-size: 15px
    bottom: 10px
    .query, .submit
      height: 15px
    .query
      margin: 0 2px 0 0
      padding: 4px 6px
      width: 120px
      color: #999999

    .submit
      +button(38px,25px)
      color: white !important
