#l-fixed-area-container
  position: fixed
  left: 0
  top: 0
  width: 100%
  background-color: #fdfdfd
  z-index: 99999
#l-header
  position: relative
  margin: 0 auto
  height: 134px
  width: $global-width + 10
  text-align: center
  z-index: 99999
  background: image-url("bg/body.png") repeat
  a
    display: inline-block
    margin-top: 19px
  strong
    position: absolute
    display: block
    height: 18px
    line-height: 18px
    right: 0
    bottom: 10px
    color: $global-text-color
    padding-left: 20px
    background-image: image-url("bg/tel.png")
