.l-inline
  display: inline

.l-stack
  display: block !important

.l-inline-stack
  display: inline-block

.l-none
  display: none

#l-show
  width: $global-width
  margin: 0 auto

#l-show-m
  padding: 10px