.l-inline
  display: inline

.l-stack
  display: block !important

.l-inline-stack
  display: inline-block

.l-none
  display: none

#l-show
  width: $global-width
  margin: 0 auto

#l-show-m
  padding: 10px

#l-fixed-area-item2
  position: relative
  padding-top: 169px

#l-fixed-area-item3
  position: relative
  padding-top: 224px
  #l-fixed-area-container
    top: 55px
  #l-nav
    top: 189px