nav
  display: none
  padding: 0 8px
  font-size: 14px
  a
    display: block
    padding-left: 25px
    height: 36px
    line-height: 36px
    color: $link-dark-color
    border-bottom: 1px solid #686868
    text-decoration: none
    &:active,&:hover
      text-decoration: none
    &:hover
      background: #6495ed
  .not-login
    padding-left: 25px
    border-bottom: 1px solid #686868
    a
      display: inline
      border-bottom: none
      padding-left: 0
