#pick-flower
  position: fixed
  right: 20px
  bottom: 0px
  a
    border: solid 1px #eeeeee
    border-bottom: none
    display: block
    padding: 4px 10px
    text-decoration: none
    color: $normal-text-color
    background-color: #ffffff
    &:hover
      background-color: black
      color: #ffffff
footer
  position: absolute
  width: 95%
  bottom: 0px
  clear: both
  padding: 10px
  .footer-inner
    text-align: center
    border-width: 1px 0 0 0
    border-style: solid
    border-color: #9fa0a0
    ul
      +clearfix
      display: inline-block
      li
        float: left
        margin-left: 20px
        height: 24px
        line-height: 24px
        a
          color: $layout-text-color
    p
      text-align: center
      margin-top: 20px
