.nav-fixed
  position: fixed !important
  left: 0
  top: 0
#l-nav
  position: relative
  width: 100%
  height: 35px
  // background: image-url("bg/nav.png") repeat-x
  background-color: RGB(116, 004, 004)
  z-index: 99999
  a
    color: $masthead-color
  .nav-inner
    +clearfix
    width: $global-width
    margin: 0 auto
    .cart-preview-container
      display: none
      position: absolute
      width: 195px
      left: -50px
      .cart-preview
        padding: 10px
        background-color: $cart-bg-color
        +global-box-shadow
        border-color: $border-lighter-color
        .cart-preview-empty
          text-align: center
        h3
          line-height: 25px
          a
            padding-left: 0
            color: $link-blue-color
        .cart-preview-item
          +clearfix
          padding: 5px 0
          border-top: 1px solid $border-light-color
          &.last
            border-bottom: 1px solid $border-light-color
          img
            float: left
            margin-right: 6px
          .cart-preview-item-main
            float: left
            width: 130px
            h4
              line-height: 1.2
            .cart-preview-item-info
              +clearfix
              line-height: 2.0
              .num
                float: left
              .price
                float: right
        .summary
          +clearfix
          line-height: 1.8
          span
            float: left
          strong
            float: right
        .go-checkout
          +clearfix

        .checkout
          float: right
          +button(80px)
          padding-left: 0
          text-align: center
          line-height: 30px
          margin-top: 10px
    .nav-item
      float: left
      +clearfix
      margin-left: 0px
      line-height: 35px
      li
        position: relative
        float: left
        margin-right: 47px
        a
          display: block
        &.cur
          i
            position: absolute
            left: 50%
            top: 28px
            margin-left: -10px
            width: 20px
            height: 7px
            background-image: image-url("bg/arrow.png")
        &.last
          margin-right: 0
      li:last-child
        a
          color: yellow
          font-weight: bold
          text-shadow: 3px 3px 10px #FF6B00
          -webkit-filter: drop-shadow(0px 0px 15px #FF6B00)
    .operate
      float: right
      line-height: 35px
      .profile
        display: none
        position: absolute
        width: 60px
        left: -15px
        padding: 10px
        background-color: $profile-bg-color
        border-width: 0 1px 1px 1px
        border-style: solid
        border-color: $border-lighter-color
        li
          float: none
          margin-right: 0
        a
          padding-left: 0
          line-height: 1.8
          color: $strong-color
      li
        position: relative
        float: left
        margin-right: 25px
        &.last
          margin-right: 0
        i.fa-shopping-cart
          font-size: 16px
          color: #fff
          vertical-align: middle
        a
          display: block
          padding-left: 25px
          color: $masthead-color
          i
            display: none
            position: absolute
            left: 50%
            top: 28px
            margin-left: -10px
            width: 20px
            height: 7px
            background-image: image-url("bg/arrow.png")
          &.cart
            display: inline
            margin-left: 0
            padding-left: 2px
          &.forward
            background-image: image-url("bg/op_forward.png")
          &.mail
            background-image: image-url("bg/mail.png")
          &.personal
            background-image: image-url("bg/op_personal.png")
        &.is-login
        &.not-login, &.personal-account
          color: $masthead-color
          span
            padding: 0 3px
          a
            display: inline
            padding-left: 0

  .nav-callout-container
    +global-box-shadow
    position: absolute
    visibility: hidden
    top: 35px
    left: 0
    overflow: hidden
    background-color: #f7f7f7
  .nav-callout
    position: relative
    min-height: 375px
    z-index: 1001
    +clearfix
    .nav-callout-item
      float: left
      margin: 15px 0 15px 20px
      +clearfix
      .nav-callout-item-col1,.nav-callout-item-col2
        float: left
        width: 190px
        min-height: 345px
      .nav-callout-item-col1
        padding-right: 20px
        p
          color: #666666
          padding-bottom: 10px
          border-bottom: 1px solid #cccccc
      .nav-callout-item-col2
        padding-left: 20px
        padding-right: 20px
        border-left: 1px solid #cccccc
      dt,dd
        height: 23px
        line-height: 23px
        border-bottom: 1px solid #cccccc
        &.last
          border-bottom: 1px solid #cccccc
        a
          color: #666666
      dt a
        color: #2e2a7c
        font-weight: bold
