#error-page
  position: relative

.error-bg
  background: image-url("bg/error_body.png") repeat

.error-logo
  padding: 90px 0 45px 0
  text-align: center

.error-text
  width: 552px
  margin: 0 auto 10px
  padding-top: 30px
  background: image-url("bg/passport_main.png") no-repeat center top
  p
    position: relative
    font-size: $title-font-large
    font-weight: bold
    text-align: center
    +rhombus_1
    i
      left: 230px
    b
      left: 315px

.error-page-main
  position: relative
  width: 720px
  height: 458px
  margin: 0 auto
  background-position: center center
  background-repeat: no-repeat
  .help
    position: absolute
    padding: 18px 0 0 20px
    line-height: 25px
    font-size: $content-font
    background-repeat: no-repeat
    color: $strong-color
    a
      color: $link-blue-color