.mobile-logo
  text-align: center
  padding: 40px 0 80px 0
.settings-mobile-main
  padding: 0 70px
  .input-item
    +clearfix
    position: relative
    margin-bottom: 30px
    label
      float: left
      width: 100px
      height: 25px
      line-height: 25px
      padding-left: 10px
      margin-right: 20px
      font-size: $content-font
      color: #4c4c4c
    input
      float: left
      border: none
      width: 60%
      height: 25px
      font-size: $content-font
      &:focus
        outline: none
    i
      position: absolute
      width: 100%
      height: 4px
      left: 0
      bottom: 0
      border-color: #b2b2b2
      border-style: solid
      border-width: 0 1px 1px 1px
    em
      color: $em-color
    .save
      +button(300px,65px)
      font-size: 30px
    .account-settings-list
      float: right
      font-size: $content-font
      .delete-account
        a
          color: $link-blue-color