.cart
  position: relative
  #share-pop-up
    display: none
  .pop-up-content
    display: none
    .main
      img
        width: 95px
        height: 97px
  .cart-inner
    max-width: 100%
    margin: 0 auto
    .empty
      position: relative
      text-align: center
      padding-top: 75px
      padding-bottom: 115px
      i.fa-shopping-cart
        font-size: 40px
        margin-right: 5px
      .tips
        font-size: $title-font
        a
          color: #a9643c
      p
        font-size: 14px
        font-weight: bold
      a
        padding: 5px 15px
        margin-top: 15px
    .share
      +clearfix
      .share-to
        +clearfix
        float: left
        margin-left: 15px
        li
        margin-right: 7px
        &.last
        margin-right: 0
    .not-empty
      +clearfix
      margin-left: 0
      .cart-list
        margin-left: 0
        float: left
        width: 100%
        .cart-title
          position: relative
          height: 30px
          padding-top: 25px
          color: $strong-color
          font-size: $title-font-large
          font-weight: bold
          i
            font-size: 20px
            margin-right: 10px
        .cart-captain
          +clearfix
          border-bottom: 1px solid #1a1a1a
          & > div
            float: left
            font-size: $content-font
          .col-1
            width: 160px
            color: $content-normal-color
          .col-2
            width: 150px
          .col-3
            width: 80px
          .col-4
            width: 80px
        .cart-product-item
          +clearfix
          margin-top: 10px
          background-color: #fff
          padding: 25px
          border-bottom: 2px solid rgb(232, 232, 232)
          img
            margin-left: 20%
            width: 60%
          .product-info-main
            text-align: center
            strong,span
              display: block
            span
              margin-bottom: 25px
            h4
              margin-bottom: 15px
            p
              color: $content-normal-color
          .price
            font-size: 18px
            text-align: center
            line-height: 70px
          .op
            +clearfix
            width: 320px
            margin: 0 auto
            padding-top: 20px
            a,input
              float: left
            .add_quantity,.reduce_quantity
              color: $link-lighter-color
              font-size: 16px
            input
              width: 100px
              font-size: 25px
              border: none
              height: 44px
              margin: 0 10px
              text-align: center
              color: #2D2525
              padding: 0
              margin-bottom: 0
              -webkit-box-shadow: none
              box-shadow: none
            .add_quantity
              margin-top: 3px
              float: left
              border: none
              background: transparent
              padding: 0
              color: #2D2525
              font-size: 43px
            .reduce_quantity
              margin-left: 66px
              margin-top: 3px
              float: left
              border: none
              padding: 0
              background: transparent
              color: #2D2525
              font-size: 43px
            .empty_quantity
              float: left
              border: none
              padding: 0
              margin-left: 30px
              background: transparent
              color: #2D2525
              font-size: 43px
      .cart-checkout
        float: left
        width: 100%
        margin-left: 0
        padding-top: 0px
        .subtotal
          i
            font-style: normal
        .discount
          height: 160px
          text-align: center
          padding-top: 40px
          padding-left: 9px
          border: 1px solid #eeeeee
          p 
            font-weight: bold
          #cart_coupon_code_id
            width: 95%
          .btn-discount
            width: 140px
            display: inline-block
            width: 30% !important
            height: 30px
            line-height: 30px
            text-align: center
            border: none
            color: white
            background-color: #1f1a18
            -webkit-border-radius: 0px
            -moz-border-radius: 0px
            border-radius: 0px
            font-size: 12px
          +global-box-shadow
          .input-wrap
            input
              width: 124px
              height: 28px
              +border-radius(0px)
              margin-bottom: 0
              padding: 0
            button
              +button(140px)
              +border-radius(0px)
              line-height: 28px !important
            .error
              +error(170px)
              margin-top: 6px
              padding: 0 10px
        .checkout
          position: fixed
          width: 100%
          background-color: white
          bottom: 2px
          z-index: 999
          height: 45px
          border: 1px solid #eeeeee
          text-align: center
          font-size: $content-font
          +global-box-shadow
          p
            display: inline-block
            float: left
            margin-top: 7px
            margin-left: 15px
          em
            font-style: italic
          strong
            font-size: 23px
            color: #cc6633
          .btn-checkout
            margin-top: 7px
            margin-right: 15px
            float: right
.admin-btn-area
  margin-left: 0
  +border-radius(0px)
  .btn-checkout
    margin-top: 30px
    margin-right: 5px
