.chirstmas
  margin-top: 20px  
  .chirstmasframe
    width: 100%
    margin: 0 auto
    padding-bottom: 30px
    position: relative
    a
      position: absolute
      display: inline-block
      background-color: rgba(204,204,204,0.01)
    
    .xiaoxiao
      top: 21%
      left: 9%
      width: 39%
      height: 10%
    .manbu
      top: 22%
      left: 48%
      width: 37%
      height: 12%
    .baise
      top: 40%
      left: 7%
      width: 38%
      height: 13%
    .nuandong
      top: 45%
      left: 49%
      width: 41%
      height: 13%
    .hongdou
      top: 67%
      left: 14%
      width: 32%
      height: 15%
    .wenqing
      top: 77%
      left: 45%
      width: 41%
      height: 12%
    .otherproduct
      top: 91%
      left: 0%
      width: 100%
      height: 7%