.cooperation
  margin-left: -20px
  a
    display: inline-block
    width: 216px
    height: 95px
    margin-left: 20px
    margin-bottom: 15px
    text-indent: -9999px
    +global-box-shadow
  .make-up-forever
    background-image: image-url("cooperation/make_up_forever.jpg")
  .make-up-forever:hover
    background-image: image-url("cooperation/make_up_forever_hover.jpg")
  .shanghai-beach
    background-image: image-url("cooperation/shanghai_beach.jpg")
  .shanghai-beach:hover
    background-image: image-url("cooperation/shanghai_beach_hover.jpg")
  .chole
    background-image: image-url("cooperation/chole.jpg")
  .chole:hover
    background-image: image-url("cooperation/chole_hover.jpg")
  .HR
    background-image: image-url("cooperation/HR.jpg")
  .HR:hover
    background-image: image-url("cooperation/HR_hover.jpg")
  .ctrip
    background-image: image-url("cooperation/ctrip.jpg")
  .ctrip:hover
    background-image: image-url("cooperation/ctrip_hover.jpg")
  .Ritz-Carlton
    background-image: image-url("cooperation/Ritz-Carlton.jpg")
  .Ritz-Carlton:hover
    background-image: image-url("cooperation/Ritz-Carlton_hover.jpg")
  .MaBelle
    background-image: image-url("cooperation/MaBelle.jpg")
  .MaBelle:hover
    background-image: image-url("cooperation/MaBelle_hover.jpg")