body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
  padding: 0
  margin: 0
.countdown
  position: relative
  width: 100%
  img
    width: 100%
  .hours,.min,.sec
    position: absolute
    z-index: 999
    color: rgb(103, 66, 30)
    top: 25%
    font-size: 18px
  .hours
    left: 73%
  .min
    left: 83%
  .sec
    left: 92%
