.countdown
  position: relative
  width: 100%
  img
    width: 100%
  .hours,.min,.sec
    position: absolute
    z-index: 999
    color: rgb(103, 66, 30)
    top: 25%
    font-size: 18px
  .hours
    left: 73%
  .min
    left: 83%
  .sec
    left: 92%