.countdown
  position: relative
  width: 100%
  .hours,.min,.sec
    position: absolute
    z-index: 999
    color: white
    top: 56%
    font-size: 18px
  .hours
    left: 28%
  .min
    left: 47%
  .sec
    left: 65%