.discount_events
  margin-top: 15px

.pics
  position: relative

.pics0
  position: relative
  background-image: url("event/event1.jpg")
  height: 242px
.pics1
  position: relative
  background-image: url("event/event2.png")
  height: 151px
.pics2
  position: relative
  background-image: url("event/event4.jpg")
  height: 390px
.timetable
  width: 560px
  height: 279px
  margin-left: 190px
  border: 2px solid #FFFFFF

.day
  width: 91px
  height: 90px
  float: left
  margin-left: 2px
  margin-top: 2px
  background-color: rgba(255,255,255,0.2)
  cursor: pointer

.today
  width: 91px
  height: 90px
  float: left
  margin-left: 2px
  margin-top: 2px
  background-color: rgba(255,95,74,0.7)
  cursor: pointer

.prod
  width: 75px
  height: 75px
  margin-top: 10px
  margin-left: 10px
  font-size: 14px
  color: white

.discount-yesterday
  width: 80px
  position: relative
  padding-top: 47px
  margin-left: 260px
  color: white
  float: left
  text-align: -webkit-center
  cursor: pointer

.discount-yesterdaynil
  width: 80px
  position: relative
  padding-top: 47px
  margin-left: 260px
  color: white
  float: left
  text-align: -webkit-center

.discount-today
  width: 80px
  position: relative
  padding-top: 108px
  margin-left: 87px
  color: white
  float: left
  text-align: -webkit-center
  cursor: pointer

.discount-tomorrow
  width: 80px
  position: relative
  padding-top: 47px
  margin-left: 90px
  color: white
  float: left
  text-align: -webkit-center
  cursor: pointer

.discount-tomorrownil
  width: 80px
  position: relative
  padding-top: 47px
  margin-left: 90px
  color: white
  float: left
  text-align: -webkit-center

.producttoday
  position: absolute
  z-index: -9999
  zoom: 40%
  top: 590px
  left: 1061px

.frame
  zoom: 1
  width: 940px
  margin: 0 auto
  padding-bottom: 30px
  position: relative