#greeting-card-dialog-overlay
  width: 100%
  height: 100%
  filter: alpha(opacity=50)
  -moz-opacity: 0.5
  -khtml-opacity: 0.5
  opacity: 0.5
  background: #000
  position: absolute
  top: 0
  left: 0
  z-index: 3000
  display: none

#greeting-card-dialog-box
  background: #eee
  height: 417px
  width: 721px
  position: absolute
  z-index: 5000
  display: none
  .dialog-header
    padding-top: 5px
    background-color: #000
    color: #fff
    height: 30px
    width: 100%
    font-size: 18px
    text-align: center
    .close-dialog
      float: right
      padding-right: 10px
      cursor: pointer
  .dialog-container
    position: relative
    width: 100%
    .header
      margin: 30px 10px 10px 10px
      h4
        font-size: 15px
        text-align: center
    .product
      margin: 10px 10px 40px 30px
      padding: 25px 10px 30px 60px
      float: left
      width: 200px
    .form
      border-left: 1px dotted
      border-color: #d0d0d0
      margin: 10px 30px 40px 10px
      padding: 10px 60px 30px 10px
      float: right
      width: 300px
      .form-horizontal
        padding-top: 10px
        .control-text-field
          margin: 5px 5px 5px 5px
          padding: 5px 5px 5px 5px
          width: 300px
        .control-text-area
          margin: 15px 15px 15px 5px
          padding: 5px 5px 5px 5px
          height: 60px
          width: 300px
    #greeting-card-btn
      float: right
      margin-right: 5px
      margin-top: 5px
    #greeting-card-btn-cancle
      float: right
      margin-right: 5px
      margin-top: 5px
