.lottery
  margin-top: 20px
.lotteryframe
  width: 940px
  margin: 0 auto
  padding-bottom: 30px
  position: relative
  text-align: center

.awards
  height: 330px

.awards_main
  height: 330px
  margin-left: 130px

.gifts
  width: 220px
  margin-left: 20px
  float: left

.button-frame
  width: 940px
  margin-top: 40px
  padding-bottom: 30px
  text-align: center

.btn-lucky
  height: 30px
  width: 100px!important
  margin-left: 155px
  line-height: 30px
  text-align: center
  border: none
  color: white
  background-color: #a9643c
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  font-size: 12px
  text-align: center

.form-horizontal .control-label
  float: left
  width: 160px
  padding-top: 5px
  text-align: right

.inputframe
  clear:left
  text-align: center
  margin-top: 50px
  width: 300px
  margin-left: 205px