.lottery
  margin-top: 35px
  padding: 0px 20px 0 30px
  .lotteryframe
    position: relative
    text-align: center
    .inputframe
      fieldset
        padding: 10px 0
        font-size: 30px
      .control-group
        position: relative
        margin-bottom: 30px
        input, select
          border-radius: 0
          width: 94%
          border-style: double
          height: 40px
          font-size: 20px
          box-shadow: none
        select
          width: 418px
          height: 50px

      .btn-lucky
        height: 40px
        width: 100px!important
        line-height: 40px
        text-align: center
        border: none
        color: white
        background-color: #a9643c
        -webkit-border-radius: 0px
        -moz-border-radius: 0px
        border-radius: 0px
        font-size: 17px
        text-align: center
.gifts
  width: 220px
  margin-left: 20px
  float: left

.button-frame
  width: 940px
  margin-top: 40px
  padding-bottom: 30px
  text-align: center

