.lottery
  margin-top: 20px
.lotteryframe
  width: 940px
  margin: 0 auto
  padding-bottom: 30px
  position: relative
.awards
  width: 940px
  margin: 0 auto
  padding-bottom: 30px
  height: 300px

.gifts
  width: 310px
  margin-left: 3px
  float: left

.button-frame
  width: 940px
  margin-top: 40px
  padding-bottom: 30px
  text-align: center

.gifts-select
  


.btn-award
  height: 30px
  width: 100px
  line-height: 30px
  text-align: center
  border: none
  color: white
  background-color: #a9643c
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  font-size: 12px
  text-align: center