.didi-passenger
  padding: 10px
  .main-title
    margin: 55px 0 10px 0
    font-size: 18px
  .sub-title
    color: $content-normal-color
    font-size: 14px
    span
      float: right
  .description
    margin-bottom: 10px
    font-size: 16px
    a
      margin: 0 5px
      vertical-align: super
  h3
    padding-left: 100px
    text-align: left

  form
    padding-top: 55px
    #didi_passenger_phone_calling_code
      width: 88px
    #didi_passenger_phone
      width: 120px
    .btn-m-getCoupon
      @extend .btn-m-confirm
      margin: 20px 0
      letter-spacing: 5px
      font-size: 18px
    label
      font-size: 16px
    .terms
      margin: 0 auto
      ol
        font-size: 10px
        list-style: decimal inside
