.best-products
  +clearfix
  padding: 10px
  width: auto
  h3.title
    margin: 15px 0
    font-size: 18px
    border-bottom: 3px solid $border-separate-color
    +rhombus_1
  .brands
    margin-left: -20px
    a
      display: inline-block
      width: 216px
      height: 95px
      margin-left: 20px
      margin-bottom: 15px
      text-indent: -9999px
      +global-box-shadow
    .hermes
      background-image: image-url("brands/Hermes.jpg")
    .make-up-forever
      background-image: image-url("brands/make_up_forever.jpg")
    .shanghai-beach
      background-image: image-url("brands/shanghai_beach.jpg")
    .chole
      background-image: image-url("brands/chole.jpg")
    .HR
      background-image: image-url("brands/HR.jpg")
    .ctrip
      background-image: image-url("brands/ctrip.jpg")
    .Ritz-Carlton
      background-image: image-url("brands/Ritz-Carlton.jpg")
    .MaBelle
      background-image: image-url("brands/MaBelle.jpg")
    .leo-diamond
      background-image: image-url("brands/leo-diamond.jpg")
    .renaissance-wedding-show
      background-image: image-url("brands/renaissance-wedding-show.jpg")
    .swarovski-elements
      background-image: image-url("brands/swarovski-elements.png")
    .marc-jacobs
      background-image: image-url("brands/marc-jacobs.png")
    .givenchy
      background-image: image-url("brands/givenchy.png")
    .zegna
      background-image: image-url("brands/zegna.jpg")
    .sally-hansen
      background-image: image-url("brands/sally-hansen.png")
    .valentine-perfume
      background-image: image-url("brands/valentine-perfume.jpg")
    .p-and-g
      background-image: image-url("brands/p-and-g.jpg")
    .tencent
      background-image: image-url("brands/tencent.jpg")
    .shiseido
      background-image: image-url("brands/shiseido.jpg")
    .evbuy
      background-image: image-url("brands/evbuy.jpg")
    .fields-china
      background-image: image-url("brands/fields-china.jpg")
    .qu-africa
      background-image: image-url("brands/qu-africa.jpg")
    .city-life
      background-image: image-url("brands/city-life.jpg")

    .godiva-chocolatier
      background-image: image-url("brands/godiva-chocolatier.jpg")
    .sonoko
      background-image: image-url("brands/sonoko.jpg")
    .yhouse
      background-image: image-url("brands/yhouse.jpg")
    .davidoff
      background-image: image-url("brands/davidoff.jpg")
    .acqua
      background-image: image-url("brands/acqua.jpg")

    .aston-martin
      background-image: image-url("brands/aston-martin.jpg")
    .philips
      background-image: image-url("brands/philips.jpg")
    .uber
      background-image: image-url("brands/uber.jpg")
    .haagen-dazs
      background-image: image-url("brands/haagen-dazs.jpg")
.square
  margin-bottom: 10px
.best-products.constrained
  margin-left: -20px
  .square
    margin-left: 20px
