#l-show-m
  .container
    width: auto
  .img-wrap
    position: relative
    width: 100%
    overflow: hidden
    .container
      +clearfix
      li
        float: left
    .btn-left,.btn-right
      position: absolute
      top: 50%
      margin-top: -17px
      width: 26px
      height: 35px
      background-color: #f8f8f8
      background-repeat: no-repeat
      background-position: center center
      z-index: 1
    .btn-left
      left: 0
      background-image: image-url("mobile/swipe_btn_l.png")
    .btn-right
      right: 0
      background-image: image-url("mobile/swipe_btn_r.png")
    .slide-dot
      +clearfix
      position: absolute
      width: 64px
      bottom: 20px
      left: 50%
      margin-left: -31px
      li
        float: left
        margin-right: 8px
        &.last
          margin-right: 0
        a
          display: block
          width: 10px
          height: 10px
          background-image: image-url("bg/rhombus_normal.png")
          &.cur
            background-image: image-url("bg/rhombus_light.png")
    .main
      width: 460px
      margin: 0 auto
  .add-to-cart
    form
      input
        width: 100%
    .product-title
      position: relative
      margin: 10px 0
      strong
        font-size: $price-font
      span
        display: block
        font-size: $title-font
    form.form-horizontal
      display: inline-block
      width: 45%
      margin-left: 3.3%
    .price
      position: absolute
      right: 0
      bottom: 0
      color: $strong-color
      font-size: $price-font-large
    .share
      margin-top: 15px
      padding: 10px 10px 1px 0
      .share-to
        float: right
        margin-left: 15px
      li
        margin-right: 7px
    .add-btn
      display: block
      margin-top: 10px
      width: 100%
    .cant-add
      display: block
      margin-top: 10px
      width: 100%
      +error(100%)
  .detail
    width: 100%
    margin-right: 20px
    .big-img
      margin-bottom: 10px

#slide
  position: relative
  margin-top: 20px
  overflow: hidden
  text-align: center
  & > .container
    position: absolute
    +clearfix
    li
      float: left
  .slide
    position: relative
    width: 480px
    height: 235px
    margin: 10px auto 0
    overflow: hidden
  .btn-left,.btn-right
    position: absolute
    top: 50%
    margin-top: -17px
    width: 26px
    height: 35px
    background-color: #f8f8f8
    background-repeat: no-repeat
    background-position: center center
    z-index: 1
  .btn-left
    left: 0
    background-image: image-url("mobile/swipe_btn_l.png")
  .btn-right
    right: 0
    background-image: image-url("mobile/swipe_btn_r.png")
  .img-wrap
    width: 1280px
    overflow: hidden
    zoom: 1
    li
      float: left
  .slide-dot
    +clearfix
    position: absolute
    display: inline-block
    bottom: 12%
    left: 50%
    margin-left: -31px
    li
      float: left
      margin-right: 8px
      &.last
        margin-right: 0
      a
        display: block
        width: 10px
        height: 10px
        background-image: image-url("bg/rhombus_normal.png")
        &.cur
          background-image: image-url("bg/rhombus_light.png")

.cate-list-style1, .cate-list-style2
  padding: 15px 8px 0 8px
  .cate-list-title
    position: relative
    border-bottom: 1px solid $global-border-color
    padding: 0 5px 9px 5px
    strong
      position: relative
      font-size: $title-font-large
      font-weight: bold
      +rhombus_1
      b
        margin-left: 10px
    p
      color: $content-normal-color
    .panel
      margin-top: 2px
      padding-right: 10px
      height: 24px
      .order
        float: left
        .by_sold_total, .by_price
          display: inline-block
          border: 1px solid #CECBCE
          margin-right: 5px
          a
            display: inline-block
            color: $normal-text-color
            padding: 2px 10px
        .current
          border: 1px solid #1a1a1a
          background-color: #1a1a1a
          a
            color: white
        .arrow-up, .arrow-down
          display: inline-block
          width: 9px
          height: 13px
          vertical-align: middle
          padding-right: 2px
          font-size: 0
        .arrow-up
          background-image: image-url("bg/arrow_up.png")
        .arrow-down
          background-image: image-url("bg/arrow_down.png")
    #tag_filter
      margin-top: 5px
      a
        margin-right: 5px
        margin-bottom: 5px

.cate-list-style1
  .best-products
    +clearfix
    padding: 10px 0 10px 0
    width: auto
    margin-left: -20px

.cate-list-style2
  .row
    padding: 10px
    & > li
      +clearfix
      height: 87px
      margin-bottom: 10px
      +global-box-shadow
      img
        //width: 229px
        height: 87px

      .price
        float: right
        width: 77px
        span
          font-size: $title-font-large
          color: $global-text-color
      .des
        float: right
        width: 220px
        margin-right: 6px
        & > div
          +clearfix
        .info
          padding: 12px 13px 0 0
          height: 48px
          .name
            float: left
            width: 120px
            overflow: hidden
            strong
              font-size: $content-font
              font-weight: bold
            p
              color: $global-text-color
            h3,h4
              width: 120px
              height: 22px
              overflow: hidden
        .share
          border-color: $global-text-color
          border-style: solid
          border-width: 1px 0 0 0
          line-height: 26px
          .share-to
            float: right
            margin-left: 15px
          ul
            padding: 3px 0 0 0
            li
              margin-right: 7px
.name
  h3 a
    display: inline-block
    overflow: hidden
    width: 120px
    white-space: nowrap
    text-overflow: ellipsis
  h4
    overflow: hidden
    width: 120px
    white-space: nowrap
    text-overflow: ellipsis

.swipe
  overflow: hidden
  // visibility: hidden
  position: relative
.swipe-wrap
  overflow: hidden
  position: relative !important
.swipe-wrap > li
  float: left
  width: 100%
  position: relative
