.moviepage
  margin-top: 20px  
  .movieframe
    width: 940px
    height: 5826px
    margin: 0 auto
    padding-bottom: 30px
    position: relative
    a
      position: absolute
      display: inline-block
      background-color: rgba(204,204,204,0.01)    
    .qimiao
      top: 8%
      left: 15%
      width: 72%
      height: 10%
    .meigui
      top: 27%
      left: 17%
      width: 69%
      height: 12%
    .xinsheng
      top: 45%
      left: 8%
      width: 74%
      height: 9%
    .guishu
      top: 54%
      left: 18%
      width: 71%
      height: 8%
    .yilou
      top: 76%
      left: 12%
      width: 77%
      height: 10%
    .player
      position: absolute
      display: inline-block
      top: 4068px
      left: 508px
      width: 392px
      height: 226px