.mother-day
  margin-top: 15px
  min-height: 560px
  display: inline-block
  position: relative
  +global-box-shadow

  .product_tag
    position: absolute
    .cn-name
      font-size: 15px
    .en-name
      font-size: 12px
      color: grey
    .price-yellow
      font-size: 17px
      color: #FBB40E
    .price-red
      font-size: 17px
      color: #FC7272

  #product_1
    left: 69%
    top: 16.5%

  #product_2
    left: 48%
    top: 20%

  #product_3
    left: 54%
    top: 27%

  #product_4
    left: 71%
    top: 33.5%

  #product_5
    left: 17%
    top: 44%

  #product_6
    left: 75%
    top: 50%

  #product_7
    left: 40%
    top: 59%

  #product_8
    left: 77%
    top: 65%

  #product_9
    left: 60%
    top: 70%

  .more
    .text-center
      text-align: center
    #product_1
      left: 13%
      top: 78.2%

    #product_2
      left: 47%
      top: 78.2%

    #product_3
      left: 80%
      top: 78.2%

    #product_4
      left: 13%
      top: 84%

    #product_5
      left: 47%
      top: 84%

    #product_6
      left: 77%
      top: 84%

    #product_7
      left: 12%
      top: 89.7%

    #product_8
      left: 47%
      top: 89.7%

    #product_9
      left: 78%
      top: 89.7%
