.mother-day
  margin-top: 15px
  min-height: 560px
  display: inline-block
  position: relative
  +global-box-shadow

  .product_tag, .product_link
    position: absolute
    a
      text-decoration: none
      display: inline-block
    .cn-name
      font-size: 15px
      color: black
    .en-name
      font-size: 12px
      color: grey
    .price-yellow
      font-size: 17px
      color: #FBB40E
    .price-red
      font-size: 17px
      color: #FC7272

  #product_1
    left: 69%
    top: 16.5%
  #product_link_1
    left: 8%
    top: 12%
    width: 550px
    height: 446px

  #product_2
    left: 48%
    top: 20%
  #product_link_2
    left: 65.5%
    top: 19%
    width: 325px
    height: 420px

  #product_3
    left: 54%
    top: 27%
  #product_link_3
    left: 5%
    top: 21%
    width: 410px
    height: 485px

  #product_4
    left: 71%
    top: 33.5%
  #product_link_4
    left: 7%
    top: 32%
    width: 574px
    height: 418px

  #product_5
    left: 17%
    top: 44%
  #product_link_5
    left: 39%
    top: 39%
    width: 574px
    height: 452px

  #product_6
    left: 75%
    top: 50%
  #product_link_6
    left: 13%
    top: 49%
    width: 574px
    height: 452px

  #product_7
    left: 40%
    top: 59%
  #product_link_7
    left: 8%
    top: 56%
    width: 295px
    height: 537px

  #product_8
    left: 77%
    top: 65%
  #product_link_8
    left: 53%
    top: 57%
    width: 399px
    height: 525px

  #product_9
    left: 60%
    top: 70%
  #product_link_9
    left: 17%
    top: 65.5%
    width: 399px
    height: 383px

  .more
    .text-center
      text-align: center
    #product_1
      left: 13%
      top: 78.2%

    #product_2
      left: 47%
      top: 78.2%

    #product_3
      left: 80%
      top: 78.2%

    #product_4
      left: 13%
      top: 84%

    #product_5
      left: 47%
      top: 84%

    #product_6
      left: 77%
      top: 84%

    #product_7
      left: 12%
      top: 89.7%

    #product_8
      left: 47%
      top: 89.7%

    #product_9
      left: 78%
      top: 89.7%
