.my-order
  position: relative
  .my-order-inner
    width: $global-width
    margin: 0 auto 35px
    .order-empty 
      padding-left: 30px
    .my-product-list
      li
        +clearfix
        margin-left: 0
        margin-bottom: 7px
        padding: 10px
        height: 215px
        border: 1px solid #eee
        background-color: #fff
        box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9)
        & > div
          padding-top: 20px
          padding-bottom: 25px
          height: 172px
        .col1
          margin-left: 0
          float: left
          width: 209px
          padding-left: 15px
          padding-right: 25px
          border-right: 1px solid #eeeeee
          a,span
            display: block
          a
            color: $link-blue-color
          .number
            color: $link-blue-color
          p
            padding-top: 15px
            .tooltip-viewDetail
              display: inline-block
              width: 11px
              height: 11px
              margin-left: 5px
              background-image: image-url("bg/tooltip_icon.png")
              vertical-align: middle
              cursor: pointer
          .viewDetail
            line-height: 1.6
            width: 125px
            padding: 5px 10px
            border: 1px solid $border-light-color
            +border-radius(3px)
            h4
              font-weight: normal
            p
              padding-top: 0
              color: $content-normal-color
        .col2
          float: left
          margin-left: 0
          width: 668px
          .order-table-state
            padding-left: 25px
            padding-bottom: 10px
            border-bottom: 1px solid #eeeeee
          .post-date
            display: block
            color: $content-normal-color
          .state
            display: block
            color: $price-color
            font-size: $title-font-large
          .product-info
            +clearfix
            padding-top: 35px
            padding-left: 25px
            padding-right: 25px
            img
              float: left
              width: 120px
              margin-right: 35px
            .product-info-main
              float: left
              width: 250px
              .product-name-en
                margin-bottom: 40px
              strong,span
                display: block
              span
                margin-bottom: 35px
              p
                color: $content-normal-color
        .op-area
          float: right
          width: 80px
          padding-left: 30px
          padding-right: 80px
          button
            margin-bottom: 10px
            &.btn-completePay
              margin-bottom: 30px
