#l-show
  & > .container
    width: $global-width
  .title
    position: relative
    height: 36px
    line-height: 32px
    +rhombus_1
    h1
      font-size: 16px
  .main
    +clearfix
    .thumb
      float: left
      width: 140px
      margin-right: 10px
      li
        margin-bottom: 10px
        img
          width: 140px
          height: 134px
    .detail
      float: left
      width: 540px
      margin-right: 20px
      margin-left: 0
      .big-img-wrap
        position: relative
        width: 540px
        height: 515px
        overflow: hidden
        margin-bottom: 10px
      .big-img-container
        position: absolute
        top: 0
        left: 0
        width: 540px
        height: auto
        img
          width: 540px
          height: 515px
      .guess-you-like
        li
          width: 160px
          margin-left: 30px
        img
          width: 160px
          max-width: 160px
          height: 153px

    .add-to-cart
      float: left
      width: 220px
      padding-top: 20px
      border-top: 1px solid #1a1a1a
      margin-left: 0
      .cant-add
        margin-top: 5px
        +error(100%)
      .sold-out
        color: red
        font-size: 16px
      del
        font-size: 18px
        display: inline-block
        margin-bottom: 5px
      .product-title
        strong
          display: block
          font-size: $price-font
        span
          font-size: $title-font
        p
          color: $content-normal-color
          &.price
            font-size: $title-font
            color: $strong-color
            margin-top: 40px
          &.size
            margin-top: 20px
            font-size: 14px
      .share
        margin-top: 15px
        padding: 10px 0 1px 0
        border-color: $global-border-color
        border-style: solid
        border-width: 1px 0 0 0
        .share-to
          +clearfix
          margin-left: 15px
        ul
          float: right
          li
            margin-right: 7px
            &.last
              margin-right: 0
      .button
        display: block
        margin-top: 10px
        width: 100%

#slide
  position: relative
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  overflow: hidden
  text-align: center
  .btn-left,.btn-right
    position: absolute
    top: 242px
    width: 59px
    height: 76px
    background-color: transparentize(#f8f8f8, 0.4)
    background-position: center center
  .btn-left
    left: 0
    background-image: image-url("bg/slide_btn_l.png")
  .btn-right
    right: 0
    background-image: image-url("bg/slide_btn_r.png")
  ul.container
    width: 100%
  li
    float: left
  .slide-dot
    +clearfix
    position: absolute
    left: 50%
    margin-left: -31px
    bottom: 5%
    li
      float: left
      margin-right: 8px
      &.last
        margin-right: 0
      +rhombus_2

.cate-list
  width: $global-width
  margin: 0 auto
  .cate-list-title
    position: relative
    height: auto
    padding: 0px 0px 10px 0px
    margin-top: 20px
    //+global-box-shadow
    border-bottom: 3px solid $global-border-color
    .label
      padding: 4px
      -webkit-border-radius: 0
      border-radius: 0
    h1
      position: relative
      //padding: 0 20px
      font-weight: bold
      font-size: $title-font-large
      +rhombus_1
      i,b
        top: 4px
      b
        left: 105px
    p
      margin-top: 4px
      color: $content-normal-color
    .products-filter
      margin-top: 14px
      .filter
        span
          font-weight: bold
        margin-bottom: 5px
        a
          display: inline-block
          padding: 2px 10px
          border: 1px solid #cecbce
          color: black
          margin-right: 5px
          text-decoration: none
        a.active
          background-color: black
          color: #fff

      .sort-order
        span
          font-weight: bold
        margin: 5px 0
        padding-right: 15px
        height: 22px
        .order
          display: inline-block
          .by_sold_total, .by_price
            display: inline-block
            border: 1px solid #CECBCE
            margin-right: 5px
            a
              display: inline-block
              color: $normal-text-color
              padding: 2px 10px
          .current
            border: 1px solid #1a1a1a
            background-color: #1a1a1a
            a
              color: white
          .arrow-up, .arrow-down
            display: inline-block
            width: 9px
            height: 13px
            vertical-align: middle
            padding-right: 2px
            font-size: 0
          .arrow-up
            background-image: image-url("bg/arrow_up.png")
          .arrow-down
            background-image: image-url("bg/arrow_down.png")
    #tag_filter
      margin-top: 5px
      a
        margin-right: 5px
        margin-bottom: 5px
  .main
    .best-products
      +clearfix
      padding-top: 10px
      padding-bottom: 0
    .row-item > li
      +clearfix
      margin-top: 9px
      margin-left: 0
      padding: 7px 30px 6px 10px
      border: 1px solid #dededf
      +global-box-shadow
      .img-wrap
        float: left
        margin-right: 13px
        margin-left: 0
        width: 140px
        img
          width: 140px
          max-width: 140px
          height: 134px
      .des
        float: right
        width: 400px
        padding-top: 10px
        & > div
          +clearfix
        .name
          float: left
          strong
            font-size: $price-font
            font-weight: bold
          p
            font-size: $title-font
            color: $global-text-color
        .price
          margin-top: 10px
          span
            font-size: $content-font
            color: $global-text-color
        .share
          +clearfix
          margin-top: 13px
          padding: 10px 0 1px 0
          border-color: $global-border-color
          border-style: solid
          border-width: 1px 0 0 0
          .share-to
            +clearfix
            float: right
            margin-left: 15px
          li
            margin-right: 7px
            &.last
              margin-right: 0
