.perfume
  margin-top: 20px  
  .perfumeframe
    width: 940px
    height: 2932px
    margin: 0 auto
    padding-bottom: 30px
    position: relative
    a
      position: absolute
      display: inline-block
      background-color: rgba(204,204,204,0.01)

    .link_coach
      top: 15%
      left: 19%
      width: 62%
      height: 7%

    .givenchy1
      top: 27%
      left: 22%
      width: 20%
      height: 9%

    .givenchy2
      top: 30.5%
      left: 45%
      width: 20%
      height: 8%

    .givenchy
      top: 26%
      left: 41%
      width: 38%
      height: 4.5%

    .marc
      top: 41%
      left: 57%
      width: 23%
      height: 5%

    .marc1
      top: 42%
      left: 24%
      width: 18%
      height: 6.5%

    .marc2
      top: 42%
      left: 42%
      width: 15%
      height: 6.5%

    .marc3
      top: 50%
      left: 23%
      width: 25%
      height: 8%

    .marc4
      top: 50%
      left: 50%
      width: 25%
      height: 8%

    .zegna
      top: 63%
      left: 25%
      width: 32%
      height: 5%

    .zegna1
      top: 63%
      left: 59%
      width: 20%
      height: 5%

    .zegna2
      top: 69%
      left: 41%
      width: 19%
      height: 6%

    .zegna3
      top: 69%
      left: 60%
      width: 19%
      height: 6%

    .davi
      top: 78%
      left: 25%
      width: 56%
      height: 8%
