.pick-up
  margin-top: 15px
  min-height: 560px
  display: inline-block
  +global-box-shadow

.self-pickup
  width: 940px
  margin: 20px auto
  .red
    color: red
  .method
    margin-left: 20px
  .inline
    display: inline
  img
    width: 300px