h3.product-name
  display: inline-block
  font-weight: normal
  font-size: 16px
  a
    color: $normal-text-color

h4.product-name-en
  text-transform: capitalize
  font-size: 14px
  font-weight: normal

.product-intro
  h3
    font-size: 14px
    font-weight: bold
    margin-top: 5px
    border-bottom: 1px solid #656565
    span
      color: $content-normal-color
      font-size: $default-font
      font-weight: normal
  h4
    color: $content-normal-color
    font-size: 12px
  h5
    margin-bottom: 25px
  p
    margin-top: 7px
    margin-bottom: 25px
    color: $content-normal-color
  a
    color: #000000
    font-size: 17px
    display: inline-block
    color: white
    background: rgb(69, 69, 69)
    margin-right: 15px
    margin-left: 5px
    margin-top: 10px 
    padding: 2px 10px
    margin-bottom: 20px