.product-intro
  h3
    font-size: 14px
    font-weight: bold
    border-bottom: 1px solid $global-border-color
    span
      color: $content-normal-color
      font-size: $default-font
  h4
    color: $content-normal-color
    font-size: 12px
  h5
    margin-bottom: 25px
  p
    margin-top: 7px
    margin-bottom: 25px
    color: $content-normal-color
  a
    color: $link-blue-color