.qixijie
  margin-top: 15px
  min-height: 560px
  display: inline-block
  position: relative
  +global-box-shadow

  .product_tag, .product_link, .title
    position: absolute
    a
      text-decoration: none
      display: inline-block
      background-color: rgba(204,204,204,0.01)
    .product-name
      line-height: 1.4
    .cn-name
      font-size: 15px
      color: black
    .en-name
      font-size: 12px
      color: grey
    .product-price
      line-height: 2.0
    .price-yellow
      font-size: 17px
      color: #FBB40E
    .price-red
      font-size: 17px
      color: #FC7272
  .scroll-anchor
    position: absolute
    top: 10%

  #label1
    left: 54%
    top: 30.9%
    font-size: 16px
    width: 370px

  #label2
    left: 4%
    top: 72%
    width: 390px
    font-size: 16px

  #product_link_1
    left: 8%
    top: 16.5%
    width: 390px
    height: 299px

  #product_link_2
    left: 51.5%
    top: 16.5%
    width: 390px
    height: 299px

  #product_link_3
    left: 8%
    top: 22.2%
    width: 390px
    height: 262px

  #product_link_4
    left: 51.5%
    top: 22.2%
    width: 390px
    height: 262px

  #product_link_5
    left: 8%
    top: 27.2%
    width: 390px
    height: 262px

  #product_link_6
    left: 9.5%
    top: 37.9%
    width: 381px
    height: 362px

  #product_link_7
    left: 50.3%
    top: 37.9%
    width: 381px
    height: 362px

  #product_link_8
    left: 9.5%
    top: 44.8%
    width: 381px
    height: 362px

  #product_link_9
    left: 50.3%
    top: 44.8%
    width: 381px
    height: 362px

  #product_link_10
    left: 50.3%
    top: 54.2%
    width: 402px
    height: 384px

  #product_link_11
    left: 50.3%
    top: 61.5%
    width: 402px
    height: 384px

  #product_link_12
    left: 31.3%
    top: 69.3%
    width: 402px
    height: 360px
  .more
    .text-center
      text-align: center
    #product_link_1
      left: 4%
      top: 78.4%
      width: 205px
      height: 194px

    #product_link_2
      left: 28%
      top: 78.4%
      width: 205px
      height: 194px

    #product_link_3
      left: 51%
      top: 78.4%
      width: 205px
      height: 194px

    #product_link_4
      left: 74%
      top: 78.4%
      width: 205px
      height: 194px

    #product_link_5
      left: 4%
      top: 82.7%
      width: 205px
      height: 194px

    #product_link_6
      left: 28%
      top: 82.7%
      width: 205px
      height: 194px

    #product_link_7
      left: 51%
      top: 82.7%
      width: 205px
      height: 194px

    #product_link_8
      left: 74%
      top: 82.7%
      width: 205px
      height: 194px

