.saleschart-panel
  border-style: solid
  border-width: 2px
  border-color: #ddd
  margin-top: 30px
  .saleschart-panel-header
    border-bottom: 2px solid
    border-color: #ddd
    h1
      font-size: 15px
      padding: 5px 5px 5px 5px
  .saleschart-panel-list
    padding: 5px 5px 5px 5px
    ul
      list-style: decimal-leading-zero
      list-style-type: decimal-leading-zero
    li
      padding: 10px 5px 10px 5px
      border-bottom: 1px solid
      border-color: #F0F0F0
    li:last-child
      border-bottom: none
      

