#home-page
  width: 100%

.page-wrapper
  width: $global-width
  margin: 14px auto 0
  line-height: 1.8

#link-wrapper,
#partner-wrapper
  width: $global-width
  margin: 0 auto

#partner-wrapper #partners
  margin-top: 14px
  padding-left: 20px

#partners
  .row
    margin-top: 14px

#link-wrapper
  a
    color: black
    padding-left: 20px
