.valentine
  margin-top: 15px
  min-height: 560px
  display: inline-block
  +global-box-shadow

  .product_list
    position: relative
    a
      position: absolute
      display: inline-block
      background-color: rgba(204,204,204,0.01)

  #product_list_one
    .link_1
      width: 65%
      height: 38%
      left: 13%
      top: 33%
    .link_2
      left: 25%
      top: 72%
      width: 65%
      height: 28%

  #product_list_two
    .link_1
      width: 68%
      height: 34%
      top: 28%
      left: 22%
    .link_2
      left: 31%
      width: 50%
      height: 32%
      top: 68%

  #product_list_three
    .link_1
      top: 36%
      left: 19%
      width: 66%
      height: 22%
    .link_2
      top: 58%
      left: 19%
      width: 76%
      height: 42%
