.valentine-2015
  margin-top: 15px
  min-height: 560px
  display: inline-block
  position: relative
  +global-box-shadow

  .product_link
    position: absolute
    a
      text-decoration: none
      display: inline-block
      background-color: rgba(204,204,204,0.01)
    .product-name
      line-height: 1.4
    .cn-name
      font-size: 15px
      color: black
    .en-name
      font-size: 12px
      color: grey
    .product-price
      line-height: 2.0
    .price-yellow
      font-size: 17px
      color: #FBB40E
    .price-red
      font-size: 17px
      color: #FC7272
  .scroll-anchor
    position: absolute
    top: 10%

  #product_link_1
    left: 3%
    top: 12%
    width: 865px
    height: 722px

  #product_link_2
    left: 3%
    top: 30%
    width: 865px
    height: 529px

  #product_link_3
    left: 3%
    top: 41%
    width: 865px
    height: 554px

  .more
    #product_link_1
      left: 7%
      top: 57%
      width: 275px
      height: 315px

    #product_link_2
      left: 36%
      top: 57%
      width: 265px
      height: 315px

    #product_link_3
      left: 64%
      top: 57%
      width: 265px
      height: 315px

    #product_link_4
      left: 7%
      top: 63.5%
      width: 275px
      height: 334px

    #product_link_5
      left: 36%
      top: 63.5%
      width: 265px
      height: 334px

    #product_link_6
      left: 64%
      top: 63.5%
      width: 265px
      height: 334px

    #product_link_7
      left: 7%
      top: 71%
      width: 275px
      height: 347px

    #product_link_8
      left: 36%
      top: 71%
      width: 265px
      height: 347px

    #product_link_9
      left: 64%
      top: 71%
      width: 265px
      height: 347px

    #product_link_10
      left: 7%
      top: 78%
      width: 275px
      height: 324px

    #product_link_11
      left: 36%
      top: 78%
      width: 265px
      height: 324px

    #product_link_12
      left: 64%
      top: 78%
      width: 265px
      height: 324px

    #product_link_13
      left: 7%
      top: 85%
      width: 275px
      height: 351px

    #product_link_14
      left: 36%
      top: 85%
      width: 265px
      height: 351px

    #product_link_15
      left: 64%
      top: 85%
      width: 265px
      height: 351px

    #more-option
      left: 41.5%
      top: 98.5%
      width: 155px
      height: 55px
