.white-day
  margin-top: 15px
  min-height: 560px
  display: inline-block
  +global-box-shadow

  .product_list
    position: relative
    a
      position: absolute
      display: inline-block
      background-color: rgba(204,204,204,0.01)

  #product_list_one
    .link_1
      width: 37%
      height: 55%
      left: 15%
      top: 22%

  #product_list_two
    .link_1
      width: 36%
      height: 48%
      top: 45%
      left: 37%

  #product_list_four
    .link_1
      top: 0%
      left: 3%
      width: 45%
      height: 57%
    .link_2
      top: 20%
      left: 52%
      width: 35%
      height: 74%

  .footer
    #collection
      .link_1
        top: 9%
        left: 10%
        width: 15%
        height: 37%
      .link_2
        top: 9%
        left: 32%
        width: 14%
        height: 37%

      .link_3
        top: 9%
        left: 52%
        width: 16%
        height: 38%
      .link_4
        top: 9%
        left: 74%
        width: 16%
        height: 39%
      .link_5
        top: 51%
        left: 10%
        width: 15%
        height: 37%
      .link_6
        top: 51%
        left: 32%
        width: 14%
        height: 37%
      .link_7
        top: 51%
        left: 52%
        width: 16%
        height: 38%
      .link_8
        top: 51%
        left: 74%
        width: 16%
        height: 39%
    #more
      .link_1
        top: 9%
        left: 34%
        width: 32%
        height: 37%
