= content_tag(:button, "立即支付", id: "getBrandWCPayRequest", class: 'btn-m-confirmPay button')
= render "wechat_pay", appid: @appid, timestamp: @timestamp, nonce_str = @nonce_str, package = @package, sign_type: @sign_type, sign: @sign
