<% content_for :css do %>
  <%= stylesheet_link_tag "admin_shipment_print", media: "all" %>
<% end %>

<div id="sheet-bg">
  <%= image_tag "shipment_sheet.jpg" %>
</div>
<div id="text">
  <p id="receipt">Luo YuLong</p>
  <p id="phone">134123412</p>
  <p id="cell">123412341234</p>
  <p id="addr1">Hello World, Here is the Address</p>
  <p id="addr2">Hello, NewYork, US.</p>
  <p id="post">210003</p>
</div>
