<li class="input">
  <fieldset class="image_field">
    <ol>
      <li class="file input optional">
      <%= f.input :image, label: "Upload Image" %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove Image", "#", class: "remove_fields" %>
      </li>
    </ol>
  </fieldset>
</li>
