<div class="best-products">
  <h3 class="title">
    <i></i>合作品牌<b></b>
    <p>花里作为在线精品花艺品牌，和国内外多个高端品牌有着密切的合作。</p>
  </h3>
  <div class="brands">
    <a target="_blank" class="hermes brands">Hermes</a>

    <a target="_blank" class="acqua brands">Acqua DI Parma</a>

    <a target="_blank" class="leo-diamond brands">Leo Diamond</a>
    <a target="_blank" class="renaissance-wedding-show brands">Renaissance wedding show</a>
    <a target="_blank" class="dior brands">Dior</a>
    <a target="_blank" class="valentine-perfume brands">Valentino perfume</a>
    <a target="_blank" class="p-and-g brands">P&G</a>
    <a target="_blank" class="shanghai-beach brands">上海滩</a>
    <a target="_blank" class="tencent brands">腾讯</a>
    <a target="_blank" class="ctrip brands">Ctrip</a>
    <a target="_blank" class="shiseido brands">Shiseido</a>
    <a target="_blank" class="chole brands">chole</a>
    <a target="_blank" class="HR brands">HR</a>
    <a target="_blank" class="Ritz-Carlton brands">Ritz-Carlton</a>
    <a target="_blank" class="make-up-forever brands">make up forever</a>
    <a target="_blank" class="MaBelle brands">MaBelle</a>

    <a target="_blank" class="godiva-chocolatier brands">Godiva Chocolatier</a>
    <a target="_blank" class="davidoff brands">Davidoff perfume</a>
    <a target="_blank" class="sonoko brands">Sonoko</a>
    <a target="_blank" class="yhouse brands">YHouse</a>
  </div>
</div>

<div class="best-products">
  <h3 class="title">
    <i></i>战略合作品牌<b></b>
    <p>花里作为TZG旗下子公司，与包括房地产、新能源、旅游 、金融等领域内的其他子公司有着密切的战略合作关系。</p>
  </h3>
  <div class="brands">
    <a href="http://www.evbuy.cn/" target="_blank" class="evbuy">高瞻新能源汽车</a>
    <a href="http://www.fieldschina.com/" target="_blank" class="fields-china">甫田网</a>
    <a href="http://www.quafrica.com/" target="_blank" class="qu-africa">卓非</a>
    <a href="http://www.citylifechina.com/" target="_blank" class="city-life">逸耘居</a>
  </div>
</div>
