<div class="best-products">
  <h3 class="title">
    <i></i>花里·明星<b></b>
    <p>不同时间，不同场合，花里遇见大明星，都必然是一幅最美丽动人的画面。</p>
  </h3>
  <div class="celebrities">
    <%= image_tag 'celebrities/cocoli.jpg' %>
    <%= image_tag 'celebrities/caishaofeng.jpg' %>
  </div>
</div>
