.breadcrumb
  li
    font-size: 12px
    a
      padding: 10px 0px
      color: $strong-color
  li:last-child
    a
      color: $price-color
  li:before
    padding: 0px 5px
    content: ">"
    color: $strong-color
  li:first-child:before
    content: ""
  // .service-num
  //   float: right
  //   font-size: $content-font
  //   color: $price-color
