.guess-you-like
  margin-bottom: 40px
  .guess-title
    line-height: 35px
    font-size: $content-font
    font-weight: bold
  ul
    +clearfix
    li
      float: left
      margin-right: 0
      width: 160px
      margin-left: 34px
      img
        width: 160px
        max-width: 160px
        height: 153px
      &.last
        margin-right: -1px
