.guess-you-like
  margin-bottom: 40px
  .guess-title
    line-height: 35px
    font-size: $content-font
    font-weight: bold
  ul
    +clearfix
    li
      float: left
      width: auto
      margin-right: 5px
      &.last
        margin-right: 0
      img
        width: 150px
