<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top">
      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
          <td valign="top" class="bodyContent">
            <div mc:edit="std_content00">
              <h1 class="h1">Heading 1</h1>
              <h2 class="h2">Heading 2</h2>
              <h3 class="h3">Heading 3</h3>
              <h4 class="h4">Heading 4</h4>
              <strong>Getting started:</strong> Transactional emails serve a defined and simple purpose. They differ from traditional mass-emails because they're generally sent on a user-by-user basis, instead of large list of users, and are generally used to deliver purchase receipts, account updates, security notifications, and more.
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
              <tr>
                <th scope="col" valign="top" width="25%" class="dataTableHeading" mc:edit="data_table_heading00">
                  DATE
                </th>
                <th scope="col" valign="top" width="25%" class="dataTableHeading" mc:edit="data_table_heading01">
                  EMAILS SENT
                </th>
                <th scope="col" valign="top" width="50%" class="dataTableHeading" mc:edit="data_table_heading02">
                  EMAIL SUBJECT
                </th>
              </tr>
              <tr mc:repeatable>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  SEP 29, 2012
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                  2,760
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content02">
                  3-MONTH PASSWORD UPDATE
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" class="bodyContent">
            <div mc:edit="std_content01">
              Where <a href="http://www.mailchimp.com/" target="_blank">MailChimp</a> can be used to send newsletters to several subscribers in one large blast, <a href="http://www.mandrill.com/" target="_blank">Mandrill</a> is specifically positioned to send transactional emails, and offers relevant tracking and metrics that isn't necessarily available through a traditional email platform.
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" style="padding-top:0;">
            <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
              <tr>
                <td valign="middle" class="templateButtonContent">
                  <div mc:edit="std_content02">
                    <a href="http://www.mandrill.com/" target="_blank">See What Mandrill Can Do</a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- // End Module: Standard Content \\ -->

    </td>
  </tr>
</table>
