<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top">
      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable verticalDataTable">
              <tr>
                <td> <p> <h4 class='h4'>未支付订单(<%= Date.current %>)</h4> </p> </td>
              </tr>
            </table>
          </td>
        </tr>
        <% @unpaid_orders_today.each do |order| %>
          <tr>
            <td class='dataTableHeading'>
              <%= link_to @order.identifier, admin_order_url(@order) %>
            </td>
            <td class='dataTableHeading'>
              <%= @order.address.phone %>
            </td>
            <td class='dataTableHeading'>
              <%= @order.line_items.map { |item| item.name + ' x ' + item[:quantity] } %>
            </td>
          </tr>
        <% end %>
      </table>
      <!-- // End Module: Standard Content \\ -->
    </td>
  </tr>
</table>
