.account-info
  input.string
    width: 130px
    height: 18px
    border: 1px #BFBEBE solid
    margin-left: 5px
    margin-bottom: 25px
  div.controls
    display: inline-block
  select
    border: 1px #BFBEBE solid
    border-radius: 0px
    -webkit-appearance: none
    height: 18px
    display: inline-block
    margin-left: 5px
    margin-right: 5px
  .form-actions
    margin-top: 27px
    padding-top: 12px
    border-top: 1px black solid
  .change-password
    margin-top: 27px
  .button
    width: 55px
    display: inline-block
    margin-right: 20px
    text-align: center
    border: 1px black solid
    border-radius: 3px
    background: black
    height: 22px
    padding-top: 2px
    color: white
.account-main,.tab-list
  width: 820px
  margin: 0 auto
.account-setting
  font-weight: bold
  .change-pw
    color: #E2A66A
    margin-left: 15px
.hua-point
  .description,.point-data
    margin-top: 5px
    padding-bottom: 5px
    border-bottom: 1px #F2F2F2 solid
    span.time
      margin-left: 5px
      width: 60px
      display: inline-block
    span.code
      margin-left: 80px
      width: 120px
      display: inline-block
    span.depict
      margin-left: 60px
      width: 90px
      display: inline-block
    span.point
      margin-left: 80px
      width: 50px
      display: inline-block
    span.due
      margin-left: 120px
      display: inline-block
  .btn-submit
    width: 65px
    display: inline-block
    margin-right: 20px
    text-align: center
    border: 1px black solid
    border-radius: 3px
    background: white
    height: 16px
    padding-top: 4px
  h3
    font-size: 13px
  .tittle
    widht: 100%
    height: 23px
    background: #F2F2F2
    h3
      line-height: 0
      padding-top: 13px
      margin-left: 5px
.invite
  font-weight: bold
  .btn-invite
    width: 67px
    text-align: center
    border: none
    border-radius: 3px
    background: rgb(16, 14, 11)
    display: block
    color: white
    height: 17px
    padding-top: 5px
  .from-third-party
    width: 100%
    border-top: 1px #BFBEBE solid
    padding-top: 20px
    margin-top: 40px
    img
      height: 32px
  span.refer
    margin-left: 5px
  .submit
    width: 60px
    display: inline-block
    margin-left: 5px
    text-align: center
    border: 1px black solid
    border-radius: 3px
    background: black
    height: 22px
    padding-top: 2px
    color: white
.tab-list
  border-bottom: 1px #F2F2F2 solid
  margin-top: 90px
  margin-bottom: 38px
  ul
    padding-left: 0
    margin-bottom: 0
    li
      display: inline-block
      margin-right: 54px
      font-weight: bold
      padding-bottom: 5px
    li.now
      border-bottom: 1px #F7BC7C solid
.order
  width: 820px
  margin: 0 auto
  .tittle
    width: 820px
    height: 23px
    background: #F2F2F2
    ul
      padding-top: 6px
    li
      display: inline-block
    .order-identifier
      margin-left: 20px
    .recipients
      text-align: right
      width: 380px
    .edit
      margin-left: 20px
  .product-list
    width: 820px
    border-bottom: 1px #F2F2F2 solid
    .list
      width: 520px
      display: inline-block
      border-right: 1px #F2F2F2 solid
      .each-product
        border-top: 1px #F2F2F2 solid
        div
          display: inline-block
          vertical-align: top
        img
          width: 150px
          height: 150px
          margin-left: 20px
        .info
          margin-top: 45px
          width: 270px
          text-align: center
          p
            margin-top: 5px
            margin-bottom: 5px
        .quantity
          margin-top: 50px
    .payment
      width: 298px
      display: inline-block
      border-top: 1px #F2F2F2 solid
      vertical-align: top
      padding-top: 50px
      p,.pay
        display: inline-block
        vertical-align: top
      .price
        width: 180px
        text-align: center
        font-weight: bold
      .pay
        padding-top: 0
        a
          display: block
          text-align: center
          margin-top: 5px
          margin-bottom: 5px
          font-weight: bold
        a.btn-pay
          width: 65px
          text-align: center
          border: 1px black solid
          border-radius: 3px
          background: white
          height: 16px
          padding-top: 4px
        a.btn-confirm
          width: 67px
          text-align: center
          border: none
          border-radius: 3px
          background: black
          color: white
          height: 17px
          padding-top: 5px
