body.active_admin .attributes_table th
  width: 80px

body.active_admin table th, body.active_admin table td
  padding: 3px 0

body.active_admin table td img
  width: 180px
  float: left

.profiler-results
  display: none
