.container
  padding-top: 20px
  p
    margin: 5px 0
  width: 940px
  vertical-align: middle
  h3
    border-bottom: 1px solid black
  .header
    text-align: center
  .barcode
    img
      width: 250px
    height: 30px

  table
    border-collapse: collapse
    width: 100%
  table, th, td
    border: 1px solid black
