$top: 143pt
$lineHeight: 18pt
$lineMargin: 2pt
$lineWidth: 215pt
$fontSize: 11pt

div, p, h3, table, tr ,td
  font-family: sans-serif
  font-size: $fontSize
  line-height: $lineHeight

.container
  padding: 40px 40px 0 40px
  p
    margin: 5px 0
  width: 940px
  vertical-align: middle
  h3
    border-bottom: 1px solid black
  .header
    text-align: center
  .barcode
    img
      width: 450px
    height: 40px

  table
    border-collapse: collapse
    width: 100%
  table, th, td
    border: 1px solid black

@page
  size: 24.2cm 27.81cm Portrait
