@import "bootstrap"
@import "bootstrap-slider"

$top: 155pt
$lineHeight: 22pt
$lineMargin: 2pt
$lineWidth: 215pt
$fontSize: 15pt

#sheet-bg
  /* adjustment to the actual print layout */
  /* in Chrome */
  position: relative
  top: -24pt
  left: -37pt
  /* w: 25cm, h, 18.1cm */
  /* http://en.wikipedia.org/wiki/Dots_per_inch */
  /* dpi: 28dot/cm */
  width: 25 * 28pt
  height: 18.1 * 28pt

#sheet-bg img 
  width: 100%
  height: 100%

#body
  position: absolute
  top: 315pt
  left: 100pt
  margin-right: 150pt

#receiver
  position: absolute
  top: 290pt
  left: 70pt

#sender
  text-align: right
  margin-right: 120pt

p
  font-family: sans-serif
  font-size: $fontSize
  line-height: $lineHeight
  margin: 0
  padding: 0

#control-panel
  input
    width: 700px

@media print

  #sheet-bg img, #control-panel
    display: none
