$top: 163pt
$lineHeight: 18pt
$lineMargin: 2pt
$lineWidth: 215pt
$fontSize: 11pt


.sheet-bg
  // adjustment to the actual print layout
  // in Chrome
  position: relative
  top: -14pt
  left: -23pt

.sheet-bg img
  // w: 23cm, h, 12.7cm
  // http://en.wikipedia.org/wiki/Dots_per_inch
  // dpi: 28dot/cm
  width: 23 * 28pt
  height: 12.7 * 28pt

p
  font-family: sans-serif
  font-size: $fontSize
  font-weight: bold
  position: absolute
  border: 1px red solid
  height: $lineHeight - 2 * $lineMargin
  line-height: $lineHeight
  margin: 0
  padding: 0

.receipt
  top: $top
  left: 95pt
  width: $lineWidth

.phone
  top: $top + $lineHeight
  left: 74pt
  width: $lineWidth / 2

.cell
  top: $top + $lineHeight
  left: 208pt
  width: $lineWidth / 2

.addr
  top: $top + 3 * $lineHeight
  left: 65pt
  width: $lineWidth
  font-size: $fontSize * 0.9

.post
  top: $top + 4 * $lineHeight
  left: 209pt
  width: $lineWidth * 0.4

.shunfeng-sender
  display: none

.shunfeng-sender.shunfeng
  display: block

  .sender-com
    top: 106pt
    left: 85pt
    width: 53pt

  .sender-addr
    top: 127pt
    left: 85pt

  .sender-phone
    top: 163pt
    left: 124pt
    width: 77pt

.shunfeng-bg
  top: -16pt
  left: -16pt

.shunfeng-bg
  img
    height: 14.7 * 28pt

.shunfeng
  .addr
    top: 233pt
    left: 64pt
    width: 203pt

  .cell
    top: 270pt
    left: 126pt

  .receipt
    top: 213pt
    left: 210pt
    width: 75pt

  .post
    top: 213pt
    left: 75pt

.ems
  .receipt
    top: 140pt
    left: 68pt
    width: 75pt

  .cell
    top: 137pt
    left: 184pt

  .addr
    top: 174pt

  .post
    top: 213pt
    left: 227pt

@media print

  .sheet-bg img
    display: none

  p
    border: none
