// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require formtastic

// Core variables and mixins
@import "settings/variables"
@import "settings/mixins"

// CSS Reset
@import "bootstrap/reset"

// Grid system and page structure
@import "bootstrap/grid"
@import "bootstrap/layouts"

// General / Generic rules for Basic Elements
@import "base"

// Recurring UI Elements
@import "ui"

// LAYOUTS

#product-nav
  position: absolute
  top: 200px

#sidebar
  min-height: 1px

  h2, p
    text-align: right

#sidebar_wrapper
  position: fixed

#content
  min-height: 600px

header
  margin-top: 60px

footer
  margin-top: 10px
  text-align: right

// HOME
#home-intro
  font-size: 90%
  color: $grayLight
  position: absolute
  top: 450px

// SIDEBAR NAV
#product-nav
  position: absolute
  left: 0
  top: 200px

  h4 
    margin: 0 0 5px 0

    span
      padding: 3px 2px
      background-color: $tintColor
      color: $white

  .arrow
    visibility: hidden
    color: $tintColor
    position: relative
    left: 10px
    font-size: 80%

  .near
    left: 5px

  .active .arrow, .visible 
    visibility: visible

// PRODUCT PAGE

#product-side
  position: absolute
  right: 0
  top: 200px

  h2
    margin-top: 0

  h2 span
    font-weight: normal
    padding: 4px 8px
    color: $white
    background-color: $tintColor

  .price
    font-size: 130%
    color: $tintColor

  .old-price
    text-decoration: line-through
    color: $grayLight

#product-summary
  position: absolute
  top: 460px
  right: 0

  p
    margin: 0 0 2px 0
    font-size: 90%
    line-height: 1.2em
    color: $gray

#product-info
  text-align: right
  margin-left: ($gridColumnWidth + $gridGutterWidth) * 2

#image-showcase
  position: relative
  height: 600px
  width: 620px

#image-cover
  position: absolute
  height: 100%
  width: 100%

  &.loading
    background: $white url('loading.gif') center center no-repeat
    +opacity(0.6)

#image-slides
  margin-top: 10px
  img // same proportion with the full-size image 
    width: 80px
    height: #{80 * 600 / 620}px  
    +opacity(0.5)

    &.hover, &:hover, &.current
      +opacity(0.9)

// ORDER PAGE
// PAYMENT PAGE
// SUCCESS PAGE
#payment-wrapper, #success-wrapper, #order-wrapper
  margin-top: 100px

  img
    float: right

  .product-name
    color: $tintColor

#order-list, #success-list
  font-size: 120%
  margin: 50px 0 20px 50px

#notice-info
  margin-top: 50px
  font-size: 95%

  h3, strong
    color: $grayDark

// STATIC PAGE
#page-wrapper
  margin-top: 100px
  text-align: right
  margin-left: ($gridColumnWidth + $gridGutterWidth) * 2
