// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//= require orders
//= require reminders

// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "settings/variables"
@import "settings/mixins"

// CSS Reset
@import "bootstrap/reset"

// Grid system and page structure
@import "bootstrap/grid"
@import "bootstrap/layouts"

// General / Generic rules for Basic Elements
@import "base"

// Recurring UI Elements
@import "bootstrap/tables"
@import "bootstrap/sprites"
@import "bootstrap/forms"
@import "ui"

// partials
@import 'header'
@import 'devise'
@import 'bank'

// LAYOUTS

#sidebar
  min-height: 1px

  h2, p
    text-align: right

#sidebar_wrapper
  position: fixed

#content
  min-height: 600px

.container
  position: relative

footer
  margin-top: 10px
  text-align: right

.registrations, .passwords, .sessions
  margin-top: 150px

// SIDEBAR NAV
#product-nav
  position: absolute
  left: 0
  top: 180px
  width: 120px
  font-size: 90%

  #nav-top
    visibility: hidden 

  h4
    margin: 0 0 10px 0

    span
      padding: 3px 2px
      color: $gray

  #nav-banner
    display: block
    position: relative
    bottom: 10px

  .arrow
    visibility: hidden
    color: $tintColor
    position: relative
    left: 6px
    font-size: 80%

  .near
    left: 2px

  .active .arrow, .visible
    visibility: visible

  #chris-new
    position: absolute
    left: -5px
    top: 5px

  .nav-panel
    dt
      padding-bottom: 5px

      a
        font-size: 120%
        display: block

      .opened
      //maybe some decoration here
       
    dd
      display: none

  #nav-flyout
    display: none
    position: absolute
    padding: 10px 10px 10px 20px
    z-index: 1
    width: 125%
    //hacked width, some products' names too long
    +background_transparent(#fdfdfd, 0.9)
    +shadow(#111, 0.3)
    +transition(top 0.3s ease-in-out)

// PRODUCT PAGE

.pro-price
  font-size: 120%
  color: $grayLight

.old-price
  text-decoration: line-through
  color: $grayLight

#product-side
  position: absolute
  right: 0
  top: 200px

  h2
    margin-top: 0

  h2 span
    font-size: 120%
    padding: 4px 0px 4px 8px
    color: $tintColor

#product-share
  position: absolute
  right: 0
  margin-top: 40px

#product-summary
  position: absolute
  top: 450px
  right: 0
  width: 180px

  p
    +meta_content
    margin: 0 0 2px 0

#product-info p
  margin-left: ($gridColumnWidth + $gridGutterWidth) / 2

#image-showcase
  position: relative
  height: 600px
  width: 620px

#image-cover
  position: absolute
  height: 100%
  width: 100%

  &.loading
    background: $white url('loading.gif') center center no-repeat
    +opacity(60)

#image-slides
  margin-top: 10px
  text-align: center
  img // same proportion with the full-size image
    width: 80px
    height: #{80 * 600 / 620}px
    +opacity(50)

    &.hover, &:hover, &.current
      +opacity(90)

// Collection Page
.collection-title
  height: 180px
  position: relative

  img
    position: absolute
    bottom: 30px
    right: 0

.collection-unit
  position: relative

  &:hover
    .unit-info
      +opacity(100)
      
  .unit-title
    padding: 5px 12px
    text-align: center
    // background: $tintColor
    // a
      // color: $white

  .unit-info
    position: absolute
    height: 12%
    width: 100%
    bottom: 50px
    background: $white
    +opacity(0)
    +transition(all 0.2s ease-in-out)

  .purchase
    margin: 10px 0 0 0
    float: right

// ORDER PAGE
// PAYMENT PAGE
// SUCCESS PAGE
#payment-wrapper, #success-wrapper, #order-wrapper, #share-wrapper
  margin-top: 100px

  img
    float: right

  .product-name
    color: $tintColor

#payment-wrapper
  input.button
    font-size: 100%

#link_wrapper
  margin-top: 100px

#partner-wrapper

  h2
    margin-bottom: 40px

  .row
    margin-bottom: 40px

  a
    display: block
    vertical-align: center
    height: 80px

    &:hover
      background: none

#order-list, #success-list, #share-list
  font-size: 120%
  margin: 50px 0 20px 50px

#notice-info
  margin-top: 50px
  font-size: 95%

  h3, strong
    color: $grayDark

// Suggestion
.suggestion-on-current, .suggestion-on-product
  border-top: 1px solid $tintColor
  margin-top: 30px
  margin-bottom: 50px

  .suggestion-list
    list-style-type: none
    padding: 0px
    text-align: center

  .suggestion-cell
    list-style-type: none
    display: inline-block
    padding-left: 10px

    .suggestion-click-to-cart
      margin-top: -20px
      visibility: hidden

      a
        padding: 5px
        +background_transparent(#ffffff, 0.8)
        &:hover
          color: $white
          background-color: $linkColor

    .suggestion-link
      padding-top: 10px
      text-align: center

.suggestion-on-checkout
  .suggestion-cell
    .suggestion-click-to-cart
      visibility: hidden
      position: absolute
      margin-top: 60px
      left: 200px
      a
        padding: 5px

// STATIC PAGE
.page-wrapper
  margin-top: 100px
  text-align: right
  margin-left: ($gridColumnWidth + $gridGutterWidth) * 2

#home-page
  margin-top: 100px
  margin-left: 0

  a
    display: inline-block
    width: 300px
    margin-bottom: 40px
    +opacity(40)
    +transition(all 0.3s)

    &:hover
      +opacity(100)

  p.banner a
    +opacity(100)
    display: block
    width: auto
      

  a:hover
    background-color: transparent

.form-block
  margin: 10px
  padding: 2px 12px

// Oauth sign-up
form.sign-up-oauth
  .control-group.email
    display: inline-block

  .loading-gif
    display: inline
    +opacity(0)

  .control-group.name-via-oauth .controls label
    text-align: left

  .hint-user-exist
    margin-top: -10px
    margin-bottom: 10px

form.sign-up-oauth.user-exist
  .show-when-user-exist
    display: block
  .hide-when-user-exist
    display: none
  +transition(all 0.2s ease-in-out)

form.sign-up-oauth.user-not-exist
  .show-when-user-not-exist
    display: block
  .hide-when-user-not-exist
    display: none
  +transition(all 0.2s ease-in-out)
