// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//= require orders

// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "settings/variables"
@import "settings/mixins"

// CSS Reset
@import "bootstrap/reset"

// Grid system and page structure
@import "bootstrap/grid"
@import "bootstrap/layouts"

// General / Generic rules for Basic Elements
@import "base"

// Recurring UI Elements
@import "bootstrap/tables"
@import "bootstrap/sprites"
@import "bootstrap/forms"
@import "ui"

// partials
@import 'header'
@import 'bank'

// LAYOUTS

#sidebar
  min-height: 1px

  h2, p
    text-align: right

#sidebar_wrapper
  position: fixed

#content
  min-height: 600px

footer
  margin-top: 10px
  text-align: right

.registrations, .passwords, .sessions
  margin-top: 150px

// HOME
p#home-intro
  +meta_content
  position: absolute
  top: 180px

// SIDEBAR NAV
#product-nav
  position: absolute
  left: 0
  top: 370px
  font-size: 90%

  h4
    margin: 0 0 5px 0

    span
      padding: 3px 2px
      color: $grayLight

  .arrow
    visibility: hidden
    color: $tintColor
    position: relative
    left: 6px
    font-size: 80%

  .near
    left: 2px

  .active .arrow, .visible
    visibility: visible

  #chris-knot
    position: absolute
    left: -25px
    top: -22px

  #chris-new
    position: absolute
    left: -32px

// PRODUCT PAGE

#product-side
  position: absolute
  right: 0
  top: 200px

  h2
    margin-top: 0

  h2 span
    font-size: 120%
    padding: 4px 0px 4px 8px
    color: $tintColor

  .price
    font-size: 120%
    color: $grayLight

  .old-price
    text-decoration: line-through
    color: $grayLight

#product-share
  position: absolute
  right: 0
  margin-top: 10px

#product-summary
  position: absolute
  top: 400px
  right: 0
  width: 180px

  p
    +meta_content
    margin: 0 0 2px 0

#product-info p
  margin-left: ($gridColumnWidth + $gridGutterWidth) / 2

#image-showcase
  position: relative
  height: 600px
  width: 620px

#image-cover
  position: absolute
  height: 100%
  width: 100%

  &.loading
    background: $white url('loading.gif') center center no-repeat
    +opacity(60)

#image-slides
  margin-top: 10px
  img // same proportion with the full-size image
    width: 80px
    height: #{80 * 600 / 620}px
    +opacity(50)

    &.hover, &:hover, &.current
      +opacity(90)

// ORDER PAGE
// PAYMENT PAGE
// SUCCESS PAGE
#payment-wrapper, #success-wrapper, #order-wrapper, #share-wrapper
  margin-top: 100px

  img
    float: right

  .product-name
    color: $tintColor

#payment-wrapper
  input.button
    font-size: 100%

#order-list, #success-list, #share-list
  font-size: 120%
  margin: 50px 0 20px 50px

#notice-info
  margin-top: 50px
  font-size: 95%

  h3, strong
    color: $grayDark

// STATIC PAGE
#page-wrapper
  margin-top: 100px
  text-align: right
  margin-left: ($gridColumnWidth + $gridGutterWidth) * 2

.form-block
  margin: 10px
  padding: 2px 12px

.area-icon
  display: inline-block
  vertical-align: middle
  width: 225px
  height: 10px
  padding: 10px 10px 10px 4px
  margin: 10px
