.b2bpart1
  height: 576px
  .title
    text-align: center
    padding-top: 55px
    padding-bottom: 100px
  h3
    font-weight: bold
    font-size: 14px
    line-height: 5px
  .left
    float: left
    width: 27%
    padding-left: 20%
    padding-right: 3%
  .right
    float: left
    width: 50%
    img
      height: 324px
      width: 423px
.b2bpart2
  background-color: rgb(247,247,247)
  height: 576px
  .title
    text-align: center
    padding-top: 55px
    padding-bottom: 100px
  h3
    font-weight: bold
    font-size: 14px
    line-height: 5px
  .left
    float: left
    width: 27%
    padding-left: 20%
    padding-right: 3%

  .right
    float: left
    width: 50%
    img
      height: 324px
      width: 423px