.bank-icon
  display: inline-block
  position: relative
  vertical-align: middle
  cursor: pointer
  width: 125px
  height: 10px
  background-repeat: no-repeat
  background-image: asset-url("paycollec.png")
  padding: 10px 10px 10px 4px
  margin: 10px

.PAYPAL
  background-image: asset-url("paypal.jpg")
  background-position: 25px 0px
  width: 325px
  height: 80px

.ALIPAY
  background-position: 25px 0px

.ICBCB2C
  background-position: 25px -270px

.CMB
  background-position: 25px -180px

.CCB
  background-position: 25px -240px

.BOCB2C
  background-position: 25px -210px

.ABC
  background-position: 25px -360px

.COMM
  background-position: 25px -300px

.CMBC
  background-position: 25px -420px
