body
  margin: 0
  font-size: $baseFontSize

a
  color: $linkColor
  text-decoration: none

  &:hover
    color: $white
    background-color: $linkColor

a.logo
  &:hover
    background-color: transparent
p
  color: $gray

small
  color: $grayLight

input, select, textarea, button
  font: 12px Arial, $sansFontFamily
  vertical-align: middle
  color: #818181