body
  margin: 0
  font-size: $baseFontSize
  font-family: $baseFontFamily

a
  color: $linkColor
  text-decoration: none

  &:hover
    color: $white
    background-color: $linkColor

a.logo
  vertical-align: bottom

  &:hover
    background-color: transparent
p
  color: $gray
  margin: 10px 0

small
  color: $grayLight

input, select, textarea, button
  font: 12px Arial, $sansFontFamily
  vertical-align: middle
  color: #818181