body
  margin: 0
  font-size: $baseFontSize
  font-family: $baseFontFamily

a
  color: $linkColor
  text-decoration: none

  &:hover
    color: $white
    background-color: $linkColor

p
  color: $gray
  margin: 10px 0
  line-height: $baseLineHeight

small
  color: $grayLight

hr
  background-color: $grayLighter
  border: none
  height: 0.5px
  border-top: .5px $grayLighter solid

input, select, textarea, button
  font: 12px Arial, $sansFontFamily
  vertical-align: middle
  color: #818181