.best-products
  padding: 10px
  width: auto
  height: 186px
  margin-top: 140px
  margin-bottom: 100px
  .prebrands
    position: absolute
    top: 300px
    left: 15%
    font-size: 20px
    display: none
  .nextbrands
    position: absolute
    top: 300px
    left: 85%
    font-size: 20px
  .brand
    .brands1
      margin: 0 auto
      width: 740px
      height: 186px
      a
        display: inline-block
        width: 108px
        height: 47px
        margin-left: 20px
        margin-right: 20px
        margin-bottom: 15px
        text-indent: -9999px
      .hermes
        background-image: image-url("brands/Hermes.jpg")
        background-size: 108px 47px
      .acqua
        background-image: image-url("brands/acqua.jpg")
        background-size: 108px 47px
      .chole
        background-image: image-url("brands/chole.jpg")
        background-size: 108px 47px
      .valentine-perfume
        background-image: image-url("brands/valentine-perfume.jpg")
        background-size: 108px 47px
      .swarovski-elements
        background-image: image-url("brands/swarovski-elements.png")
        background-size: 108px 47px
      .marc-jacobs
        background-image: image-url("brands/marc-jacobs.png")
        background-size: 108px 47px
      .givenchy
        background-image: image-url("brands/givenchy.png")
        background-size: 108px 47px
      .zegna
        background-image: image-url("brands/zegna.jpg")
        background-size: 108px 47px
      .shanghai-beach
        background-image: image-url("brands/shanghai_beach.jpg")
        background-size: 108px 47px
      .HR
        background-image: image-url("brands/HR.jpg")
        background-size: 108px 47px
      .coach
        background-image: image-url("brands/coach.jpg")
        background-size: 108px 47px
      .sally-hansen
        background-image: image-url("brands/sally-hansen.png")
        background-size: 108px 47px
      .godiva-chocolatier
        background-image: image-url("brands/godiva-chocolatier.jpg")
        background-size: 108px 47px
      .davidoff
        background-image: image-url("brands/davidoff.jpg")
        background-size: 108px 47px
      .baccarat
        background-image: image-url("brands/baccarat.jpg")
        background-size: 108px 47px
    .brands2
      margin: 0 auto
      width: 740px
      display: none
      height: 186px
      a
        display: inline-block
        width: 108px
        height: 47px
        margin-left: 20px
        margin-right: 20px
        margin-bottom: 15px
        text-indent: -9999px
      .make-up-forever
        background-image: image-url("brands/make_up_forever.jpg")
        background-size: 108px 47px
      .ctrip
        background-image: image-url("brands/ctrip.jpg")
        background-size: 108px 47px
      .Ritz-Carlton
        background-image: image-url("brands/Ritz-Carlton.jpg")
        background-size: 108px 47px
      .MaBelle
        background-image: image-url("brands/MaBelle.jpg")
        background-size: 108px 47px
      .leo-diamond
        background-image: image-url("brands/leo-diamond.jpg")
        background-size: 108px 47px
      .renaissance-wedding-show
        background-image: image-url("brands/renaissance-wedding-show.jpg")
        background-size: 108px 47px
      .shanghaitan
        background-image: image-url("brands/shanghaitan.jpg")
        background-size: 108px 47px
      .p-and-g
        background-image: image-url("brands/p-and-g.jpg")
        background-size: 108px 47px
      .shiseido
        background-image: image-url("brands/shiseido.jpg")
        background-size: 108px 47px
      .evbuy
        background-image: image-url("brands/evbuy.jpg")
        background-size: 108px 47px
      .fields-china
        background-image: image-url("brands/fields-china.jpg")
        background-size: 108px 47px
      .qu-africa
        background-image: image-url("brands/qu-africa.jpg")
        background-size: 108px 47px
      .city-life
        background-image: image-url("brands/city-life.jpg")
        background-size: 108px 47px
      
      .sonoko
        background-image: image-url("brands/sonoko.jpg")
        background-size: 108px 47px
      .yhouse
        background-image: image-url("brands/yhouse.jpg")
        background-size: 108px 47px
      .candenzza
        background-image: image-url("brands/candenzza.jpg")
        background-size: 108px 47px
      .eco-more
        background-image: image-url("brands/eco-more.jpg")
        background-size: 108px 47px
      .tencent
        background-image: image-url("brands/tencent.jpg")
        background-size: 108px 47px
      
      .aston-martin
        background-image: image-url("brands/aston-martin.jpg")
        background-size: 108px 47px
      .philips
        background-image: image-url("brands/philips.jpg")
        background-size: 108px 47px
      .uber
        background-image: image-url("brands/uber.jpg")
        background-size: 108px 47px
      .haagen-dazs
        background-image: image-url("brands/haagen-dazs.jpg")
        background-size: 108px 47px
      
