.cart
  button
    font-weight: bold
    border: 1px black solid
    background: transparent
    border-radius: 4px
    cursor: pointer
    padding-left: 10px
  .empty
    font-weight: bold
    margin: 118px 0 118px 0
    text-align: center
  .view
    width: 736px
    margin: 0 auto
    .title
      text-align: center
      padding-top: 55px
      padding-bottom: 32px
      border-bottom: 1px black solid
      font-weight: bold
      font-size: 14px
    .cartlist
      border-bottom: 1px black solid
      .incart
        height: 180px
        border-bottom: 1px rgba(0,0,0,0.2) solid
        div
          display: inline-block
          vertical-align: top
        .pic
          img
            width: 150px
            height: 150px
            padding-top: 17px
          margin-right: 50px
          margin-left: 10px
        .name
          padding-top: 62px
          margin-right: 55px
          width: 120px
          text-align: center
          h4
            margin-top: -12px
            font-size: 10px
        .price
          letter-spacing: 1px
          margin-right: 50px
          width: 70px
          padding-top: 65px
        .quantity
          padding-top: 73px
          margin-right: 30px
          width: 75px
          input
            width: 27px
            height: 22px
            border: 1px black solid
            text-align: center
          .button_to
            display: inline-block
            vertical-align: top
            .add_quantity,.reduce_quantity
              width: 14px
              height: 14px
              padding: 0
              line-height: 0
              background: transparent
              margin-top: 4px
            .add_quantity
              margin-left: 5px
            .reduce_quantity
              margin-right: 5px

        .totalprice
          letter-spacing: 1px
          margin-right: 50px
          width: 50px
          padding-top: 67px
        .delete
          padding-top: 77px

    .total
      position: relative
      .count
        text-align: right
        letter-spacing: 1px
        margin-bottom: 10px
        p
          display: inline-block
          margin-left: 30px
          font-weight: bold
      .promocode
        display: inline-block
        .inputcode
          display: none
          position: absolute
          top: 47px
          left: 161px
          .promo
            margin-left: 10px
            margin-right: 10px
            width: 139px
            height: 20px
            border: 1px #BFBEBE solid
          .usepromo
            padding-right: 10px
            background-color: black
            color: white
      .proceed
        display: inline-block
        position: absolute
        top: 47px
        left: 540px
        .checkout-link
          text-align: center
          display: inline-block
          font-weight: bold
          width: 65px
          border: 1px black solid
          background: transparent
          border-radius: 4px
          cursor: pointer
          padding: 3px 6px 2px 10px
          margin-left: 15px