.forget-psw
  color: $gray
  font-size: 90%

  &:hover
    background: none
    text-decoration: underline
    color: $gray

.form-actions
  border: none
  margin: 0
  padding-top: 0

.login-use-oauth
  text-align: center

  .weibo-oauth
    display: none
  // .qq-oauth

  a
    &:hover
      background: none

  img
    margin-right: 10px
    border: solid 1px transparent
    &:hover
      border-bottom: solid 1px silver
      border-right: solid 1px silver
