.discription
  width: 920px
  margin: 45px auto
  font-size: 11px
  line-height: 21px
  h3
    display: block
    margin-top: 24px
    padding-bottom: 5px
    margin-bottom: -4px
    border-bottom: 1px rgba(0,0,0,0.3) solid
    border-bottom-style: dotted
  .left
    display: inline-block
    width: 365px
    vertical-align: top
  .mid
    display: inline-block
    margin-left: 60px
    vertical-align: top
    width: 200px
  .right
    display: inline-block
    vertical-align: top
    width: 224px
    margin-left: 60px
    button
      border: 1px black solid
      background: transparent
      border-radius: 4px
      margin-right: 5px
      cursor: pointer