.producttitle
  .left
    float: left
  .right
    float: right
    .filter
      position: absolute
      width: 100%
      background: rgba(255,255,255,0.7)
      left: 0
      top: 115px
      text-align: center
      
.displaypage
  .list
    margin: auto
    width: 1120px
    height: 1400px
