.banner-box
  position: relative
  overflow: hidden
  height: 600px
  .bd
    width: 100% !important
    ul
      margin: 0 
    li .m-width 
      width: 100%
      margin: 0 auto
      overflow: hidden
      img
        width: 100%
    li
      width: 100% !important
    .label
      position: absolute
      z-index: 999
      color: white
      top: 358px
      width: 100%
      text-align: center
      h1
        font-size: 36px
      h2
        margin-top: -23px
        font-size: 18px
      a
        display: bloc6
        margin: 0 auto
        color: white
        font-size: 13px
        padding-top: 8px
        border: 1px white solid
        color: white
        width: 68px
        height: 21px
  .banner-btn
    width: 1500px
    position: absolute
    top: 270px
    left: 50%
    margin-left: -750px
    a
      display: block
      width: 49px
      height: 104px
      position: absolute
      top: 0
      filter: alpha(opacity=40)
      -moz-opacity: 0.4
      -khtml-opacity: 0.4
      opacity: 0.4
    .hd 
      position: absolute
      top: 260px
      left: 670px
      ul
        width: 150px
        li
          width: 12px
          height: 12px
          border-radius: 50%
          text-indent: -9999px
          margin-right: 20px
          background: #ccc
          float: left
          cursor: pointer
          opacity: 0.4
      .on
        background: #FFF
        opacity: 0.8
