.footer
  border-top: 1px rgba(0,0,0,0.1) solid
  border-top-style: dotted
  .line1
    margin-top: 40px
    height: 35px
    width: 240px
    margin: 40px auto 0 
    .tel
      margin-top: 11px
      float: left
      width: 17px
      height: 20px
      background-image: image-url("icon/tel.png")
      background-repeat: no-repeat
    .num
      margin-left: 5px
      float: left
    .mail
      margin-top: 13px
      float: left
      width: 20px
      height: 20px
      margin-left: 20px
      background-image: image-url("icon/mail.png")
      background-repeat: no-repeat
    .mailadd
      margin-left: 0px
      float: left
  .line2
    text-align: center
  .line3
    text-align: center
    margin-top: 20px
    a
      margin-right: 20px
      margin-left: 20px
  .line4
    text-align: center
    height: 30px
    margin-top: 30px
    .weibo
      display: block
      margin-top: 5px
      width: 25px
      height: 20px
      margin-left: 47.7%
      background-image: image-url("icon/weibo.png")
      background-repeat: no-repeat
      float: left
    .weixin
      display: block
      float: left
      margin-top: 5px
      width: 24.6px
      height: 20px
      margin-left: 1.5%
      background-image: image-url("icon/weixin.png")
      background-repeat: no-repeat
  .line5
    margin-top: 20px
    text-align: center