.js
  width: 100%
  height: 464px
  position: relative
  margin-top: 60px
  .tempWrap
    width: 100%
  .main_content
    position: absolute
    z-index: 0
    width: 100%
    padding: 0
    li
      width: 100%
      height: 464px
      overflow: hidden
      vertical-align: middle
      a
        overflow: hidden
        float: left
        width: 100%
        display: block
        position: relative
        margin: 0 1px 1px 0
        _margin: 0
        img
          width: 100%
          display: block
          left: 0
          top: 0
          position: relative
  .bor_slide
    position: absolute
    top: 9px
    right: 0
    width: 76px
    .ctrl
      padding-left: 0
      margin-left: -76px
      margin-top: 150px
    li 
      width: 76px
      height: 30px
      margin-bottom: 2px
      cursor:  pointer
      font-size: 14px
      color: white
      background: transparent
      list-style-type: circle
    li.on
      background: transparent
      list-style-type: disc