.march
  width: 1100px
  margin: 40px auto
  position: relative
  a
    display: block
    position: absolute
    z-index: 999
    color: rgba(0,0,0,0.4)
  .first-p1
    width: 409px
    height: 200px
    top: 476px
    left: 170px
  .first-p2
    width: 432px
    height: 328px
    top: 422px
    left: 570px
  .sec-p1
    width: 433px
    height: 337px
    top: 696px
    left: 70px
  .sec-p2
    width: 351px
    height: 237px
    top: 739px
    left: 520px
  .third-p1
    width: 374px
    height: 210px
    top: 1019px
    left: 278px
  .third-p2
    width: 374px
    height: 310px
    top: 979px
    left: 650px
  .forth-p1
    width: 333px
    height: 310px
    top: 1209px
    left: 57px
  .forth-p2
    width: 450px
    height: 210px
    top: 1289px
    left: 392px   
  .fifth-p1
    width: 367px
    height: 281px
    top: 1517px
    left: 553px
  .fifth-p2
    width: 262px
    height: 254px
    top: 1819px
    left: 496px
  .fifth-p3
    width: 262px
    height: 254px
    top: 1785px
    left: 760px
  .sixth-p1
    width: 400px
    height: 574px
    top: 1819px
    left: 96px
  .sixth-p2
    width: 400px
    height: 239px
    top: 2153px
    left: 498px