.type
  width: 95%
  margin: 0 auto
  position: relative
  .type-a,.type-b,.type-c,.type-d
    display: inline-block
    width: 46%
    margin-left: 2%
    margin-right: 2%
  h4
    text-align: center
    margin-top: 20px
    height: 40px