.my-order
  position: relative
  .my-order-inner
    width: $global-width
    margin: 0 auto 35px
    .my-product-list
      li
        +clearfix
        margin-left: 0
        padding: 30px 80px 25px 25px
        margin-bottom: 7px
        height: 180px
        border: 1px solid #eee
        .col1
          margin-left: 0
          float: left
          width: 235px
          a,span
            display: block
          a
            color: $link-blue-color
          .number
            color: $link-blue-color
          p
            padding-top: 15px
            .tooltip-viewDetail
              display: inline-block
              width: 11px
              height: 11px
              margin-left: 5px
              background-image: image-url("bg/tooltip_icon.png")
              vertical-align: middle
              cursor: pointer
          .viewDetail
            line-height: 1.6
            width: 125px
            padding: 5px 10px
            border: 1px solid $border-light-color
            margin-left: 50px
            +border-radius(3px)
            h4
              font-weight: normal
            p
              padding-top: 0
              color: $content-normal-color
        .col2
          float: left
          margin-left: 0
          width: 515px
          .post-date
            display: block
            color: $content-normal-color
          .state
            display: block
            color: $price-color
            font-size: $title-font-large
          .product-info
            +clearfix
            padding-top: 35px
            img
              float: left
              margin-right: 35px
            .product-info-main
              float: left
              width: 375px
              strong,span
                display: block
              span
                margin-bottom: 35px
              p
                color: $content-normal-color
        .col3
          float: left
          width: 80px
          button
            margin-bottom: 10px
            &.btn-completePay
              margin-bottom: 30px
