.layer
  height: 117px
  position: absolute
  width: 100%
  display: none
.nav
  width: 100%
  height: 77px
  margin: 0 auto
  padding: 0
  border-bottom: 1px rgba(0,0,0,0.1) solid
  border-bottom-style: dotted
  position: relative
  .nav1
    margin: 0 auto
    width: 1100px
    .logo
      height: 77px
      display: inline-block
      vertical-align: top
      margin-left: 8px
      width: 125px
      img
        height: 40px
        margin-top: 18px
    .guide
      height: 45px
      padding-top: 32px
      display: inline-block
      margin-left: 275px
      vertical-align: top
      padding-left: 0px
      margin-top: 0px
      li.nav1-li
        display: inline-block
        height: 48px
      a.nav1-link
        display: inline-block
        font-weight: bold !important
        font-size: 13px !important
        margin-left: 22px
        margin-right: 22px
      a.nav1-link:hover
        padding-bottom: 3px
        border-bottom: 2px #000000 solid

    .talk
      vertical-align: top
      height: 25px
      padding-top: 24px
      display: inline-block
      margin-left: 70px
      position: relative
      .s
        margin-left: 93px
        border-radius: 15px
        background-color: #F7F7F7
        display: inline-block
        width: 30px
        height: 30px
      .l
        position: absolute
        left: 126px
        border-radius: 15px
        background-color: #F7F7F7
        display: inline-block
        margin-left: 27px
        width: 30px
        height: 30px
      .c
        position: absolute
        left: 187px
        border-radius: 15px
        background-color: #F7F7F7
        display: inline-block
        margin-left: 27px
        width: 30px
        height: 30px
      div
        width: 20px
        height: 20px
        margin-left: 8px
        margin-top: 7px
        background-repeat: no-repeat
      .insearch
        position: absolute
        left: 29px
        display: none
        background-image: none
        .sarchtext
          width: 80px
          border: none
          height: 20px
          outline: none
          margin-top: -3px
          background-color: transparent
      .search
        background-image: image-url("icon/search.png")
      .login
        background-image: image-url("icon/acc.png")
      .cart
        background-image: image-url("icon/cart.png")
      .logged
        position: absolute
        left: 126px
        border-radius: 15px
        background-color: #F7F7F7
        display: inline-block
        margin-left: 27px
        width: 30px
        height: 30px
        background-color: rgba(16, 14, 11, 0.9)
        .login
          -webkit-filter: invert(1)
      .popup-trigger
        position: absolute
        width: 40px
        height: 55px
        top: 12px
        left: 139px
        .clickarea
          width: 30px
          height: 30px
          display: block
          margin-left: 6px
          margin-top: 6px
      .account-menu
        display: none
        position: absolute
        width: 166px
        height: 80px
        background: white
        padding-top: 20px
        z-index: 9999
        left: -125px
        top: 40px
        background-image: image-url("box.png")
        background-repeat: no-repeat
        p
          text-align: center
          font-weight: bold
        .logout
          padding: 5px 12px
          border: none
          background-color: black
          font-size: 12px
          color: white
          border-radius: 3px
          cursor: pointer
          margin-top: 20px
          display: block
          width: 24px
          margin-left: 97px
      .account-menu:hover
        display: block
  .nav2
    width: 100%
    height: 40px
    position: absolute
    top: 78px
    z-index: 999
    background: rgb(250,250,250)
    display: none
    left: 0
    .nav4
      border-top: 1px rgba(0,0,0,0) solid
      padding-top: 15px
      z-index: 97
      width: 100%
      position: absolute
      background: rgba(255,255,255,0.9)
      left: 0
      top: 40px
      display: none
    #cjoverlay
      height: 125px
    .nav3
      width: 640px
      margin: 0 auto
      padding-top: 13px
    li
      float: left
      padding-left: 28px
      padding-right: 28px
      display: block
      height: 40px
      a
        font-weight: bold !important
        font-size: 12px
      .down
        height: 5px
        width: 5px
        margin-left: 2px
        margin-top: 4px
        vertical-align: top
        display: inline-block
        background-image: image-url("icon/arrdown.png")
      .up
        height: 5px
        width: 5px
        margin-left: 2px
        margin-top: 4px
        vertical-align: top
        background-image: image-url("icon/arrup.png")
        display: none
      ul
        z-index: 98
        border-top: 1px rgba(0,0,0,0) solid
        padding-top: 15px
        display: none
        height: 125px
        position: absolute
        top: 40px
        padding-left: 0px
        width: auto
        li
          float: none
          height: 20px
          margin-top: 2px
          padding-left: 0
          a
            font-size: 11px
            color: #A8A8A8
          a:hover
            color: black
