@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "settings/mixins"
@import "settings/variables"

.orders
  margin-top: 30px

.item-table
  td, th
    vertical-align: middle

  td:first-child, th:first-child
    text-align: left

  td:last-child, th:last-child
    text-align: right

  tfoot td
    text-align: right !important

.cart-table
  // vertical width
  $itemImageWidth: 250px
  $itemTableWidth: 960px
  $itemInfoWidth: ($itemTableWidth - $itemImageWidth) / 4

  .image
    width: percentage($itemImageWidth / $itemTableWidth)
  .name
    width: percentage($itemInfoWidth / $itemTableWidth)
  .price
    width: percentage($itemInfoWidth / $itemTableWidth)
  .quantity
    width: percentage($itemInfoWidth / $itemTableWidth)
    input
      width: 20%
      text-align: center
      padding: 0
      margin: 0
  .total
    width: percentage($itemInfoWidth / $itemTableWidth)

.cart_foot
  p
    +meta_content

.order-actions
  float: right

.title
  img
    float: right

.side-table
  border: 1px solid $tableBorder

.checkout-back
  text-align: center
  a
    padding-left: 15px
    color: $grayLight
    background: url('back-tri.png') no-repeat 0 4px

    &:hover
      color: $gray
      background: transparent url('back-tri-hover.png') no-repeat 0 4px

ul.info-nav
  padding: 0
  margin: 0 0 30px 20px

  li
    list-style: none
    width: 33%
    float: left
    padding: 1px 0 5px 0
    margin: 0
    text-align: center
    color: $grayLight
    border-bottom: 1px solid $grayLight

    &.current
      // to fix the line spacing caused by fontweight
      padding-top: 0px
      color: $grayDark
      font-weight: bold
      border-bottom: 2px solid $tintColor
  
#success-info
  img
    float: right

form#new-order
  input[type=text], textarea
    width: 300px
