.item-table
  td
    vertical-align: middle

  // vertical width
  .image
    width: 30%
  .name
    width: 15%
  .price
    width: 15%
  .quantity
    width: 15%
    input
      width: 20%
      text-align: center
      padding: 0
      margin: 0
  .total
    width: 15%

