@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "settings/mixins"
@import "settings/variables"

.item-table
  td, th
    vertical-align: middle

  td:first-child, th:first-child
    text-align: left

  td:last-child, th:last-child
    text-align: right

  tfoot td
    text-align: right !important

  // vertical width
  $itemImageWidth: 250px
  $itemTableWidth: 960px
  $itemInfoWidth: ($itemTableWidth - $itemImageWidth) / 4

  .image
    width: percentage($itemImageWidth / $itemTableWidth)
  .name
    width: percentage($itemInfoWidth / $itemTableWidth)
  .price
    width: percentage($itemInfoWidth / $itemTableWidth)
  .quantity
    width: percentage($itemInfoWidth / $itemTableWidth)
    input
      width: 20%
      text-align: center
      padding: 0
      margin: 0
  .total
    width: percentage($itemInfoWidth / $itemTableWidth)


.cart_foot
  p
    +meta_content

  .actions
    text-align: right

.title
  img
    float: right

.side-table
  border: 1px solid $tableBorder

.checkout-back
  text-align: center
  a
    padding-left: 15px
    color: $grayLight
    background: url('back-tri.png') no-repeat 0 4px

    &:hover
      color: $gray
      background: transparent url('back-tri-hover.png') no-repeat 0 4px
  
#success-info
  img
    float: right
