.orderstatus
  margin: 0 auto
  width: 815px
  button
    padding: 5px 12px
    border: none
    background-color: black
    font-size: 12px
    color: white
    border-radius: 3px
    cursor: pointer
  h2
    font-size: 14px
    width: 795px
    border-bottom: 1px #E4E4E4 solid
    margin-bottom: 21px
    padding-bottom: 5px
  .status
    width: 795px
    height: 24px
    margin: 44 auto
    padding-left: 20px
    background-color: #F9F9F9
    div
      height: 19px
      float: left
      font-weight: bold
      text-align: center
      padding-top: 5px
      width: 75px
      margin-left: 2px
      margin-right: 4px
    .present
      background-color: #F7BC7C
      color: white
    .line
      letter-spacing: 6px
      margin-left: 0px
      margin-right: 0px
      margin-top: -3px
      color: #CDCDCD
      font-weight: normal
      width: auto
  .detail
    .left
      vertical-align: top
      display: inline-block
    .message
      display: inline-block
      width: 420px
      p
        margin-top: 0px
      a
        color: #D69556
  .orderlist
    margin-top: 40px
    margin-bottom: 50px
    .title
      padding-top: 6px
      height: 20px
      background-color: #F9F9F9
      border-bottom: 1px #E4E4E4 solid
      margin-left: 1px
      span
        width: 35px
        font-weight: bold
      .span1
        margin-left: 60px
      .span2
        margin-left: 126px
      .span3
        margin-left: 126px
      .span4
        margin-left: 87px
      .span5
        margin-left: 96px
      .span6
        margin-left: 114px
    .fill
      margin-left: 1px
      .left
        display: inline-block
      .right
        font-size: 14px
        font-weight: bold
        display: inline-block
        height: 0
        vertical-align: top
        padding-top: 0
        width: 125px
        border-bottom: 1px #E4E4E4 solid
        border-right: 1px #E4E4E4 solid
        text-align: center
  .wuliu
    border-bottom: 1px black solid
    padding-bottom: 30px
    .left
      vertical-align: top
      display: inline-block
    .message
      display: inline-block
      p
        margin-top: 0px
      .now
        color: #D69556
.eachorder
  width: 686px
  height: 110px
  border-bottom: 1px #E4E4E4 solid
  border-left: 1px #E4E4E4 solid
  border-right: 1px #E4E4E4 solid
  padding-top: 10px
  div
    display: inline-block
    vertical-align: top
    width: 80px
    text-align: center
  .product
    margin-left: 17px
    width: 103px
    img
      width: 103px
      height: 103px
  .name
    padding-top: 20px
    margin-left: 60px
    .en 
      margin-top: -12px
      font-size: 10px
  .sprice
    margin-left: 70px
    padding-top: 20px
  .qu
    padding-top: 20px
    margin-left: 32px
  .dis
    padding-top: 20px
    margin-left: 40px