body
  font-size: 12px
  font-family: \51AC\9752\9ED1\4F53\7B80\4F53\4E2D\6587,Helvetica,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,Arial,sans-serif
  color: #434A54
  margin: 0 
  padding: 0
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary 
  display: block
h1,h2,h3,h4,h5,h6
  font-size: 100%
ul,ol
  list-style: none
img
  border: 0
  vertical-align: top
  -ms-interpolation-mode: bicubic
a
  text-decoration: none
  color: #333
  outline: none
.nextpage
  font-weight: bold !important
  font-size: 13px !important
  text-align: center
  margin-top: 20px
  height: 125px
  opacity: 1
  img
    margin-top: 5px
    width: 50px
.toppage
  opacity: 0
  text-align: right
  padding-top: 20px
  padding-bottom: 50px
  padding-right: 50px
  img
    margin-top: 5px
    width: 50px
.page-show
  width: 900px
  margin: 50px auto
  line-height: 1.8
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.17em