.red-white
  margin: 40px auto
  width: 1100px
  position: relative
  img
    width: 100%
  a
    display: block
    position: absolute
  .white
    width: 364px
    height: 535px
    top: 203px
    left: 549px
  .red
    width: 364px
    height: 535px
    top: 203px
    left: 183px