.share
  margin-top: 15px
  a
    display: inline-block
    width: 20px
    height: 20px
    &.weibo
      background-image: image-url("bg/share_weibo.png")
    &.weixin
      margin-left: 10px
      background-image: image-url("bg/share_weixin.png")
    &.douban
      margin-left: 10px
      background-image: image-url("bg/share_douban.png")
