.box-show
  width: 900px
  margin: 0 auto
  padding-top: 121px
  height: 1230px
  img
    width: 100%
    height: 100%
  .tl
    width: 375px
    height: 400px
    margin: 20px 10px
    float: left
  .tr
    width: 450px
    height: 500px
    margin: 40px 0 10px 30px
    float: left
  .nl
    width: 350px
    height: 400px
    margin: 10px 0 10px 60px
    float: left
  .nr
    width: 350px
    height: 500px
    margin: 180px 0 10px 50px
    float: left