.box-show
  width: 675px
  margin: 0 auto
  padding-top: 121px
  height: 850px
  img
    width: 100%
  .tl
    width: 292px
    margin: 20px 10px
    float: left
  .tr
    width: 278px
    margin: 79px 0 10px 69px
    float: left
  .nl
    width: 252px
    margin: 10px 0 10px 60px
    float: left
  .nr
    width: 295px
    margin: 125px 0 10px 50px
    float: left