/*width*/
$global-width: 940px

/*font-size and line-height*/
$default-lineHeight: 1.4
$default-font: 12px

$content-font: 14px
$title-font: 16px
$title-font-large: 18px
$price-font: 20px
$price-font-large: 28px

/*color*/
$price-color: #a9643c
$buttonBgColor: $price-color

$global-text-color: #231815
$global-bg-color: $global-text-color
$global-border-color: $global-text-color

$cart-bg-color: #f7f7f7
$profile-bg-color: $cart-bg-color

$errorColor: #ff1d25
$errorBgColor: #fecaca

$masthead-color: #ffffff
$layout-text-color: #4c4948
$em-color: #cc0000
$strong-color: #191919

$content-normal-color: #666666
$border-heading-color: $content-normal-color
$border-light-color: lighten($content-normal-color,45%) /*#ccc*/
$bg-light-color: $border-light-color
$link-lighter-color: lighten($content-normal-color,20%) /*#999*/
$border-lighter-color: $link-lighter-color
$link-dark-color: darken($content-normal-color,20%) /*#333*/

$link-blue-color: #2e2a7c

$border-separate-color: #000000
$normal-text-color: $border-separate-color

$block-bg-color: $masthead-color

$border-masthead-color: $layout-text-color
$masthead-bg-color: #1A1A1A
