a.logo
  vertical-align: bottom

  &:hover
    background-color: transparent

// links used as action trigger
a.trigger
  +opacity(30)

  &:hover
    +opacity(100)
    background-color: transparent

a.subtle
  color: $grayLight
  // font-size: 90%

  &:hover
    color: $grayLight
    background-color: transparent
    text-decoration: underline
    

.button
  background-color: $tintColor
  color: $white
  border: none
  padding: 3px 8px

  &:hover
    text-decoration: underline

.button-alt
  @extend a.button
  color: $tintColor
  background-color: $white

  &:hover
    background-color: $white
    color: $tintColor
    text-decoration: underline

ul.nav
  list-style: none outside none
  padding-left: 0px
  margin: 0 0 20px 0
  line-height: $baseLineHeight

p.meta
  color: $grayLight
  margin-top: 0

ul.info-nav
  padding: 0
  margin: 0 0 30px 0

  li
    list-style: none
    width: 33%
    float: left
    padding: 1px 0 5px 0
    margin: 0
    text-align: center
    color: $grayLight
    border-bottom: 1px solid $grayLight

    &.current
      // to fix the line spacing caused by fontweight
      padding-top: 0px
      color: $grayDark
      font-weight: bold
      border-bottom: 2px solid $tintColor

// mod: links
// desc: use ul>li element as a list of links

ul.links
  padding: 0

  li
    display: inline
    padding: 0 6px 0 0
    margin: 0 6px 0 0

    &:after
      content: ''

#flash_notice, #flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: $infoBackground
  border: solid 1px $infoBorder
  color: $infoText

#flash_alert
  background-color: $errorBackground
  border: solid 1px $errorBorder
  color: $errorText
