abbr[title='required']
  color: $tintColor

a.logo
  vertical-align: bottom

  &:hover
    background-color: transparent

// links used as action trigger
a.trigger
  +opacity(30)

  &:hover
    +opacity(100)
    background-color: transparent

a.subtle
  color: $grayLight
  // font-size: 90%

  &:hover
    color: $grayLight
    background-color: transparent
    text-decoration: underline

a.link-button
  margin: 0px 5px
  padding: 3px 8px

.nav-back
  text-align: center
  a
    padding-left: 15px
    color: $grayLight
    background: asset-url('back-tri.png') no-repeat 0 4px

    &:hover
      color: $gray
      background: transparent asset-url('back-tri-hover.png') no-repeat 0 4px


.button
  background-color: $tintColor
  color: $white
  padding: 3px 8px
  margin: 0px 5px
  border: 1px solid $tintColor
  line-height: inherit

  &:hover
    text-decoration: underline

.button-alt
  @extend .button
  color: $tintColor
  background-color: $white

  &:hover
    background-color: $white
    color: $tintColor
    text-decoration: underline

ul.nav
  list-style: none outside none
  padding-left: 0px
  //margin: 0 0 20px 0
  line-height: $baseLineHeight

p.meta
  color: $grayLight
  margin-top: 0


// mod: links
// desc: use ul>li element as a list of links

ul.links
  padding: 0

  li
    display: inline
    padding: 0 6px 0 0
    margin: 0 6px 0 0

    &:after
      content: ''

.flash
  padding: 5px 8px
  margin: 10px 0

#flash_ad
  background-color: $tintColor
  border: solid 1px $tintColor
  color: $white
  text-align: center

#flash_notice
  background-color: $infoBackground
  border: solid 1px $infoBorder
  color: $infoText

#flash_alert
  background-color: $errorBackground
  border: solid 1px $errorBorder
  color: $errorText
