- content_for :js do
  javascript:
    var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-22600-1']);

    _mvq.push(['$setGeneral', 'ordercreate', '', /*用户名*/ '#{current_user.try(:username)}', /*用户id*/ '#{current_user.try(:id)}']);
    _mvq.push(['$logConversion']);
    _mvq.push(['$addOrder',/*订单号*/ '#{order.identifier}', /*订单金额*/ '#{order.total}']);
  - order.line_items.each do |item|
    - image_url = "http://#{$host}#{item.product.assets.first.image.url(:medium)}"
    javascript:
      _mvq.push(['$addItem', /*订单号*/ '#{order.identifier}', /*商品id*/ '#{item.product_id}', /*商品名称*/ '#{item.name}', /*商品价格*/ '#{item.price}', /*商品数量*/ '#{item.quantity}', /*商品页url*/ '#{product_url(item.product)}', /*商品页图片url*/ '#{image_url}']);
      _mvq.push(['$logData']);
