- content_for :js do
  javascript:
    var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-22600-1']);

    _mvq.push(['$setGeneral', 'goodsdetail', '', '#{current_user.try(:username)}', '#{current_user.try(:id)}']);
    _mvq.push(['$logConversion']);

    _mvq.push(['setPageUrl', '#{product_url(product)}']);
    _mvq.push(['$addGoods',  '#{product.collection.id}', /*品牌id*/ 'Huali', /*商品名称*/ '#{product.name}',/*商品ID*/ '#{product.id}',/*商品售价*/ '#{product.price}', /*商品图片url*/ 'http://#{$host}#{@asset_urls.first[:medium]}', /*分类名*/ '#{product.collection.name}', /*品牌名*/ 'Huali', /*商品库存状态1或是0*/ '#{product.count_on_hand > 0 ? 1 : 0}', /*网络价*/ '',/*收藏人数*/ '', /*商品下架时间*/ '']);
    _mvq.push(['$logData']);

