<!-- JiaThis Button BEGIN -->
<div class="jiathis_style" id="product-share">
  <a class="jiathis_button_tsina"></a>
  <a class="jiathis_button_fb"></a>
  <a class="jiathis_button_twitter"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
  data_track_clickback: true,
  title: 'The great flower I discovered at hua.li:  <%= @product.name %>',
  summary: '<%= @product.inspiration.try(:gsub, "\r\n", " ") %>',
  pic: 'http://hua.li/<%= @asset_urls.first[:medium] %>',
  ralateuid: {
    "tsina": "花里花店"
  },
  appkey: {
    "tsina": '214509410',
    "tqq": ''
  },
  hideMore: true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1716203" charset="utf-8"></script>
<!-- JiaThis Button END -->
