<div id="image-showcase">
  <div id="image-cover"></div>
  <%= image_tag @asset_urls.first[:full], alt: "#{@product.name} Images" %>
</div>
<ul id="image-slides" class="links">
  <% @asset_urls.each_with_index do |asset_url, index| %>
    <% if index < 5 %>
    <li class="slide">
      <%= link_to image_tag(asset_url[:thumb], alt: "product image"), asset_url[:full], :class => 'thumbnail', :title => @product.name %>
    </li>
    <% end %>
  <% end %>
</ul>
