.l-inline
  display: inline

.l-stack
  display: block !important

.l-inline-stack
  display: inline-block

.l-none
  display: none

#l-show
  width: $global-width
  margin: 0 auto

#l-show-m
  padding: 10px

/*下面这些目前没用了，先留着，以防万一再改回去*/
#l-fixed-area-item2
  position: relative
  padding-top: 169px

#l-fixed-area-item3
  position: relative
  padding-top: 224px
  #l-fixed-area-container
    top: 55px
  #l-nav
    top: 189px

#qq-customer-service
  display: none
  position: fixed
  right: 0
  bottom: 58%
  img
    width: 112px
    height: 98px

.visible
  display: block !important
