<div class="footer-social-container row">
  <div id="footer-social" class="span4">
    <span>Follow Us:</span>
    <a class="social-link facebook" href=" http://feedburner.com">&nbsp;</a>
    <a class="social-link twitter" href="http://twitter.com">&nbsp;</a>
    <a class="social-link rss" href="http://www.facebook.com">&nbsp;</a>
  </div>
  <div id="footer-banner" class="span4"><img src="http://8theme.com/demo/blanco/media/wysiwyg/blanco/gift.png" alt=""></div>
  <div id="footer-phone" class="span4"><img src="http://8theme.com/demo/blanco/media/wysiwyg/blanco/telephone.png" alt=""></div>
</div>

  <div id="main-footer" class="row">

    <div class="footer-left span8">
      <div class="shippingreturns">
        <div class="shippingpolicy" style="width: 140px; float: left;">
          <h4>Our Offers</h4>
          <ul class="policy">
            <li><a href="#">New products</a></li>
            <li><a href="#">Top sellers</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Manufacturers</a></li>
            <li><a href="#">Suppliers</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Service</a></li>
          </ul>
        </div>
        <div class="shippingpolicy" style="width: 150px; float: left;">
          <h4>Shipping Info</h4>
          <ul class="policy">
            <li><a href="#">Returns</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Manufacturers</a></li>
          </ul>
        </div>
        <div class="shippingpolicy" style="width: 150px; float: left;">
          <h4>Our Account</h4>
          <ul class="policy">
            <li><a href="#">Your Account</a></li>
            <li><a href="#">information</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Discount</a></li>
            <li><a href="#">Orders history</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Search Terms</a></li>
          </ul>
        </div>
        <div class="shippingpolicy" style="width: 150px; float: left;">
          <h4>Our Support</h4>
          <ul class="policy">
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Search Terms</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Addresses</a></li>
          </ul>
        </div>
    </div>
  </div>

  <div class="footer-right span4">
    <div id="newletter-registration">
      <h4>Sign up for our newsletter</h4>
      <form action="/" method="post" id="newsletter-detail">
        <div class="input-box">
          <input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text">
          <button type="submit" title="Submit" class="button"><span>Submit</span></button>
        </div>
      </form>
    </div>

    <div id="opening-time">
      <h4>Opening time:</h4>
      <address>
        <span>Mon-Fri: .......................... 8.00 to 18.00</span>
      </address>
      <address>
        <span>Mon-Fri: .......................... 8.00 to 18.00</span>
      </address>
      <address>
        <span>Mon-Fri: .......................... 8.00 to 18.00</span>
      </address>
    </div>
  </div>
  </div>

  <div id="back-top" style="display: block; "><a href="#top" id="top-link">Back to top</a></div>

<div class="footer">
  <div class="f-left">
    <ul class="links">
      <li class="first"><a href="http://8theme.com/demo/blanco/catalog/seo_sitemap/category/" title="Site Map">Site Map</a></li>
      <li><a href="http://8theme.com/demo/blanco/catalogsearch/term/popular/" title="Search Terms">Search Terms</a></li>
      <li><a href="http://8theme.com/demo/blanco/catalogsearch/advanced/" title="Advanced Search">Advanced Search</a></li>
      <li><a href="http://8theme.com/demo/blanco/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
      <li class=" last"><a href="http://8theme.com/demo/blanco/contacts/" title="Contact Us">Contact Us</a></li>
    </ul>
    <br>
    © 2012 Magento Mercado Store. All Rights Reserved.&nbsp;&nbsp;
  </div>
  <div class="f-right">
    <div style="padding-top: 2px;"><img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/paypal.png" alt="paypal">&nbsp;&nbsp; &nbsp;<img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/discover.png" alt="discover">&nbsp; &nbsp;&nbsp;<img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/visa_straight.png" alt="visa_straight">&nbsp; &nbsp;&nbsp;<img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/aex.png" alt="aex">&nbsp; &nbsp;&nbsp;<img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/mastercard.png" alt="mastercard">&nbsp;&nbsp; &nbsp;<img src="http://8theme.com/demo/blanco/media/wysiwyg/mercado/maestro.png" alt="maestro"></div>        </div>
</div>
