<div id="back-top"><a href="#top" id="top-link">Back to top</a></div>
<div id="bottom-footer" class="row">
  <div class="span7">
    <ul class="links">
      <li class="first'"> <a href="/about" title="About Us">关于我们</a></li>
      <span>|</span>
      <li> <a href="/faq" title="FAQ">常见问题</a> </li>
      <span>|</span>
      <li> <a href="/help-center" title="Help Center">帮助中心</a> </li>
      <span>|</span>
      <li> <a href="/procedure" title="Ordering Procedure">购物流程</a> </li>
      <span>|</span>
      <li> <a href="/copyright" title="copyright">版权及隐私声明</a></li>
      <span>|</span>
    </ul>
    <p class='copyright'> 2012 ChanganFlowers.com. All Rights Reserved.&nbsp;&nbsp;</p>
  </div>
</div>
