<div class="header row">
  <div class="header-left span4">
    <a href="/" title="Changan Flowers" class="logo">
      <%= image_tag 'logo.png', alt: "Changan Flowers Logo", height: '80px' %>
    </a>
  </div>
  <div class="header-banner span2 offset6">
    <table>
      <tr>
        <td>
          <span>15000058458</span>
        </td>
        <td>
          <%= image_tag 'icon-call.png', alt: "call icon" %>
        </td>
      </tr>
      <tr>
        <td>
          <span>货到付款</span>
        </td>
        <td>
          <%= image_tag 'icon-trunk.png', alt: "trunk icon" %>
        </td>
      </tr>
    </table>
  </div>
  <div class="header-right span2 offset6">
    <div class="minicart">
      <div class="block block-cart-header">
        <div class="block-content">
          <span class="button-show"><a href="http://8theme.com/demo/blanco/checkout/cart/">Shopping Cart</a>
            -             <span class="price">$0.00</span>
          </span>
          <div id="header-items" class="empty">
            <p class="empty">You have no items in your shopping cart.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
