<header>
  <div> <%= link_to image_tag('logo.png'), home_path, class: 'logo', title: "Hua.li | 花里" %> </div>
  <div id="weibo-follow">
    <wb:follow-button uid="3089584727" type="red_1" width="67" height="24" ></wb:follow-button>
  </div>
</header>
