<div class="header row">
  <div class="header-left span4">
    <a href="./blanco_files/blanco.html" title="Magento Mercado" class="logo"><img src="http://8theme.com/demo/blanco/skin/frontend/default/blanco/images/logo.png" alt="Magento Mercado"></a>
  </div>
  <div class="header-right span2 offset6">
    <div class="minicart">
      <div class="block block-cart-header">
        <div class="block-content">
          <span class="button-show"><a href="http://8theme.com/demo/blanco/checkout/cart/">Shopping Cart</a>
            -             <span class="price">$0.00</span>
          </span>
          <div id="header-items" class="empty">
            <p class="empty">You have no items in your shopping cart.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
