- if Setting.head_service_notice.present?
  = content_tag :div, Setting.head_service_notice, class: 'flash', id: "flash_ad"

- flash.each do |name, msg|
  = content_tag :p, msg, id: "flash_#{name}", class: 'flash error-tips' if msg.is_a?(String)
