<ul id="product-nav" class="nav">
  <li class="active"><a href="">what is a flowers</a></li>
  <li><a href="">hello, it is a flowers</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <%= render 'devise/menu/login_items' %>
  <%= render 'devise/menu/registration_items' %>
</ul>