<div class="nav-container container">
	<ul id="nav">
		<li> <%= link_to "首页", '/' %> </li>
		<li> <%= link_to "全部", '/' %> </li>
		<li> <%= link_to "瓶花", '/' %> </li>
		<li> <%= link_to "盆花", '/' %> </li> 
	</ul>
</div>