<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Printing</title>
    <%= yield(:css) %>
    <%= yield(:js) %>
    <style type="text/css" media="print">
        @page
        {
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

        body
        {
            background-color:#FFFFFF;
            border: solid 0px black ;
            margin: 0px;  /* the margin on the content before printing */
       }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
